<div class="program" style="min-height: 100vh;">
<div class="container-card modyfy-container-card" spellcheck="false" style="height: auto;">
  {{#each auto}}
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <form id="updateForm_{{_id}}">
        <input type="hidden" id="_id" name="_id" value="{{_id}}">
        <div class="form-group">
          <label for="userInput" id="title">Tiêu đề: {{this.title}}</label>
          <textarea class="form-control" name="htmlContent" id="userInput" rows="4" style="height: 300px;">{{joinArray this.items}}</textarea>
        </div>
        <button type="button" class="btn btn-primary" id="processButton">lưu gợi ý</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('main').style.display = 'none';
    document.getElementById('admin').style.display = 'block';
    document.getElementById('main').innerHTML = '';
    const button = document.getElementById('processButton');

    button.addEventListener('click', function () {
      processInput(this);
    });
  });

  async function processInput() {

    const userInput = document.getElementById('userInput').value;

    const names = userInput.split(/,\s*/).map(name => name.trim());

    const vietnameseNames = names.filter(name =>
      /[àáảãạăắằẳẵặâấầẩẫậđéèẻẽẹêếềểễệíìỉĩịóòỏõọôốồổỗộơớờởỡợúùủũụưứừửữựýỳỷỹỵ]/i.test(name)
    );

    const uniqueVietnameseNames =await Array.from(new Set(vietnameseNames));
    
    //const formId = form.id.replace("updateForm_", "");

    // Lấy title từ id của label
    const titleLabel = document.getElementById("title");
    const title = titleLabel.innerText;
    const _id = document.getElementById("_id").value;
    let formObject = {
      _id:_id,
      items: uniqueVietnameseNames 
    };
     axios.put('/admin/autocomplete/update/' + _id, formObject)
      .then(function (response) {
        console.log('Updated successfully:', response.data);
        alert("Chỉnh sửa thành công");
        window.location.reload();
      })
      .catch(function (error) {
        console.error('Update failed:', error);
      });
  }
</script>