<div class="layout_Admin">
<div class="Admin_Nav">
    <a href="/admin"><h5>Trang Admin</h5></a>
    <a href="/admin/program">Quản lý chương trình </a><br>
    <a href="/template">Quản lý khung</a><br>
    <a href="/admin/list-user">Quản lý user</a><br>
</div>

<div class="Admin_product">
    <div class="Admin_product_list">


    </div>
</div>
</div>
<script>
  document.getElementById('modify__admin_hidden').style.display = 'block';
  document.getElementById('modify__user_hidden').style.display = 'none';
  document.getElementById('modify__project_hidden').style.display = 'none';
  document.getElementById('modify__SaveP_hidden').style.display = 'none';
  document.getElementById('modify__PDF_hidden').style.display = 'none';
  document.getElementById('modify__listProject_hidden').style.display = 'none';
</script>