<div style="width: 100%; margin-top:100px"> 
    <h1 style="text-align: center;">
        Chào mừng đến với trang chủ
    </h1>
</div>
<script>
document.getElementById('main').style.display = 'none';
document.getElementById('admin').style.display = 'block';
document.getElementById('main').innerHTML = '';
</script>
