<script>

function AddElementP_tb2(key) {
    document.getElementById(key).addEventListener('keydown', function (event) {    
            event.preventDefault();
            var newParagraph = document.createElement('p');
            var newIndex = document.getElementsByClassName('giaotrinh');
            newParagraph.id = 'giaotrinh' + (newIndex.length);
            newParagraph.className ='giaotrinh' + (newIndex.length);
            var innerHTMLContent = '[' +
                '<span id="STT" contenteditable="true" onclick="toggleElement(\'giaotrinh' + newIndex.length + '\')">' + newIndex.length + '</span>] ' +
                '<span id="tacGiaGT-' + newIndex.length + '" contenteditable="true" onclick="toggleElement(\'giaotrinh' + newIndex.length + '\')">\'Tên tác giả\'</span> ' +
                ' (<span id="namxuatbangt-' + newIndex.length + '" contenteditable="true" onclick="toggleElement(\'giaotrinh' + newIndex.length + '\')">2014</span>).&nbsp; ' +
                '<span id="tenTLTKGT-' + newIndex.length + '" contenteditable="true" onclick="toggleElement(\'giaotrinh' + newIndex.length + '\')" class="text-nghien">\'Tên tác phẩm\'</span> ' +
                '[<span id="nguongt-' + newIndex.length + '" contenteditable="true" onclick="toggleElement(\'giaotrinh' + newIndex.length + '\')">\'Nguồn\'</span>] ' +
                '<strong contenteditable="true">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>';
            newParagraph.innerHTML = innerHTMLContent;
            document.getElementById('TaiLieuGiaotrinh').appendChild(newParagraph);
            var newDiv = document.createElement('div');
            newDiv.id = 'giaotrinh' + newIndex.length + 'Div';
            newDiv.className = 'hidden';
            newDiv.setAttribute('onblur', 'updateAndToggleElement(\'giaotrinh' + newIndex.length + '\', \'giaotrinh' + newIndex.length + 'Div\')');
            newDiv.setAttribute('onkeydown', 'handleKeyDown(event, \'giaotrinh' + newIndex.length + '\', \'giaotrinh' + newIndex.length + 'Div\')');
            var innerHTMLContentDiv = 
            '<p><strong>Stt:</strong>&nbsp;<span id="STTDivSpan" contenteditable="true"></span></p>' +
                '<p><strong>Tên tác giả:</strong> &nbsp;<span id="tacGiaDivSpan" contenteditable="true"></span></p>' +
                '<p><strong>Năm Xuất bảng:</strong> &nbsp;<span id="namDivSpan" contenteditable="true"></span></p>' +
                '<p><strong>Tên tài liệu tham khảo:</strong> &nbsp;<span id="tenTLTKDivSpan" contenteditable="true" class="text-nghien"></span></p>' +
                '<p><strong>Nguồn:</strong> &nbsp;<span id="nguonDivSpan" contenteditable="true"></span></p>';
            newDiv.innerHTML = innerHTMLContentDiv;
            document.getElementById('TaiLieuGiaotrinh').appendChild(newDiv);
        
    });
}

AddElementP_tb2('TaiLieuGiaotrinh');   
</script>