<a href="/admin/program">Quản lý Program</a><br>
{{#if Program}}
<div>
    <a href="/admin/program/edit"> -&nbsp;&nbsp;Chỉnh sửa Program</a>
</div><br>
<div>
    <a href="/admin/program/plo"> -&nbsp;&nbsp;Quản lý PLO</a>
</div><br>
<div>
    <a href="/admin/program/po"> -&nbsp;&nbsp;Quản lý PO</a>
</div><br>
<div>
    <a href="/admin/program/Matrix"> -&nbsp;&nbsp;Quản lý PLO-PO</a>
</div>
<br>
{{else}}

{{/if}}
<a href="/admin/template">Quản lý khung</a><br>
<a href="/admin/list-user">Quản lý người dùng</a><br>
<a href="/admin/Autocomplete">Quản lý từ gợi ý</a><br>

    <div style="color: blue;">&nbsp;&nbsp;Hướng phát triển</div>

    <div>
    <a href="/admin/template-development">Kéo thả</a>
</div>

