<script>
    var TenHocPhan = [
        'GIÁO DỤC THỂ CHẤT 1',
        'GIÁO DỤC THỂ CHẤT 2',
        'GIÁO DỤC THỂ CHẤT 3',
        'Học phần I: Đường lối QP và an ninh của ĐCSVN',
        'Học phần II: Công tác quốc phòng và an ninh',
        'Học phần III: Quân sự chung',
        'Học phần IV: Kỹ thuật chiến đấu bộ binh và chiến thuật',
        'ANH VĂN KHÔNG CHUYÊN 1',
        'TRIẾT HỌC MÁC-LÊNIN',
        'PHÁP LUẬT ĐẠI CƯƠNG',
        'NHẬP MÔN CÔNG NGHỆ THÔNG TIN',
        'VI TÍCH PHÂN A1',
        'ĐẠI SỐ TUYẾN TÍNH',
        'KỸ THUẬT LẬP TRÌNH',
        'KỸ NĂNG MỀM',
        'ANH VĂN KHÔNG CHUYÊN 2',
        'KINH TẾ CHÍNH TRỊ MÁC-LÊNIN',
        'PHƯƠNG PHÁP NGHIÊN CỨU KHOA HỌC',
        'TIẾNG VIỆT THỰC HÀNH',
        'LOGIC HỌC ĐẠI CƯƠNG',
        'TOÁN RỜI RẠC',
        'ĐẠI SỐ ĐẠI CƯƠNG',
        'CẤU TRÚC DỮ LIỆU VÀ GIẢI THUẬT',
        'CHỦ NGHĨA XÃ HỘI KHOA HỌC',
        'ANH VĂN KHÔNG CHUYÊN 3',
        'CƠ SỞ DỮ LIỆU',
        'VI TÍCH PHÂN A2',
        'LÝ THUYẾT ĐỒ THỊ',
        'KIẾN TRÚC MÁY TÍNH',
        'LẬP TRÌNH HƯỚNG ĐỐI TƯỢNG',
        'ANH VĂN KHÔNG CHUYÊN 4',
        'TƯ TƯỞNG HỒ CHÍ MINH',
        'HỆ ĐIỀU HÀNH',
        'THIẾT KẾ WEB',
        'MẠNG MÁY TÍNH',
        'ANH VĂN CHUYÊN NGÀNH CNTT',
        'LÝ THUYẾT XẾP HÀNG',
        'QUY HOẠCH TUYẾN TÍNH',
        'VẬT LÝ ĐẠI CƯƠNG',
        'LỊCH SỬ ĐẢNG CỘNG SẢN VIỆT NAM',
        'THỐNG KÊ VÀ PHÂN TÍCH DỮ LIỆU',
        'THỰC TẬP ĐỒ ÁN CƠ SỞ NGÀNH',
        'ĐIỆN TOÁN ĐÁM MÂY',
        'PHÂN TÍCH VÀ THIẾT KẾ HỆ THỐNG THÔNG TIN',
        'LẬP TRÌNH ỨNG DỤNG TRÊN WINDOWS',

        'THƯƠNG MẠI ĐIỆN TỬ',
        'ĐỒ HỌA ỨNG DỤNG',
        'CHUYÊN ĐỀ LINUX',
        'AN TOÀN VÀ BẢO MẬT THÔNG TIN',
        'CÔNG NGHỆ PHẦN MỀM',
        'LẬP TRÌNH THIẾT BỊ DI ĐỘNG',
        'KHAI PHÁ DỮ LIỆU',
        'CƠ SỞ TRÍ TUỆ NHÂN TẠO',
        'HỆ QUẢN TRỊ CƠ SỞ DỮ LIỆU',
        'NGUYÊN LÝ KẾ TOÁN',
        'KỸ THUẬT XÂY DỰNG VÀ BAN HÀNH VĂN BẢN',
        'TÂM LÝ HỌC ĐẠI CƯƠNG',
        'QUẢN TRỊ DOANH NGHIỆP',
        'CHUYÊN ĐỀ ĐẶC BIỆT',
        'PHÁT TRIỂN ỨNG DỤNG WEB MÃ NGUỒN MỞ',
        'PHÁT TRIỂN ỨNG DỤNG HƯỚNG DỊCH VỤ',
        'QUẢN TRỊ DỰ ÁN CÔNG NGHỆ THÔNG TIN',
        'THỰC TẬP ĐỒ ÁN CHUYÊN NGÀNH',
        'XỬ LÝ ẢNH',
        'TƯƠNG TÁC NGƯỜI – MÁY',
        'CHUYÊN ĐỀ ASP.NET',
        'XÂY DỰNG PHẦN MỀM HƯỚNG ĐỐI TƯỢNG',
        'MÁY HỌC ỨNG DỤNG',
        'THỰC TẬP CUỐI KHÓA',
        'HỆ THỐNG THÔNG TIN QUẢN LÝ',
        'ĐỒ ÁN TỐT NGHIỆP'
    ];

    var MaHocPhan = [
        191.0,
        192.08,
        193.15,

        190081,
        190082,
        190083,
        190084,

        410291,
        180050,

        220233,

        220092,
        110042,
        220233,
        220228,
        '',
        410292,
        180051,
        450015,
        170011,
        180051,
        110003,

        220233,
        220234,
        180052,
        410293,
        220096,
        110002,
        220100,
        110079,
        220099,
        410294,

        180001,
        220101,
        220236,
        220018,
        220250,
        220237,
        110057,
        120004,
        180053,
        320045,

        220265,
        220267,
        220239,
        220086,
        220065,
        220241,
        220034,
        220126,
        220055,
        220071,

        220109,
        220242,
        220060,
        430000,
        420000,
        450006,
        440000,
        '',
        220243,
        220268,

        220078,
        220266,
        220057,
        220245,
        220064,
        220120,
        220248,
        220114,
        220232,
        000004
    ]
    var HocPhanTienQuyet = [
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Anh văn không chuyên 1',
        'Triết học Mác-Lênin',
        'Không',
        'Không',
        'Triết học Mác-Lênin',
        'Không',
        'Không',
        'Kỹ thuật lập trình',
        'Kinh tế chính trị Mác – Lênin',
        'Anh văn không chuyên 2',
        'Không',
        'Vi tích phân A1',
        'Kỹ thuật lập trình',
        'Toán rời rạc',
        'Kỹ thuật lập trình',
        'Anh văn không chuyên 3',
        'Chủ nghĩa xã hội khoa học',
        'Kiến trúc máy tính',
        'Kỹ thuật lập trình',
        'Kiến trúc máy tính',
        'Anh văn không chuyên 4',
        'Lý thuyết đồ thị',
        'Đại số tuyến tính',
        'Không',
        'Tư tưởng Hồ Chí Minh',
        'Đại số tuyến tính',
        'Các học phần cơ sở ngành',
        'Mạng máy tính',
        'Cơ sở dữ liệu',
        'Lập trình hướng đối tượng _ Cơ sở dữ liệu',
        'Không',
        'Không',
        'Không',
        'Mạng máy tính _ Cấu trúc dữ liệu và giải thuật',
        'Phân tích và thiết kế hệ thống thông tin',
        'Kỹ thuật lập trình',
        'Cơ sở dữ liệu',
        'Kỹ thuật lập trình _ Thống kê và phân tích dữ liệu',
        'Cấu trúc dữ liệu và giải thuật _ Phân tích và thiết kế hệ thống thông tin',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Thiết kế web',
        'Lập trình hướng đối tượng',
        'Công nghệ phần mềm',
        'Các học phần chuyên ngành',
        'Cấu trúc dữ liệu và giải thuật',
        'Phân tích và thiết kế hệ thống thông tin _ Công nghệ phần mềm',
        'Thiết kế web',
        'Lập trình hướng đối tượng _ Công nghệ phần mềm',
        'Kỹ thuật lập trình',
        'Các học phần chuyên ngành',
        'Không',
        'Các học phần chuyên ngành'
    ]

    var Ten_HocPhan_TQ = [
        'Anh văn không chuyên 1',
        'Triết học Mác-Lênin',
        'Kỹ thuật lập trình',
        'Vi tích phân A1',
        'Toán rời rạc',
        'Anh văn không chuyên 3',
        'Chủ nghĩa xã hội khoa học',
        'Kiến trúc máy tính',
        'Lý thuyết đồ thị',
        'Đại số tuyến tính',
        'Tư tưởng Hồ Chí Minh',
        'Mạng máy tính',
        'Cơ sở dữ liệu',
        'Lập trình hướng đối tượng',
        'Phân tích và thiết kế hệ thống thông tin',
        'Thống kê và phân tích dữ liệu',
        'Cấu trúc dữ liệu và giải thuật',
        'Thiết kế web',
        'Lập trình hướng đối tượng',
        'Công nghệ phần mềm',
        'Các học phần cơ sở ngành',
        'Các học phần chuyên ngành',
        'Không',
    ];
    var MSHP_HocPhan_TQ = [
        '410291',
        '180050',
        '220228',
        '110042',
        '110003',
        '410293',
        '180052',
        '110079',
        '220100',
        '110001',
        '180001',
        '220018',
        '220096',
        '220099',
        '220239',
        '320045',
        '220234',
        '220236',
        '220099',
        '220055',
    ]
    var ListChucDanh = [
        'PGS',
        'TS',
        'TS',
        'TS',
        'TS',
        'TS',

        'Ths',
        'Ths',
        'Ths',
        'Ths',
        'Ths',
        'Ths',

        'Ths',
        'Ths',
        'Ths',
        'Ths',
        'Ths',
        'Ths',
        
        'Ths',
        'Ths',
        'Ths',
        'Ths',
        'Ths',
        'Ths',

        'Ths',
        'Ths',
        'Ths',
        'Ths',
        'Ths',
        'Ths',
    ]
    var Teacher = [
        'Nguyễn Thái Sơn',
        'Võ Phước Hưng',
        'Phan Quốc Nghĩa',
        'Nguyễn Trần Diễm Hạnh',
        'Nguyễn Nhứt Lam',
        'Nguyễn Bảo Ân',
        'Nguyễn Bá Nhiệm',
        'Phan Thị Phương Nam',
        'Nguyễn Khắc Quốc',
        'Võ Thành C',
        'Lê Minh Tự',
        'Khấu Văn Nhựt',
        'Trần Văn Nam',
        'Nguyễn Thừa Phát Tài',
        'Huỳnh Văn Thanh',
        'Nguyễn Hoàng Duy Thiện',
        'Trịnh Quốc Việt',
        'Phạm Minh Đương',
        'Nguyễn Ngọc Đan Thanh',
        'Hà Thị Thúy Vi',
        'Ngô Thanh Huy',
        'Phạm Thị Trúc Mai',
        'Đoàn Phước Miền',
        'Trầm Hoàng Nam',
        'Dương Ngọc Vân Khanh',
        'Nhan Minh Phúc',
        'Nguyễn Mộng Hiền',
        'Thạch Kọng Saoane',
        'Lê Văn Phol',
        'Lê Phong Dũ'
    ]
    // In mảng ra console để kiểm tra
    if (document.getElementById("TenMon")) {
        autocomplete(document.getElementById("TenMon"), TenHocPhan, "TenHocPhan");
    }
    if (document.getElementById("TenTQ1")) {
        autocomplete(document.getElementById("TenTQ1"), Ten_HocPhan_TQ, "TenTQ");
    }
    if (document.getElementById("MaTQ1")) {
        autocomplete(document.getElementById("MaTQ1"), Ten_HocPhan_TQ, "hungtext");
    }
    if (document.getElementById("TenTQ2")) {
        autocomplete(document.getElementById("TenTQ2"), Ten_HocPhan_TQ, "TenTQ");
    }
    if (document.getElementById("MaTQ2")) {
        autocomplete(document.getElementById("MaTQ2"), Ten_HocPhan_TQ, "hungtext");
    }
    //autocomplete(document.getElementById("MaMon"), MaHocPhan);
    //autocomplete(document.getElementById("myInput2"), countries);HoTen1

    if (document.getElementById("HoTen1")) {
        autocomplete(document.getElementById("HoTen1"), Teacher, "Teacher");
    }
    if (document.getElementById("HoTen2")) {
        autocomplete(document.getElementById("HoTen2"), Teacher, "Teacher");
    }
    if (document.getElementById("HoTen2")) {
        autocomplete(document.getElementById("HoTen2"), Teacher, "Teacher");
    }
    
    function autocomplete(inp, arr, NameTerm) {


        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.textContent;

            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);

            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function (e) {
                        inp.innerHTML = this.getElementsByTagName("input")[0].value;
                        if (NameTerm === "TenHocPhan") {
                            console.log("đa vao tenhoc phan")
                            var selectedValues = inp.innerHTML;
                            var chuoiA = []
                            if (selectedValues) {
                                for (var i = 0; i < TenHocPhan.length; i++) {
                                    if (selectedValues === TenHocPhan[i]) {
                                        const MaMon = document.getElementById('MaMon')
                                        MaMon.textContent = MaHocPhan[i];
                                        var Ma = MaHocPhan[i];
                                        chuoiA.push(HocPhanTienQuyet[i]);
                                    }
                                }
                            }

                            var chuoiChuaKyTu_ = chuoiA.filter(function (chuoi) {
                                return chuoi.includes('_');
                            });

                            if (chuoiChuaKyTu_.length > 0) {
                                var chuoi = chuoiChuaKyTu_[0];
                                var mangChuoi = chuoi.split(' _ ');
                                var mangChuoiUpper = mangChuoi.map(function (item) {
                                    return item.toUpperCase();
                                });
                                //console.log('kết quả: ' + mangChuoi.join(', '));
                                var tienQuyetDiv = document.getElementById("TienQuyet");

                                while (tienQuyetDiv.firstChild) {
                                    tienQuyetDiv.removeChild(tienQuyetDiv.firstChild);
                                }

                                // Ma hoc phan của 
                                var maTQ = [];

                                for (var i = 0; i < TenHocPhan.length; i++) {
                                    if (mangChuoiUpper[0] === TenHocPhan[i]) {
                                        maTQ.push(MaHocPhan[i])
                                    }
                                    if (mangChuoiUpper[1] === TenHocPhan[i]) {
                                        maTQ.push(MaHocPhan[i])
                                    }
                                }
                                for (var i = 0; i < mangChuoi.length; i++) {
                                    // Tạo cấu trúc HTML cần thêm
                                    var htmlToAdd = `
                                            <div class="ModifyTB2">
                                                <div class="autocomplete">Tên:&nbsp;
                                                    <span contenteditable="true" id="TenTQ${i + 1}">${mangChuoi[i]}</span>
                                                </div>

                                                <div class="autocomplete">MSHP:&nbsp;
                                                    <span contenteditable="true" id="MaTQ${i + 1}">${maTQ[i]}</span>
                                                </div>
                                            </div>
                                        `;
                                    // Thêm cấu trúc HTML vào phần tử "TienQuyet"
                                    tienQuyetDiv.innerHTML += htmlToAdd;
                                }
                                if (document.getElementById("TenTQ1")) {
                                    autocomplete(document.getElementById("TenTQ1"), Ten_HocPhan_TQ, "TenTQ");
                                }
                                if (document.getElementById("MaTQ1")) {
                                    autocomplete(document.getElementById("MaTQ1"), Ten_HocPhan_TQ, "hungtext");
                                }
                                if (document.getElementById("TenTQ2")) {
                                    autocomplete(document.getElementById("TenTQ2"), Ten_HocPhan_TQ, "TenTQ");
                                }
                                if (document.getElementById("MaTQ2")) {
                                    autocomplete(document.getElementById("MaTQ2"), Ten_HocPhan_TQ, "hungtext");
                                }
                                if (document.getElementById("TenTQ3")) {
                                    autocomplete(document.getElementById("TenTQ3"), Ten_HocPhan_TQ, "TenTQ");
                                }
                                if (document.getElementById("MaTQ3")) {
                                    autocomplete(document.getElementById("MaTQ3"), Ten_HocPhan_TQ, "hungtext");
                                }
                            } else {
                                var tienQuyetDiv = document.getElementById("TienQuyet");
                                while (tienQuyetDiv.firstChild) {
                                    tienQuyetDiv.removeChild(tienQuyetDiv.firstChild);
                                }
                                var maTQ = [];

                                for (var i = 0; i < TenHocPhan.length; i++) {
                                    if (chuoiA[0].toUpperCase() === TenHocPhan[i]) {
                                        maTQ.push(MaHocPhan[i])
                                    }
                                }


                                if (chuoiA[0] === 'Không') {
                                    var htmlToAdd = `
                                            <div class="ModifyTB2">
                                                <div class="autocomplete">Tên:&nbsp;
                                                    <span contenteditable="true" id="TenTQ1">Không</span>
                                                </div>

                                                <div class="autocomplete">MSHP:&nbsp;
                                                    <span contenteditable="true" id="MaTQ1"></span>
                                                </div>
                                            </div>
                                        `;
                                    // Thêm cấu trúc HTML vào phần tử "TienQuyet"
                                    tienQuyetDiv.innerHTML += htmlToAdd;
                                    if (document.getElementById("TenTQ1")) {
                                        autocomplete(document.getElementById("TenTQ1"), Ten_HocPhan_TQ, "TenTQ");
                                    }
                                } else if (chuoiA[0] === 'Các học phần chuyên ngành') {

                                    var htmlToAdd = `
                                            <div class="ModifyTB2">
                                                <div class="autocomplete">Tên:&nbsp;
                                                    <span contenteditable="true" id="TenTQ1">Các học phần chuyên ngành</span>
                                                </div>

                                                <div class="autocomplete">&nbsp;
                                                    <span contenteditable="true" id="MaTQ1"></span>
                                                </div>
                                            </div>
                                        `;
                                    // Thêm cấu trúc HTML vào phần tử "TienQuyet"
                                    tienQuyetDiv.innerHTML += htmlToAdd;
                                    if (document.getElementById("TenTQ1")) {
                                        autocomplete(document.getElementById("TenTQ1"), Ten_HocPhan_TQ, "TenTQ");
                                    }
                                } else if (chuoiA[0] === 'Các học phần cơ sở ngành') {
                                    var htmlToAdd = `
                                            <div class="ModifyTB2">
                                                <div class="autocomplete">Tên:&nbsp;
                                                    <span contenteditable="true" id="TenTQ1">Các học phần cơ sở ngành</span>
                                                </div>

                                                <div class="autocomplete">&nbsp;
                                                    <span contenteditable="true" id="MaTQ1"></span>
                                                </div>
                                            </div>
                                        `;
                                    // Thêm cấu trúc HTML vào phần tử "TienQuyet"
                                    tienQuyetDiv.innerHTML += htmlToAdd;
                                    if (document.getElementById("TenTQ1")) {
                                        autocomplete(document.getElementById("TenTQ1"), Ten_HocPhan_TQ, "TenTQ");
                                    }
                                }
                                else {
                                    var htmlToAdd = `
                                            <div class="ModifyTB2">
                                                <div class="autocomplete">Tên:&nbsp;
                                                    <span contenteditable="true" id="TenTQ1">${chuoiA[0]}</span>
                                                </div>

                                                <div class="autocomplete">MSHP:&nbsp;
                                                    <span contenteditable="true" id="MaTQ1">${maTQ[0]}</span>
                                                </div>
                                            </div>
                                        `;
                                    // Thêm cấu trúc HTML vào phần tử "TienQuyet"
                                    tienQuyetDiv.innerHTML += htmlToAdd;
                                    if (document.getElementById("TenTQ1")) {
                                        autocomplete(document.getElementById("TenTQ1"), Ten_HocPhan_TQ, "TenTQ");
                                    }
                                }
                            }

                        } else if (NameTerm === "TenTQ") {

                            var selectedValue = inp.innerHTML;
                            //Ten_HocPhan_TQ ,MSHP_HocPhan_TQ
                            if (selectedValue) {
                                var Id = inp.id
                                var numbers = Id.match(/\d+/g);
                                var MaTQ = document.getElementById('MaTQ' + numbers[0])
                                var IdMaTQ = MaTQ.id;

                                if (selectedValue === 'Các học phần cơ sở ngành') {
                                    const TQparent = MaTQ.parentNode;
                                    TQparent.innerHTML = "";
                                    var htmlToAdd = `
                                            &nbsp;
                                                <span contenteditable="true" id="${IdMaTQ}"></span>
                                  
                                        `;
                                    TQparent.innerHTML += htmlToAdd;
                                } else if (selectedValue === 'Các học phần chuyên ngành') {
                                    const TQparent = MaTQ.parentNode;
                                    TQparent.innerHTML = "";
                                    var htmlToAdd = `
                                            &nbsp;
                                                <span contenteditable="true" id="${IdMaTQ}"></span>
                                       
                                        `;
                                    TQparent.innerHTML += htmlToAdd;
                                } else if (selectedValue === 'Không') {
                                    const TQparent = MaTQ.parentNode;
                                    TQparent.innerHTML = "";
                                    var htmlToAdd = `
                                      &nbsp;
                                                <span contenteditable="true" id="${IdMaTQ}"></span>
                                    
                                        `;
                                    TQparent.innerHTML += htmlToAdd;
                                } else {
                                    const TQparent = MaTQ.parentNode;
                                    TQparent.innerHTML = "";
                                    for (var i = 0; i < TenHocPhan.length; i++) {
                                        if (selectedValue === Ten_HocPhan_TQ[i]) {
                                            var MaTQ = MSHP_HocPhan_TQ[i];
                                        }
                                    }
                                    var htmlToAdd = `
                                    MSHP:&nbsp;
                                                <span contenteditable="true" id="${IdMaTQ}">${MaTQ}</span>
                                  
                                        `;
                                    TQparent.innerHTML += htmlToAdd;
                                }
                            }
                        } else if (NameTerm === "Teacher") {
                            var Teachers = inp.innerHTML;
                            var Id = inp.id
                            var numbers = Id.match(/\d+/g);
                            var ChucDanh = document.getElementById('ChucDanh'+numbers)
                            for (var i = 0; i < Teacher.length; i++) {
                                    if (Teachers === Teacher[i]) {
                                        ChucDanh.textContent = ListChucDanh[i];
                                    }
                                }
                            
                        }
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });

        inp.addEventListener("keydown", function (e) {
            var x = document.getElementsByClassName("autocomplete-items");
            if (x.length > 0) {
                x = x[0].getElementsByTagName("div");

                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            }

        });

        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        document.addEventListener("click", function (e) {

            closeAllLists(e.target);
        });
    }

</script>