<script>
    var TenHocPhan = [
        'GIÁO DỤC THỂ CHẤT 1',
        'GIÁO DỤC THỂ CHẤT 2',
        'GIÁO DỤC THỂ CHẤT 3',
        'Học phần I: Đường lối QP và an ninh của ĐCSVN',
        'Học phần II: Công tác quốc phòng và an ninh',
        'Học phần III: Quân sự chung',
        'Học phần IV: Kỹ thuật chiến đấu bộ binh và chiến thuật',
        'ANH VĂN KHÔNG CHUYÊN 1',
        'TRIẾT HỌC MÁC-LÊNIN',
        'PHÁP LUẬT ĐẠI CƯƠNG',
        'NHẬP MÔN CÔNG NGHỆ THÔNG TIN',
        'VI TÍCH PHÂN A1',
        'ĐẠI SỐ TUYẾN TÍNH',
        'KỸ THUẬT LẬP TRÌNH',
        'KỸ NĂNG MỀM',
        'ANH VĂN KHÔNG CHUYÊN 2',
        'KINH TẾ CHÍNH TRỊ MÁC-LÊNIN',
        'PHƯƠNG PHÁP NGHIÊN CỨU KHOA HỌC',
        'TIẾNG VIỆT THỰC HÀNH',
        'LOGIC HỌC ĐẠI CƯƠNG',
        'TOÁN RỜI RẠC',
        'ĐẠI SỐ ĐẠI CƯƠNG',
        'CẤU TRÚC DỮ LIỆU VÀ GIẢI THUẬT',
        'CHỦ NGHĨA XÃ HỘI KHOA HỌC',
        'ANH VĂN KHÔNG CHUYÊN 3',



        'CƠ SỞ DỮ LIỆU',
        'VI TÍCH PHÂN A2',
        'LÝ THUYẾT ĐỒ THỊ',
        'KIẾN TRÚC MÁY TÍNH',
        'LẬP TRÌNH HƯỚNG ĐỐI TƯỢNG',
        'ANH VĂN KHÔNG CHUYÊN 4',
        'TƯ TƯỞNG HỒ CHÍ MINH',
        'HỆ ĐIỀU HÀNH',
        'THIẾT KẾ WEB',
        'MẠNG MÁY TÍNH',
        'ANH VĂN CHUYÊN NGÀNH CNTT',
        'LÝ THUYẾT XẾP HÀNG',
        'QUY HOẠCH TUYẾN TÍNH',
        'VẬT LÝ ĐẠI CƯƠNG',
        'LỊCH SỬ ĐẢNG CỘNG SẢN VIỆT NAM',
        'THỐNG KÊ VÀ PHÂN TÍCH DỮ LIỆU',
        'THỰC TẬP ĐỒ ÁN CƠ SỞ NGÀNH',
        'ĐIỆN TOÁN ĐÁM MÂY',
        'PHÂN TÍCH VÀ THIẾT KẾ HỆ THỐNG THÔNG TIN',
        'LẬP TRÌNH ỨNG DỤNG TRÊN WINDOWS',
       
       
       
       
       
        'THƯƠNG MẠI ĐIỆN TỬ',
        'ĐỒ HỌA ỨNG DỤNG',
        'CHUYÊN ĐỀ LINUX',
        'AN TOÀN VÀ BẢO MẬT THÔNG TIN',
        'CÔNG NGHỆ PHẦN MỀM',
        'LẬP TRÌNH THIẾT BỊ DI ĐỘNG',
        'KHAI PHÁ DỮ LIỆU',
        'CƠ SỞ TRÍ TUỆ NHÂN TẠO',
        'HỆ QUẢN TRỊ CƠ SỞ DỮ LIỆU',
        'NGUYÊN LÝ KẾ TOÁN',
        'KỸ THUẬT XÂY DỰNG VÀ BAN HÀNH VĂN BẢN',
        'TÂM LÝ HỌC ĐẠI CƯƠNG',
        'QUẢN TRỊ DOANH NGHIỆP',
        'CHUYÊN ĐỀ ĐẶC BIỆT',
        'PHÁT TRIỂN ỨNG DỤNG WEB MÃ NGUỒN MỞ',
        'PHÁT TRIỂN ỨNG DỤNG HƯỚNG DỊCH VỤ',
        'QUẢN TRỊ DỰ ÁN CÔNG NGHỆ THÔNG TIN',
        'THỰC TẬP ĐỒ ÁN CHUYÊN NGÀNH',
        'XỬ LÝ ẢNH',
        'TƯƠNG TÁC NGƯỜI – MÁY',
        'CHUYÊN ĐỀ ASP.NET',
        'XÂY DỰNG PHẦN MỀM HƯỚNG ĐỐI TƯỢNG',
        'MÁY HỌC ỨNG DỤNG',
        'THỰC TẬP CUỐI KHÓA',
        'HỆ THỐNG THÔNG TIN QUẢN LÝ',
        'ĐỒ ÁN TỐT NGHIỆP'
    ];

    var MaHocPhan = [
        191.0,
        192.08,
        193.15,

        190081,
        190082,
        190083,
        190084,

        410291,
        180050,
        
        220233,

        220092,
        110042,
        220233,
        220228,
        '',
        410292,
        180051,
        450015,
        170011,
        180051,
        110003,

        220233,
        220234,
        180052,
        410293,
        220096,
        110002,
        220100,
        110079,
        220099,
        410294,

        180001,
        220101,
        220236,
        220018,
        220250,
        220237,
        110057,
        120004,
        180053,
        320045,
        
        220265,
        220267,
        220239,
        220086,
        220065,
        220241,
        220034,
        220126,
        220055,
        220071,

        220109,
        220242,
        220060,
        430000,
        420000,
        450006,
        440000,
        '',
        220243,
        220268,

        220078,
        220266,
        220057,
        220245,
        220064,
        220120,
        220248,
        220114,
        220232,
        000004
    ]
    var HocPhanTienQuyet = [
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Anh văn không chuyên 1',
        'Triết học Mác-Lênin',
        'Không',
        'Không',
        'Triết học Mác-Lênin',
        'Không',
        'Không',
        'Kỹ thuật lập trình',
        'Kinh tế chính trị Mác – Lênin',
        'Anh văn không chuyên 2',
        'Không',
        'Vi tích phân A1',
        'Kỹ thuật lập trình',
        'Toán rời rạc',
        'Kỹ thuật lập trình',
        'Anh văn không chuyên 3',
        'Chủ nghĩa xã hội khoa học',
        'Kiến trúc máy tính',
        'Kỹ thuật lập trình',
        'Kiến trúc máy tính',
        'Anh văn không chuyên 4',
        'Lý thuyết đồ thị',
        'Đại số tuyến tính',
        'Không',
        'Tư tưởng Hồ Chí Minh',
        'Đại số tuyến tính',
        'Các học phần cơ sở ngành',
        'Mạng máy tính',
        'Cơ sở dữ liệu',
        'Lập trình hướng đối tượng _ Cơ sở dữ liệu',
        'Không',
        'Không',
        'Không',
        'Mạng máy tính _ Cấu trúc dữ liệu và giải thuật',
        'Phân tích và thiết kế hệ thống thông tin',
        'Kỹ thuật lập trình',
        'Cơ sở dữ liệu',
        'Kỹ thuật lập trình _ Thống kê và phân tích dữ liệu',
        'Cấu trúc dữ liệu và giải thuật _ Phân tích và thiết kế hệ thống thông tin',
        'Không',
        'Không',
        'Không',
        'Không',
        'Không',
        'Thiết kế web',
        'Lập trình hướng đối tượng',
        'Công nghệ phần mềm',
        'Các học phần chuyên ngành',
        'Cấu trúc dữ liệu và giải thuật',
        'Phân tích và thiết kế hệ thống thông tin _ Công nghệ phần mềm',
        'Thiết kế web',

        'Lập trình hướng đối tượng _ Công nghệ phần mềm',
        'Kỹ thuật lập trình',
        'Các học phần chuyên ngành',
        'Không',
        'Các học phần chuyên ngành'
    ]

    // In mảng ra console để kiểm tra

    autocomplete(document.getElementById("TenMon"), TenHocPhan, "TenHocPhan");

    //autocomplete(document.getElementById("MaMon"), MaHocPhan);
    //autocomplete(document.getElementById("myInput2"), countries);


    function autocomplete(inp, arr, NameTerm) {


        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.textContent;

            closeAllLists();
            if (!val) {
                return false;
            }

            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);

            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function (e) {

                        if (NameTerm === "TenHocPhan") {
                            inp.innerHTML = this.getElementsByTagName("input")[0].value;
                            var selectedValues = inp.innerHTML;

                            console.log("slten" + TenHocPhan.length)
                            console.log("sltehn" + HocPhanTienQuyet.length)
                            if (selectedValues) {
                                for (var i = 0; i < TenHocPhan.length; i++) {
                                    if (selectedValues === TenHocPhan[i]) {
                                        const MaMon = document.getElementById('MaMon')
                                        MaMon.textContent = MaHocPhan[i];
                                        var chuoi = HocPhanTienQuyet[i];
                                    }
                                }
                            }

                            console.log(chuoi)
                            //test Lập trình hướng đối tượng, Công nghệ phần mềm
                            var mangChuoi = chuoi.split(' _ ');
                            // Hiển thị mảng kết quả
                            var tienQuyetDiv = document.getElementById("TienQuyet");
                            while (tienQuyetDiv.firstChild) {
                                tienQuyetDiv.removeChild(tienQuyetDiv.firstChild);
                            }

                            // Số lượng cấu trúc HTML bạn muốn thêm
                            var soLuongThem = mangChuoi.length;
                            for (var i = 0; i < soLuongThem; i++) {
                                // Tạo cấu trúc HTML cần thêm
                                var htmlToAdd = `<p class="display-flex">
                                <span contenteditable="true" class="TenTienQuyet">${mangChuoi[i]}</span>  
                                &nbsp;&nbsp;MSHP:<span contenteditable="true" class="MaTienQuyet"></span>
                            </p>`;
                                // Thêm cấu trúc HTML vào phần tử "TienQuyet"
                                tienQuyetDiv.innerHTML += htmlToAdd;
                            }



                        }


                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });

        inp.addEventListener("keydown", function (e) {
            var x = document.getElementsByClassName("autocomplete-items");
            if (x.length > 0) {
                x = x[0].getElementsByTagName("div");

                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            }

        });

        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        document.addEventListener("click", function (e) {

            closeAllLists(e.target);
        });
    }
   


</script>