<div class="main__footer">
    <div>Tác giả: Trần Thái Hưng</div>
</div>
<style>
    .main__footer {
        width: 100%;
        height: 100px;
        background-color: #525659;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: white;
    }
</style>