

<header class="header" id="header">
    <div class="container">
        <nav class="navigation">
            <ul>
                <li><a href="/home" id="modify__user_hidden">
                        <h5><i class="fa-solid fa-print"></i>Trang Chủ</h5>
                    </a></li>
                <li><a href="/project/Create" id="modify__project_hidden">
                        <h5>Tạo Dự Án</h5>
                    </a></li>
                <li><a href="/user/listProject" id="modify__listProject_hidden">
                        <h5>Danh Sách Dự Án</h5>
                    </a></li>
                <li><a href="/admin" style="display: none;" id="modify__admin_hidden">
                        <h5><i class="fa-solid fa-print"></i>Trang Admin</h5>
                    </a></li>
            </ul>
        </nav>
        <div style="display: flex; gap: 10px;">
            <div>
                <select onchange="navigateTo(this.value)">

                    <option value="/admin/program">View Program</option>
                    <option value="/admin/program/edit">Edit Program</option>
                    <option value="/admin/program/plo">Edit PLO</option>
                    <option value="/admin/program/po">Edit PO</option>
                </select>
            </div>
        </div>
</header>