<style>
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: #ffcc00;
}

.send-content button {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-content button:hover {
    background-color: #f5f5f5;
    color: #333;
}

</style>

<header class="header" id="header">
        <div class="container">
            <nav class="navigation">
                <ul>
                    <li><a href="/project/Create">Tạo Dự Án</a></li>
                    
                    <li><a href="/user/listProject">Danh Sách Dự Án</a></li>
                </ul>
            </nav>
            <div class="send-content">
                <button onclick="Save_Project()">Save</button>
                <button onclick="sendA4Content()">Gửi Nội Dung</button>
            </div>
        </div>
    </header>



