<script> 
    function CreateCDR(classParent) {
        if (classParent) {
            var ClassParent = classParent
        }
        var idCount = (document.getElementsByClassName(ClassParent).length) + 1;
      
        const para = document.createElement('div');
      
        para.style.display='flex';
        para.className = ClassParent+' TaiLieu section-content text-left'
        para.id = ClassParent + idCount;
        
        para.innerHTML = '<div class="stt" contenteditable="false">[1]&nbsp;&nbsp; </div> <div>' +
                            '<span contenteditable="true">' +
                            '[tên tác giả](năm xuất bản)' +
                            '</span>.&nbsp;' +
                            '<span contenteditable="true" style="font-style: italic;">' +
                            '[tên tài liệu]' +
                            '</span>.&nbsp;<br>' +
                            '<span contenteditable="true">' +
                            '[nguồn]' +
                            '</span>' +
                        '</div>';
        
        const parent = document.getElementById(ClassParent);
        if (parent) {
            parent.appendChild(para);
        }
        else {
            console.log("No parent")
        }
        UpdateSTT_TB2()
    }
    document.getElementById('button_delete_tb2').addEventListener('click', function () {
        const focusedSpan = document.querySelector('.focus');

        if (focusedSpan && focusedSpan.classList.contains('focus')) {
            const parentTr = focusedSpan.closest('.TaiLieu');
            if (parentTr) {
                const confirmation = window.confirm('Bạn có chắc muốn xóa phần tử này?');
                if (confirmation) {
                    
                    var Tachchu = StringNumberAndletter(parentTr.id, 'letters');
                    
                    parentTr.remove();
                    UpdateSTT_TB2();

                    //UpdateALLId_TB2(Tachchu)
                } else {
                    console.log("Người dùng đã từ chối xóa.");
                }
            } else {
                console.log("Không có 'allowDeletion'.");
            }
        } else {
            console.log("không trỏ vào .");
        }
    });
 
    function UpdateSTT_TB2() {
        var rows = document.querySelectorAll('.TaiLieu');
        rows.forEach((row, index) => {
            var sttElements = row.querySelectorAll('.stt');
            sttElements.forEach((sttElement, sttIndex) => {
                sttElement.innerHTML = "[" + (index * sttElements.length + sttIndex + 1) + "]&nbsp;&nbsp;";
            });
        });
    }

    //function UpdateALLId_TB2(NameId) {
     //   var elements = document.querySelectorAll(`[id^="${NameId}"]`);
     //   elements.forEach(function (element, index) {
     //   var newId = `${NameId}${index}`;
     //   element.removeAttribute('id');
     //   element.setAttribute('id', newId);
      //  })
    //}
    
    function StringNumberAndletter(inputString, type) {
        // Sử dụng biểu thức tách chữ và số
        var matches = inputString.match(/([a-zA-Z]+)([0-9]+)/);
        if (matches) {
            // matches[1] chứa chữ, matches[2] chứa số
            var letters = matches[1];
            var numbers = matches[2];
            if (type === 'letters') {
                return letters;
            } else if (type === 'numbers') {
                return numbers;
            } else {
                return null;
            }
        } else {
            return null;
        }
    }
    
</script>