<script>
    function getAllCTCIdsAndValues() {
        var allCTCData = {};
        var chuongRows = document.getElementsByClassName("Chuong");
        for (var i = 1; i <= chuongRows.length; i++) {
            // Xác định số lượng chi tiết chương trong mỗi chương
            var escapedDot = "\\";
            // Xác định số lượng chi tiết chương trong mỗi chương
            var ctcElements = document.querySelectorAll('[id*="CTC' + i + "." + '"]');

            var chuongData = [];
            // Duyệt qua từng phần tử CTC tương ứng với chương
            ctcElements.forEach(function (ctcElement) {
                var ctcValue = ctcElement.textContent.replace(/^\s+|\s+$/g, "").replace(/\n/g, "");
                var ctcData = {
                    id: ctcElement.id,
                    value: ctcValue
                };

                chuongData.push(ctcData);
            });
            allCTCData["Chuong" + i] = chuongData;
        }
        console.log(JSON.stringify(allCTCData));
    }

    function themChuong() {

        var table = document.getElementById("table-5-course-content");
        var chuongRows = document.getElementsByClassName("Chuong");

        var newChuongId = "Chuong" + (chuongRows.length + 1);
        var footerChuongId = "CuoiChuong" + (chuongRows.length + 1);
        var newClassCTC = "ChiTietChuong" + (chuongRows.length + 1);
        // Add header row
        var newHeaderRow = table.insertRow(table.rows.length);
        newHeaderRow.id = newChuongId;
        newHeaderRow.className = "Chuong";

        //tạo các mảng để chứa các class css

        var stempIndex = 1 ;
        var classNameHeaderRows = ["body-5-course-content-255_55pt", "body-5-course-content-71_8pt", "body-5-course-content-44_85pt", "body-content--course-content-40_4pt", "body-5-course-content-55_85pt"];
        var classNameDetailRows = ["body-5-content-course-content-255_55pt", "body-5-content-course-content-71_8pt", "body-5-content-course-content-44_85pt", "body-content--course-content-40_4pt", "body-5-course-content-55_85pt"];
        var classNameFooterRows = ["footer-5-course-content-255_55pt", "footer-5-course-content-212_9pt"];
        
        
        var rowHTML = `
            <td id="Chuong${chuongRows.length}.1" class="body-5-course-content-255_55pt">
                <strong><div contenteditable="true" class="table-5-course-content-p text-left TenChuong STT_CHUONG" id="hungdeptrai${chuongRows.length}" onkeydown="handleKeyPress('hungdeptrai${chuongRows.length}',event)">
                    [Tên chương]
                </div></strong>
            </td>
            <td id="Chuong${chuongRows.length}.2" class="body-5-course-content-71_8pt">
                <div class="dropdown" id="dropdown-CDR_HocPhan${chuongRows.length}">
                    <p class="header-5-course-content-p text-center">
                        <strong><span contenteditable="true" class="CDR_HocPhan" id="CDR_HocPhan${chuongRows.length}">
                            1, 2, 3</span></strong>
                    </p>
                    <ul class="dropdown-content-5">
                        <li onclick="updateValue('CDR_HocPhan${chuongRows.length}', '1','CDR')">1</li>
                        <li onclick="updateValue('CDR_HocPhan${chuongRows.length}', '2','CDR')">2</li>
                        <li onclick="updateValue('CDR_HocPhan${chuongRows.length}', '3','CDR')">3</li>
                    </ul>
                </div>
            </td>
            <td id="Chuong${chuongRows.length}.3" class="body-5-course-content-44_85pt">
                <p class="header-5-course-content-p text-center"><strong><span
                    contenteditable="true" class="GioLyThuyet">5</span></strong></p>
            </td>
            <td id="Chuong${chuongRows.length}.4" class="body-5-course-content-40_4pt">
                <p class="header-5-course-content-p text-center"><strong><span
                    contenteditable="true" class="GiothucHanh">5</span></strong></p>
            </td>
            <td id="Chuong${chuongRows.length}.5" class="body-5-course-content-55_85pt">
                <p class="header-5-course-content-p text-center"><strong><span
                    contenteditable="true" class="SoGioTuHoc">5</span></strong></p>
            </td>
        `;
        newHeaderRow.innerHTML = rowHTML

        var stempindexbutton = (chuongRows.length);
        var indexbutton = document.getElementById('instructionForm-table5-CTC')

        var newButton = document.createElement("button");
        newButton.onclick = function () {
            themChiTietChuong(stempindexbutton);
        };
        newButton.className = "btn btn-secondary Chitiet"
        newButton.id = "ctc" + stempindexbutton

        newButton.innerHTML = "+ Thêm chi tiết chương " + stempindexbutton;
        indexbutton.appendChild(newButton);

        var newDetailRow = table.insertRow(table.rows.length);

        newDetailRow.className = newClassCTC;
        newDetailRow.id = "allowDeletion";
        
        var innerHTML_DetailRow = `
            <td class="body-5-content-course-content-255_55pt">
                <p class="table-5-course-content-p text-justify" contenteditable="true" onkeydown="handleKeyPress('CTC${chuongRows.length}.1',event)"
                    id="CTC${chuongRows.length}.1" class="STT_CTC${chuongRows.length}">${chuongRows.length}.1.&nbsp;[Chi tiết chương]</span>
                </p>
            </td>
            <td class="body-5-content-course-content-71_8pt">
                <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
            </td>
            <td class="body-5-content-course-content-44_85pt">
                <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
            </td>
            <td class="body-content--course-content-40_4pt">
                <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
            </td>
            <td class="body-5-course-content-55_85pt">
                <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
            </td>
        `;
        newDetailRow.innerHTML = innerHTML_DetailRow

        var FooterRow = table.insertRow(table.rows.length);
        FooterRow.id = footerChuongId;
        var innerHTML_FooterRow = `
            <td class="footer-5-course-content-255_55pt">
                <p class="text-justify"><em><span>Kỹ năng mềm và thái độ</span></em></p>
            </td>
            <td colspan="4" class="footer-5-course-content-212_9pt">
                <div class="table-5-course-content-p text-justify" contenteditable="true"
                    class="KyNangMem">9</span></div>
            </td>
        `;
        FooterRow.innerHTML = innerHTML_FooterRow
        UpdateSTTskill()
    }

    async function themChiTietChuong(index) {
        //có thể làm thêm key enter
        var classNameDetailRows = ["body-5-content-course-content-255_55pt", "body-5-content-course-content-71_8pt", "body-5-content-course-content-44_85pt", "body-content--course-content-40_4pt", "body-5-course-content-55_85pt"];

        var tbody = document.getElementById("table-5-course-content");
        var newDetailRow = document.createElement('tr');
        newDetailRow.className = "ChiTietChuong" + index;
        newDetailRow.id = "allowDeletion"
        var h = await document.getElementsByClassName("ChiTietChuong" + index);
        var stemp2 = (h.length + 1)
        var chuong1Row = document.getElementById("Chuong" + index);
        // Tạo các ô mới dựa trên số lượng ô trong dòng cuối cùng của "Chuong1"
        var innerHTML_DetailRow = `
            <td class="body-5-content-course-content-255_55pt">
                <p class="table-5-course-content-p text-justify" contenteditable="true" onkeydown="handleKeyPress('CTC${index}.${stemp2}',event)"
                    id="CTC${index}.${stemp2}" class="STT_CTC${index}">${index}.${stemp2}.&nbsp;[Chi tiết chương]</span>
                </p>
            </td>
            <td class="body-5-content-course-content-71_8pt">
                <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
            </td>
            <td class="body-5-content-course-content-44_85pt">
                <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
            </td>
            <td class="body-content--course-content-40_4pt">
                <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
            </td>
            <td class="body-5-course-content-55_85pt">
                <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
            </td>
        `;

        newDetailRow.innerHTML = innerHTML_DetailRow;
        // Thêm tr vào tbody trước tr có id là "CuoiChuong1"
        tbody.insertBefore(newDetailRow, document.getElementById("CuoiChuong" + index));
    }

    function UpdateSTTskill() {
        var rows = document.querySelectorAll('.Chuong');
        rows.forEach((row, index) => {
            var sttElements = row.querySelectorAll('.STT_CHUONG');
            //lấy chuỗi từ 9 tương đương với Chuong1." "
            sttElements.forEach((sttElement, sttIndex) => {
                sttElement.innerHTML = "Chương&nbsp;" + (index * sttElements.length + sttIndex + 1) + ".&nbsp;" + sttElement.textContent.substring(10);
            });
        }); //dropdown-content-chuong dropdown-content-chuong
        var ul_DG7 = document.querySelectorAll('.dropdown-content-chuong');
        var chuongContent =document.getElementsByClassName('Chuong').length;

        ul_DG7.forEach(function (ulElement, index) {
            ulElement.innerHTML = '';
            var hung = [];
            for (var i = 1; i <= chuongContent; i++) {
                hung.push(`
                    <li onclick="updateValue('DG${(index + 1)}','Chương ${i}', 'TUA')">
                    Chương ${i}
                    </li>
                `);
            }
            ulElement.innerHTML = hung.join('');
        });

    }

    function UpdateSTTskill_CTC(i) {
        var rows = document.querySelectorAll('.ChiTietChuong' + i);
        rows.forEach((row, index) => {
            var sttElements = row.querySelectorAll('[id*="CTC' + i + "." + '"]');
            sttElements.forEach((sttElement, sttIndex) => {
                //lấy chuỗi từ 5 tương đương với 1.1." "
                sttElement.textContent = i + "." + (index * sttElements.length + sttIndex + 1) + '. ' + sttElement.textContent.substring(5);
            });
        });
    }
    async function UpdateAll_TB5_WhenDelete_Chuong(TimTatCaViTriCanCapNhap) {
        var chuong = await document.getElementsByClassName("Chuong").length;
        var tatcacuong = document.querySelector('[class*="Chuong"]');
        const index = parseInt(TimTatCaViTriCanCapNhap) + 1
        for (var i = index; i <= chuong; i++) {
            var temp = i;
            CapNhat1Chuong(temp);
        }

    }
    function CapNhat1Chuong(index) {
        var GetAllChuong = document.getElementById('Chuong' + index);
        if (GetAllChuong) {
            var idNumber = GetAllChuong.id.match(/\d+$/)[0];

            //idNumber lấy số trong id dùng để xác định tr con lên trong
            var ChildChuong = document.querySelectorAll('[id*="Chuong' + idNumber + "." + '"]')
            var ChildCTC_Chuong = document.querySelectorAll('[class*="ChiTietChuong' + idNumber + '"]')
            var ChildCuoiChuong = document.querySelectorAll('[id*="CuoiChuong' + idNumber + '"]')
            for (var j = 0; j < ChildCuoiChuong.length; j++) {
                var StempId = StringIdGetNumber_DecreaseBy1Unit(ChildCuoiChuong[j].id);
                ChildCuoiChuong[j].id = "CuoiChuong" + StempId;
            }

            for (var j = 0; j < ChildChuong.length; j++) {
                var StempId = StringIdGetNumber_DecreaseBy1Unit(ChildChuong[j].id);
                ChildChuong[j].id = "Chuong" + StempId + "." + (j + 1);
            }

            for (var CTC = 0; CTC < ChildCTC_Chuong.length; CTC++) {
                ChildCTC_Chuong[CTC].className = "ChiTietChuong" + (idNumber - 1);
                //{{!-- const parent = ChildCTC_Chuong[CTC]; --}}
                const CTC_Id = document.querySelector('[id*="CTC' + idNumber + '."]');
                const STT_CTC = document.querySelector('[class*="STT_CTC' + idNumber + '"]');
                STT_CTC.className = "STT_CTC" + (idNumber - 1);
                CTC_Id.id = "CTC" + (idNumber - 1) + "." + (CTC + 1);

            }
            UpdateSTTskill_CTC(idNumber - 1)
            UpdateSTTskill();
            GetAllChuong.id = "Chuong" + (idNumber - 1)
        } else {
            console.error('Element not found: ' + 'Chuong' + index);
        }
    }

    function tachChuoi(chuoi, kyTuTach) {
        var mangKetQua = chuoi.split(kyTuTach);
        var ketQua = mangKetQua[1];
        return ketQua;
    }
    function CapNhatCTC(classNameCTC, indexUpdate, numberInParent) {
        if (classNameCTC) {
            var numberCTCinclassName = document.getElementsByClassName(classNameCTC);

            var updateIndex = parseInt(indexUpdate) + 1;
            for (var i = updateIndex; i < numberCTCinclassName.length; i++) {
                OneCTC(numberInParent, i);
            }
        }
        else {
            console.log('khong có chương');
        }
    }
    function OneCTC(classNameCTC, indexUpdate) {

        var update = document.getElementById('CTC' + classNameCTC + '.' + indexUpdate);
        if (update) {
            var updateIndex = parseInt(indexUpdate) - 1
            update.id = 'CTC' + classNameCTC + '.' + updateIndex;
        }
        else {
            console.log('khong có CTC');
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        UpdateSTTskill();
        document.getElementById('hung').addEventListener('click', function () {
            const focusedSpan = document.querySelector('.focus');
            if (focusedSpan && focusedSpan.classList.contains('focus')) {
                const CTCfocus = focusedSpan.closest('tr[id="allowDeletion"]');
                const Chuongfocus = focusedSpan.closest('tr[class="Chuong"]');
                if (CTCfocus) {
                    //tìm 1 class trong thẻ tr được focus
                    var classValue = CTCfocus.className;
                    var childrenID = CTCfocus.querySelector('[id]');
                    var stempId = childrenID.id;
                    console.log(stempId)
                    //tìm kiếm id con ctc1.1 lấy số số làm tiền đề cập nhật id
                    //nhận được class name ChiTietChuong1 tách lấy số 1 thôi
                    var parts = stempId.split(/\D+/);

                    if (parts.length > 0) {
                        //1.3
                        //lấy ra số 3
                        var numberIndex = parts[parts.length - 1];

                        //lấy ra số 1 tương ứng ChiTietChuong1

                        var numberCTC = parts[1];

                    }
                    var match = classValue.match(/\d+/);

                    if (match) {
                        var number = match[0];
                    } else {
                        console.log('Không tìm thấy số trong class.');
                    }
                    const confirmation = window.confirm('Bạn có chắc muốn xóa chi tiết chương này?');
                    if (confirmation) {
                        CTCfocus.remove();
                        CapNhatCTC(classValue, numberIndex, numberCTC)
                        UpdateSTTskill_CTC(match)
                    } else {
                        console.log("Hủy xóa.");
                    }
                } else if (Chuongfocus) {
                    const confirmation = window.confirm('Bạn có chắc muốn xóa chương này là tất cả trong chương này');
                    if (confirmation) {
                        const idValue = Chuongfocus.id;
                        var matchid = idValue.match(/\d+/);
                        if (matchid) {
                            var number = matchid[0];
                            var Delete_all_CTC_inChuong = document.querySelectorAll('.ChiTietChuong' + number);

                        } else {
                            console.log('Không tìm thấy id nào');
                        }
                        var GetCountChuong = document.getElementsByClassName('Chuong').length;
                        Delete_CuoiChuong_inChuong(number)
                        Delete_all_CTC_inChuong.forEach(function (ChiTietChuong) {
                            ChiTietChuong.remove();
                        });
                        console.log('dau vao' + number)
                        UpdateAll_TB5_WhenDelete_Chuong(number)
                        Chuongfocus.remove();
                        //updateChapters(number)
                        //UpdateAll_TB5_WhenDelete_Chuong();
                        //UpdateSTTskill();
                    } else {
                        console.log("Hủy xóa.");
                    }
                }
                else {
                    console.log("Không tìm thấy chương.");
                }
            } else {
                console.log("Không tìm thấy hoặc thẻ span không có class 'focus'.");
            }
        });
    })


    function Delete_CuoiChuong_inChuong(index) {
        const CuoiChuongElement = document.getElementById('CuoiChuong' + index);

        if (CuoiChuongElement) {
            CuoiChuongElement.remove();
            //console.log('CuoiChuong' + index + ' removed successfully');
        } else {
            // console.log('CuoiChuong' + index + ' element not found');
        }
    }
</script>
{{>StringID}}