
<div class="textflex">
  <div id="huntran" contenteditable="true" onkeydown="handleKeyPress('huntran',event)">
    []
  </div>
</div>
<div class="textflex">
  <div id="huntran1" contenteditable="true" onkeydown="handleKeyPress('huntran1',event)">
    []
  </div>
</div>
<div class="textflex">
  <div id="huntran2" contenteditable="true" onkeydown="handleKeyPress('huntran2',event)">
    h
  </div>
</div>
<div class="textflex">
  <div id="huntran3" contenteditable="true" onkeydown="handleKeyPress('huntran3',event)">
    h
  </div>
</div>


{{>all_Autocomplete}}

 


