
<div class="textflex">
  <div id="huntran" contenteditable="true" onkeydown="handleKeyPress('huntran',event)">
    []
  </div>
</div>
<div class="textflex">
  <div id="huntran1" contenteditable="true" onkeydown="handleKeyPress('huntran1',event)">
    []
  </div>
</div>
<div class="textflex">
  <div id="huntran2" contenteditable="true" onkeydown="handleKeyPress('huntran2',event)">
    h
  </div>
</div>
<div class="textflex">
  <div id="huntran3" contenteditable="true" onkeydown="handleKeyPress('huntran3',event)">
    h
  </div>
</div>


<script>
function checkPLOConditions(data) {
    let results = [];

   

        data.forEach((part, index) => {
            if (part.match(/^PLO\d+$/)) { // Kiểm tra xem phần tử có bắt đầu bằng "PLO" và theo sau là số
                let isValid = true; // Giả định ban đầu là hợp lệ

                // Kiểm tra phần tử tiếp theo (nếu có)
                if (index < ploParts.length - 1 && ploParts[index + 1].match(/^PLO\d+$/)) {
                    isValid = false; // Đánh dấu là không hợp lệ nếu phần tử tiếp theo bắt đầu bằng "PLO" và theo sau là số
                }

                results.push({ part, isValid });
            }
        });
    
    return results;
}

// Mẫu dữ liệu


let hung = ['PLO1','PLO2','PLO3','PLOh']
   

console.log(checkPLOConditions(hung));

</script>

 


