<table>
    <tr>
        <td class="table-2-learning-body">
            <div id="giaotrinh">
                <p id="giaotrinh1" class="giaotrinh">
                    [<span id="STT_1" class="STT" contenteditable="true">1</span>]
                    <span id="TG_GT_1" contenteditable="true">Nguyễn Văn
                        Tuấn</span>
                    (<span id="NXB_GT_1" contenteditable="true">2014</span>).&nbsp;
                    <span id="Ten_GT_1" contenteditable="true" class="text-nghien">Phân tích dữ liệu với R</span>
                    [<span id="NGUON_GT_1" contenteditable="true">NXB Tổng hợp TP
                        Hồ Chí Minh</span>]
                    <span contenteditable="true"
                        id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </p>
                <div class="hidden hidden-table-2">
                    <p>Stt:&nbsp;<span id="STT_DSpan_1" contenteditable="true"></span></p>
                    <p>Tên tác giả:&nbsp;<span id="TG_DSpan_1" contenteditable="true"></span></p>
                    <p>Năm Xuất bảng:&nbsp;<span id="NXB_DSpan_1" contenteditable="true"></span></p>
                    <p>Tên tài liệu tham khảo:&nbsp;<span id="TEN_DSpan_1" contenteditable="true"
                            class="text-nghien"></span></p>
                    <p>Nguồn:&nbsp;<span id="NGUON_DSpan_1" contenteditable="true"></span></p>
                </div>
            </div>
        </td>
    </tr>
</table>

<script>
    function HiddenAndShow_Tb2(idIndex){
        document.addEventListener('DOMContentLoaded', function () {
            var giaotrinh1 = document.getElementById('idIndex');
            var hiddenDiv = document.querySelector('.hidden-table-2');
            var timeoutId;

            document.addEventListener('click', function (event) {
                if (!hiddenDiv.contains(event.target) && event.target !== giaotrinh1) {
                    timeoutId = setTimeout(function () {
                        // Copy nội dung từ div sang p
                        updateContent();
                        hiddenDiv.style.display = 'none';
                        giaotrinh1.style.display = 'block';
                    }, 700);
                }
            });

            giaotrinh1.addEventListener('click', function (event) {
                if (event.target.id === 'No') {
                    return;
                }
                event.stopPropagation();
                // Copy nội dung từ p sang div
                copyContent();
                timeoutId = setTimeout(function () {
                    giaotrinh1.style.display = 'none';
                    hiddenDiv.style.display = (hiddenDiv.style.display === 'none' || hiddenDiv.style.display === '') ? 'block' : 'none';
                }, 700);
            });
            function copyContent() {
                document.getElementById('STT_DSpan_1').innerText = document.getElementById('STT_1').innerText;
                document.getElementById('TG_DSpan_1').innerText = document.getElementById('TG_GT_1').innerText;
                document.getElementById('NXB_DSpan_1').innerText = document.getElementById('NXB_GT_1').innerText;
                document.getElementById('TEN_DSpan_1').innerText = document.getElementById('Ten_GT_1').innerText;
                document.getElementById('NGUON_DSpan_1').innerText = document.getElementById('NGUON_GT_1').innerText;
            }
            function updateContent() {
                document.getElementById('STT_1').innerText = document.getElementById('STT_DSpan_1').innerText;
                document.getElementById('TG_GT_1').innerText = document.getElementById('TG_DSpan_1').innerText;
                document.getElementById('NXB_GT_1').innerText = document.getElementById('NXB_DSpan_1').innerText;
                document.getElementById('Ten_GT_1').innerText = document.getElementById('TEN_DSpan_1').innerText;
                document.getElementById('NGUON_GT_1').innerText = document.getElementById('NGUON_DSpan_1').innerText;
            }
        });
    }
</script>