
<table class="table-5-course-content">
                    <tbody id="myTable">
                        {{!-- header --}}
                        <tr>
                            <td rowspan="2" class="header-5-course-content-255_55pt">
                                <p style='header-5-course-content-p'><strong><span>Nội dung</span></strong></p>
                            </td>
                            <td rowspan="2" class="header-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span>CĐR học phần</span></strong></p>
                            </td>
                            <td colspan="2" class="header-5-course-content-85_25pt">
                                <p style='header-5-course-content-p'><strong><span>Số giờ</span></strong></p>
                            </td>
                            <td class="header-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span>Giờ tự học và giờ học khác
                                        </span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="header-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span>LT</span></strong></p>
                            </td>
                            <td class="header-5-course-content-55_85pt-2">
                                <p style='header-5-course-content-p'><strong><span>TH</span></strong></p>
                            </td>
                            <td class="header-5-course-content-55_85pt-2">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        {{!-- body - tital --}}
                        <tr>
                            <td class="body-5-course-content-255_55pt">
                                <p class="table-5-course-content-p">
                                    <strong><span contenteditable="true" id="TenChuong1">
                                        
                                        </span></strong></p>
                            </td>
                            <td class="body-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">1</span></strong></p>
                            </td>
                            <td class="body-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true" id="GioLyThuyet">5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-40_4pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true" id="GiothucHanh">5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true" id="SoGioTuHoc">5</span></strong></p>
                            </td>
                        </tr>


                        {{!-- body - content --}}
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true" id="ChiTietChuong">1.1. Bổ túc về giải tích tổ hợp</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>

                        {{!-- footer - content --}}
                        <tr>
                            <td class="footer-5-course-content-255_55pt">
                                <p class="text-justify"><em><span>Kỹ năng mềm và thái độ</span></em></p>
                            </td>
                            <td colspan="4" class="footer-5-course-content-212_9pt">
                                <p class="table-5-course-content-p"><span contenteditable="true" id="KyNangMem">9</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
   {{!-- <tr id="Chuong1" class="Chuong">
            <th colspan="4">chuong1</th>
        </tr>
        <tr id="ChiTietChuong1-1" class="ChiTietChuong1">
            <th>u</th>
        </tr>
      
        new   <tr id="ChiTietChuong1-2" class="ChiTietChuong1"></tr>

        <tr id="CuoiChuong1">
            <th>h</th>
        </tr> --}}
    
<button id="nutThem" onclick="themChuong()">Thêm Chương</button>
<button id="nutThem1" onclick="themChiTietChuong()">Thêm Chương</button>
<script>
    function themChuong() {
        var table = document.getElementById("myTable");
        var chuongRows = document.getElementsByClassName("Chuong");
        var temp = document.getElementsByClassName("")
        var newChuongId = "Chuong" + (chuongRows.length + 1);
        var footerChuongId = "CuoiChuong" + (chuongRows.length + 1);
        var newClassCTC = "ChiTietChuong" + (chuongRows.length + 1);
        // Add header row
        var newHeaderRow = table.insertRow(table.rows.length);
        newHeaderRow.id = newChuongId;
        newHeaderRow.className = "Chuong";

        //tạo các mảng để chứa các class css
        var classNameHeaderRows = ["body-5-course-content-255_55pt", "body-5-course-content-71_8pt", "body-5-course-content-44_85pt", "body-content--course-content-40_4pt", "body-5-course-content-55_85pt"];
        var classNameDetailRows = ["body-5-content-course-content-255_55pt", "body-5-content-course-content-71_8pt", "body-5-content-course-content-44_85pt", "body-content--course-content-40_4pt","body-5-course-content-55_85pt"];
        var classNameFooterRows = ["footer-5-course-content-255_55pt","footer-5-course-content-212_9pt"];
        for (var i = 0; i < classNameHeaderRows.length; i++) {
            var newHeaderCell = newHeaderRow.insertCell(i);
            //tạo id
            newHeaderCell.id = newChuongId + "." + (i + 1);
            newHeaderCell.className = classNameHeaderRows[i];
            // Create a new paragraph element
            var newParagraph = document.createElement("p");
            newParagraph.className = 'header-5-course-content-p';
            var newStrong = document.createElement("strong");
            var newSpan = document.createElement("span");
            newSpan.contentEditable = true;
            newStrong.appendChild(newSpan);
            newParagraph.appendChild(newStrong);
            newHeaderCell.appendChild(newParagraph);
        }
        
        // Add detail row
        var newDetailRow = table.insertRow(table.rows.length);
        newDetailRow.className = newClassCTC;

        // Add th elements to the newDetailRow
        for (var i = 0; i < classNameDetailRows.length; i++) {
            var newDetailCell = newDetailRow.insertCell(i);

            newDetailCell.className = classNameDetailRows[i];
            var newParagraph = document.createElement("p");
            newParagraph.className = 'header-5-course-content-p';
            var newSpan = document.createElement("span");
            newSpan.contentEditable = true;
            newStrong.appendChild(newSpan);
            newDetailCell.appendChild(newParagraph);

            if (i === 0) {
                newDetailCell.id = "chitiet1";
            }
        }

        var FooterRow = table.insertRow(table.rows.length);
        FooterRow.id= footerChuongId;

        for (var i = 0; i < classNameFooterRows.length; i++) {
        var newFooterCell = FooterRow.insertCell(i);
        newFooterCell.className = classNameFooterRows[i];

        // Tạo phần tử paragraph
        var newParagraph = document.createElement("p");

        // Nếu là ô thứ nhất (i = 0), thêm thẻ em và span
        if (i === 0) {
            var newEm = document.createElement("em");
            var newSpan = document.createElement("span");
            newSpan.textContent = "Kỹ năng mềm và thái độ";
            newEm.appendChild(newSpan);
            newParagraph.appendChild(newEm);
        }

        // Nếu là ô thứ hai (i = 1), thêm colspan="4"
        if (i === 1) {
            newFooterCell.colSpan = 4;
        }

        // Nếu là ô thứ hai (i = 1), thêm input có contenteditable và id
        if (i === 1) {
            var editableSpan = document.createElement("span");
            editableSpan.contentEditable = true;
            editableSpan.id = "KyNangMem";
            newParagraph.appendChild(editableSpan);
        }

        // Thêm phần tử paragraph vào ô
        newFooterCell.appendChild(newParagraph);
        }
    }
        function themChiTietChuong() {
            const tbody = document.getElementById("myTable");
            const chuong1Row = document.getElementById("Chuong1");
            // Tạo một tr mới với class là ChiTietChuong1
            const newDetailRow = document.createElement('tr');
            newDetailRow.className = 'ChiTietChuong1';
            // Thêm tr vào tbody trước tr có id là "CuoiChuong1"
            tbody.insertBefore(newDetailRow, document.getElementById("CuoiChuong1"));
            
            const cell = document.createElement('td');
            cell.textContent = 'Nội dung ô thứ nhất';
            newDetailRow.appendChild(cell);
        }
</script>