<table border="1">
    <tr>
        <td class="content-4-learning-outcomes-1">
            <p class="text-left">3.</p>
        </td>
        <td class="content-4-learning-outcomes-2" style="width: 400px">
            
            <div class="hung" style="width:300px;">
    <div id="myInput" name="myCountry" placeholder="Country" contenteditable="true"></div>
</div>



        </td>
     
        <td class="content-4-learning-outcomes-4">
    <div class="hung" style="width:300px;">
    <div id="myInput1" name="myCountry" placeholder="Country" contenteditable="true"></div>
</div>
        </td>
        <td class="content-4-learning-outcomes-5">
            <p class="paragraph">TUA</p>
        </td>
        
    </tr>
</table>

<script>

    const countries = [
    'Giáo dục thể chất 1, 2, 3',
    'Giáo dục Quốc phòng – An ninh',
    'Anh văn không chuyên 1',
    'Triết học Mác-Lênin',
    'Pháp luật đại cương',
    'Nhập môn công nghệ thông tin',
    'Vi tích phân A1',
    'Đại số tuyến tính',
    'Kỹ thuật lập trình',
    'Kỹ năng mềm',
    'Anh văn không chuyên 2',
    'Kinh tế chính trị Mác-Lênin',
    'Phương pháp nghiên cứu khoa học',
    'Tiếng Việt thực hành',
    'Logic học đại cương',
    'Toán rời rạc',
    'Đại số đại cương',
    'Cấu trúc dữ liệu và giải thuật',
    'Chủ nghĩa xã hội khoa học',
    'Anh văn không chuyên 3',
    'Cơ sở dữ liệu',
    'Vi tích phân A2',
    'Lý thuyết đồ thị',
    'Kiến trúc máy tính',
    'Lập trình hướng đối tượng',
    'Anh văn không chuyên 4',
    'Tư tưởng Hồ Chí Minh',
    'Hệ điều hành', 
    'Thiết kế web',
    'Mạng máy tính',
    'Anh văn chuyên ngành CNTT',
    'Lý thuyết xếp hàng',
    'Quy hoạch tuyến tính',
    'Vật lý đại cương',
    'Lịch sử Đảng Cộng sản Việt Nam',
    'Thống kê và phân tích dữ liệu',
    'Thực tập đồ án cơ sở ngành',
    'Điện toán đám mây',
    'Phân tích và thiết kế hệ thống thông tin',
    'Lập trình ứng dụng trên Windows',
    'Thương mại điện tử',
    'Đồ họa ứng dụng',
    'Chuyên đề Linux',   
    'An toàn và bảo mật thông tin',
    'Công nghệ phần mềm',
    'Lập trình thiết bị di động',
    'Khai phá dữ liệu',
    'Cơ sở trí tuệ nhân tạo',
    'Hệ quản trị cơ sở dữ liệu',
    'Nguyên lý kế toán',
    'Kỹ thuật xây dựng và ban hành văn bản',
    'Tâm lý học đại cương',
    'Quản trị doanh nghiệp',
    'Chuyên đề đặc biệt',
    'Phát triển ứng dụng web mã nguồn mở',
    'Phát triển ứng dụng hướng dịch vụ',
    'Quản trị dự án Công nghệ thông tin',
    'Thực tập đồ án chuyên ngành',
    'Xử lý ảnh',
    'Tương tác người – máy',
    'Chuyên đề ASP.NET',
    'Xây dựng phần mềm hướng đối tượng',
    'Máy học ứng dụng',
    'Thực tập cuối khóa',
    'Hệ thống thông tin quản lý',
    'Quản trị mạng',
    'Đồ án tốt nghiệp',
]



function autocompleteContenteditable(inp, arr) {
    var currentFocus;
    
    inp.addEventListener("input", function (e) {
        var a, b, i, val = this.innerText;
        closeAllLists();
        if (!val) { return false; }
        currentFocus = -1;

        a = document.createElement("DIV");
        a.setAttribute("class", "autocomplete-items");
        a.setAttribute("id", this.id + "autocomplete-list");
        
        this.parentNode.appendChild(a);

        for (i = 0; i < arr.length; i++) {
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                b = document.createElement("DIV");
                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                b.innerHTML += arr[i].substr(val.length);
                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                b.addEventListener("click", function (e) {
                    inp.innerHTML = this.getElementsByTagName("input")[0].value;
                    closeAllLists();
                });
                a.appendChild(b);
            }
        }
    });

    inp.addEventListener("keydown", function (e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
            currentFocus++;
            addActive(x);
        } else if (e.keyCode == 38) {
            currentFocus--;
            addActive(x);
        } else if (e.keyCode == 13) {
            e.preventDefault();
            if (currentFocus > -1) {
                if (x) x[currentFocus].click();
            }
        }
    });

    function addActive(x) {
        if (!x) return false;
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        x[currentFocus].classList.add("autocomplete-active");
    }

    function removeActive(x) {
        for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
        }
    }

    function closeAllLists(elmnt) {
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
            }
        }
    }

    document.addEventListener("input", function (e) {
        closeAllLists(e.target);
    });

    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
}

autocompleteContenteditable(document.getElementById("myInput"), countries);
autocompleteContenteditable(document.getElementById("myInput1"), countries);
</script>