<div class="formInput_print">
<div class="formLearningResources">
  <p class="section-content">&nbsp;</p>
  <p class="section-content break"><strong><span>2. Nguồn học liệu (Learning
        resources):</span></strong>
  </p>
  {{!----}}
  {{!-- 2. Nguồn học liệu (Learning resources): --}}
  {{!----}}
  <p class="section-content">&nbsp;</p>
  <div class="table-2-display-row">
    <table class="table-2-learning-resources">
      <tbody>
        <tr>
          <td class="table-2-learning-header">
            <p><span id="loaiHocLieu">Giáo trình/Tài liệu học tập chính</span></p>
          </td>
          <td class="table-2-learning-body">
            <div id="giaotrinh">
              <div style="display:flex;" class="giaotrinh TaiLieu section-content" id="giaotrinh1">
                <div class="stt" contenteditable="false">
                  [1]&nbsp;&nbsp;
                </div>
                <div>
                    <span contenteditable="true">[tên tác giả](năm xuất bản)</span>.&nbsp;
                    <span contenteditable="true" style="font-style: italic;">
                    [tên tài liệu]</span>.&nbsp;<br><span contenteditable="true"> 
                    [nguồn] </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="table-2-learning-header">
            <p><span id="loaiHocLieu">Tài liệu tham khảo thêm</span></p>
          </td>
          <td class="table-2-learning-body">
            <div id="TaiLieuThamKhao">
              <div style="display: flex;" class="TaiLieuThamKhao TaiLieu section-content text-left" id="TaiLieuThamKhao1">
                <div class="stt" contenteditable="false">
                  [2]&nbsp;&nbsp;
                </div>
                <div>
                    <span contenteditable="true">[tên tác giả](năm xuất bản)</span>.&nbsp;
                    <span contenteditable="true" style="font-style: italic;">
                    [tên tài liệu]</span>.&nbsp;<br><span contenteditable="true"> 
                    [nguồn] </span>
                </div>

              </div>
            </div>
          </td>

        </tr>
        <tr>
          <td class="table-2-learning-header">
            <p><span id="loaiHocLieu">Các loại học liệu khác</span></p>
          </td>
          <td class="table-2-learning-body">
            <div id="HocLieu">
              <div style="display: flex;" class="HocLieu TaiLieu section-content" id="HocLieu1">
                <div class="stt" contenteditable="false">
                  [3]&nbsp;&nbsp;
                </div>
                <div>
                    <span contenteditable="true">[tên tác giả](năm xuất bản)</span>.&nbsp;
                    <span contenteditable="true" style="font-style: italic;">
                    [tên tài liệu]</span>.&nbsp;<br><span contenteditable="true"> 
                    [nguồn] </span>
                </div>
              </div>
              

            </div>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="instructionForm-table2" id="instructionForm-table2">
      <h3>Bảng Chương phần 2</h3>

      <button id="addButton" onclick="CreateCDR('giaotrinh')" class="btn btn-secondary ctc1">
        + thêm 1 giaotrinh
      </button>

      <button id="addButton" onclick="CreateCDR('TaiLieuThamKhao')" class="btn btn-secondary ctc1">
        + thêm 1 TaiLieuThamKhao
      </button>
      <button id="addButton" onclick="CreateCDR('HocLieu')" class="btn btn-secondary ctc1">
        + thêm 1 HocLieu
      </button>

      <button id="button_delete_tb2" class="btn btn-secondary ctc1">
        + xóa
      </button>
    </div>

  </div>
</div>
</div>
{{>createFocus}}
{{>table-2}}
{{>all_Autocomplete}}
{{>Autocomplete}}
{{>ChangeDropdownText}}
{{>CleanUpDataPost}}
{{>PostUpdate}}