<script src="/js/function_to_all.js"></script>
<td class="body-1-general-information-1">
    <p>
        <span>
            <label for="LoaiHocPhan1">Đại cương</label>
        </span>
        <span><input type="checkbox" value="Đại cương" id="LoaiHocPhan1"
                onclick="FunctionToAll.checkboxClicked('LoaiHocPhan1')">
        </span>
    </p>
    <p>
        <span>
            <label for="LoaiHocPhan2">Cơ sở</label>
        </span>
        <span>
            <input type="checkbox" value="Cơ sở" id="LoaiHocPhan2"
                onclick="FunctionToAll.checkboxClicked('LoaiHocPhan2')">
        </span>
    </p>
    <p class="flex-row">
        <span>
            <label for="LoaiHocPhan3">Chuyên ngành</label>
        </span>
        <span>
            <input type="checkbox" value="Chuyên ngành" id="LoaiHocPhan3"
                onclick="FunctionToAll.checkboxClicked('LoaiHocPhan3')">
        </span>
    </p>
</td>

<script>
    const FunctionToAll = new function_to_all();
</script>