<div class="body-body">
    <div class="submitdemo">
        <button class="btn btn-outline-success my-2 my-sm-0" id="taocautruc"type="submit">tạo cấu trúc</button>
    </div>
    <div class="app" id="app">
    <div class="app-A4" id="app-A4">
        {{!-- <div class="content-header" id="content-header">
        </div>
        <div class="content-table-course">
        </div> --}}
            
            <table class="my-table" width="625" id="myTable">
                <tr style="height:70.6pt">
                    <td class="width-342" rowspan="2">
                        <b class="color-000">Nội dung</b>
                    </td>
                    <td class="width-96" rowspan="2">
                        <b class="color-000">CĐR học phần</b>
                    </td>
                    <td class="width-114" colspan="2">
                        <b class="color-000">Số giờ</b>
                    </td>
                    <td class="width-74">
                        <b class="color-000">Giờ tự học và giờ học khác</b>
                    </td>
                </tr>
                <tr style="height:6.6pt">
                    <td class="width-60">
                        <b class="color-000">LT</b>
                    </td>
                    <td class="width-54">
                        <b class="color-000">TH</b>
                    </td>
                    <td class="width-74-gth"></td>
                </tr>
                <tr style="height:14.35pt">
                    <td class="width-341">
                        <b class="color-000">Chương 1. Các khái niệm cơ bản về xác suất</b>
                    </td>
                    <td class="width-96-gth">
                        <b class="color-000">1</b>
                    </td>
                    <td class="width-60-gth">
                        <b class="color-000">5</b>
                    </td>
                    <td class="width-54-gth">
                        <b class="color-000">5</b>
                    </td>
                    <td class="width-74-gth">
                        <b class="color-000">5</b>
                    </td>
                </tr>
            </table>
    </div>
    
</div>
</div>
<script>// Mảng KiemTra để theo dõi trạng thái
var KiemTra = [0];
// Mảng để theo dõi các hàng đã được tạo
var createdRows = [];
var contentOverflowed = false;
  document.getElementById('taocautruc').addEventListener('click', function() {
    
   var table = document.getElementById('myTable');
    var newRow = document.createElement('tr');
    newRow.innerHTML = `
        <td class="width-341"><b class="color-000">Chương 1. Các khái niệm cơ bản về xác suất</b></td>
        <td class="width-96-gth"><b class="color-000">1</b></td>
        <td class="width-60-gth"><b class="color-000">5</b></td>
        <td class="width-54-gth"><b class="color-000">5</b></td>
        <td class="width-74-gth"><b class="color-000">5</b></td>`;
    table.appendChild(newRow);

    var appA4 = document.querySelector('.app-A4');
    var appA4Height = appA4.clientHeight;
    var totalContentHeight = appA4.scrollHeight;
    if (totalContentHeight > appA4Height && !contentOverflowed) {
        // Create a new .app-A4 container for new content
        var newAppA4 = document.createElement('div');
        newAppA4.className = 'app-A4';
        // Optionally, clone the header row from the original table to the new table
        var newTable = document.createElement('table');
        newTable.className = 'my-table';
        newTable.setAttribute('width', '625');
        newTable.appendChild(table.rows[0].cloneNode(true)); // Clone the header row
        newAppA4.appendChild(newTable); // Append the new table to the new .app-A4

        // Get the .app container
        var appContainer = document.getElementById('app');
        appContainer.appendChild(newAppA4); // Append the new .app-A4 to the .app container
        
        contentOverflowed = true; // Set the flag to true to avoid creating multiple new pages unnecessarily
    }
  </script>
  <script>
function calculateHeight(element) {
    var totalHeight = 0;
    for (var i = 0; i < element.children.length; i++) {
        totalHeight += element.children[i].offsetHeight;
    }
    return totalHeight;
}

function addNewPage() {
    var newPage = document.createElement('div');
    newPage.className = 'app-A4';
    document.getElementById('app').appendChild(newPage);
    return newPage;
}

function addRowToPage(page, row) {
    var table = page.getElementsByTagName('table')[0];
    if (!table) {
        table = document.createElement('table');
        table.className = 'my-table';
        table.setAttribute('width', '625');
        page.appendChild(table);
    }
    table.appendChild(row);
}

function addNewRow() {
    // Create the new row
    var newRow = document.createElement('tr');
    newRow.innerHTML = `<td class="width-341"><b class="color-000">New Content</b></td>
                        <td class="width-96-gth"><b class="color-000">1</b></td>
                        <td class="width-60-gth"><b class="color-000">5</b></td>
                        <td class="width-54-gth"><b class="color-000">5</b></td>
                        <td class="width-74-gth"><b class="color-000">5</b></td>`;

    // Get the last page
    var pages = document.getElementsByClassName('app-A4');
    var lastPage = pages[pages.length - 1];
    var contentHeightBeforeAdding = calculateHeight(lastPage);
    var pageHeight = 1123; // A4 page height in pixels

    // Check if adding the new row would exceed the height of the last page
    if (contentHeightBeforeAdding + newRow.offsetHeight > pageHeight) {
        // Create a new page and add the row there
        var newPage = addNewPage();
        addRowToPage(newPage, newRow);
    } else {
        // Add the new row to the last page
        addRowToPage(lastPage, newRow);
    }
}

document.getElementById('taocautruc').addEventListener('click', addNewRow);


</script>
