<div class="container">
    <h1>Login</h1>
    <form method="post" id="loginForm" action="">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <!-- Call the login function when the button is clicked -->
        <button type="button" onclick="login()">Login</button>
    </form>
    <button type="button" onclick="hung()">test</button>
</div>

<!-- Include the Axios library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
   async function login() {
       await $.ajax({
            url: '/login',
            type: 'POST',
            data: {
                username: $('#username').val(), // Call the val() function
                password: $('#password').val()  // Call the val() function
            }
        }).then(data => {
            setCookie('token', data.token, 1);
        }).catch(err => {
            console.log(err);
        });
      
    }
</script>

{{>Get_Set_Cookie}}