<div class="formInput">
    <div class="formInput_monHoc" id="formInput_monHoc">
        <div class="formInput_baseA4" id="formInput_baseA4">
            <div class="formInput_print">
                {{!-- <p class="section-content">&nbsp;</p>--}}
                {{! enter xuống dòng}}
                {{!----}}
                <p class="section-content text-right"><strong>PHỤ LỤC&nbsp;<span contenteditable="true"></span></strong></p>
                <p class="section-content text-center"><strong><span>ĐỀ CƯƠNG CHI TIẾT HỌC PHẦN</span></strong></p>
                <p class="section-content text-center"><strong><span contenteditable="true">THỐNG KÊ VÀ PHÂN TÍCH DỮ
                            LIỆU</span></strong></p>
                <p class="section-content text-center"><strong>MSHP:<span contenteditable="true">320045</span></strong>
                </p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>1. Thông tin chung (General information):</span></strong></p>
                <p class="section-content">&nbsp;</p>
                {{!-- table general-information --}}
                {{!-- 1. Thông tin c"class="body-course-content" (General information): --}}
                {{!-- table-1-general-information --}}
                <table class="table-1-general-information-1 section-content">
                    <tbody>
                        {{!-- header-general-information-1 --}}
                        <tr>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Loại học phần</em></strong></p>
                            </td>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Số tín chỉ</em></strong></p>
                            </td>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Số giờ dự giảng</em></strong></p>
                            </td>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Giờ tự học và giờ học khác</em></strong></p>
                            </td>
                        </tr>
                        {{!-- body-general-information-1 --}}
                        <tr>
                            <td class="body-1-general-information-1">
                                <p class="flex-row">
                                    <span>
                                        <label for="LoaiHocPhan1">Đại cương</label>
                                    </span>

                                    <span class="test">

                                        <input class="test" type="checkbox" value="Đại cương" id="LoaiHocPhan1"
                                            onclick="checkboxChanged('LoaiHocPhan1')">

                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span>
                                        <label for="LoaiHocPhan2">Cơ sở</label>
                                    </span>

                                    <span class="test">
                                        <input type="checkbox" value="Cơ sở" id="LoaiHocPhan2"
                                            onclick="checkboxChanged('LoaiHocPhan2')">

                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span>
                                        <label for="LoaiHocPhan3">Chuyên ngành</label>
                                    </span>

                                    <span class="test">

                                        <input type="checkbox" value="Chuyên ngành" id="LoaiHocPhan3"
                                            onclick="checkboxChanged('LoaiHocPhan3')">
                                    </span>
                                </p>
                            </td>
                            <td class="body-1-general-information-1">
                                <p>Lý thuyết: &nbsp; &nbsp;&nbsp;<span contenteditable="true">2</span></p>
                                <p>Thực hành: &nbsp; &nbsp;<span contenteditable="true">1</span></p>
                            </td>
                            <td class="body-1-general-information-1">
                                <p>Lý thuyết:&nbsp;<span contenteditable="true">30</span></p>
                                <p>Thực hành:&nbsp;<span contenteditable="true">30</span></p>
                            </td>
                            <td class="body-1-general-information-1">
                                <p><span contenteditable="true">90</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><strong><em><span>Đối tượng học</span></em><span>: &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></p>
                <p>Trình độ đào tạo:&nbsp;<span contenteditable="true">Đại học</span></p>
                <p>Ngành:&nbsp;<span contenteditable="true">Công nghệ Thông tin</span></p>
                <p><span>Chuyên ngành:&nbsp;<span contenteditable="true">
                            &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.
                        </span>(nếu có)</span></p>
                <p>Học kỳ:&nbsp;<span contenteditable="true">V</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    Năm thứ:&nbsp;<span contenteditable="true">3</span>
                </p>
                <p><strong><em><span>Điều kiện tham gia học phần:</span></em></strong></p>
                <table class="table-1-general-information-2">
                    <tbody>
                        <tr>
                            <td class="header-1-general-information-2">Học phần tiên quyết</td>
                            <td colspan="2" class="body-1-general-colspan-2"><span contenteditable="true">Vi tích phân
                                    A1</span> &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;MSHP:<span contenteditable="true">110042</span> </td>
                        </tr>
                        <tr>
                            <td class="body-1-general-left-2">Học phần song hành</td>
                            <td colspan="2" class="body-1-general-right-2"><span contenteditable="true">Không</span>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="body-1-general-left-2">Các yêu cầu khác</td>
                            <td class="header-1-general-information-2">Về kiến thức:</td>
                            <td class="body-1-general-colspan-2"><span contenteditable="true">kiến thức toán học phổ
                                    thông</span></td>
                        </tr>
                        <tr>
                            <td class="header-1-general-information-2">Về kỹ năng:</td>
                            <td class="body-1-general-colspan-2">
                                <p><span contenteditable="true">
                                - Kỹ năng phân tích, giải quyết vấn đề
                                <br>
                                - Kỹ năng tập trung, ghi nhớ, tính toán, biến đổi
                                </span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="header-1-general-information-2">Về thái độ:</td>
                            <td class="body-1-general-colspan-2"><span contenteditable="true">Chủ động trong học
                                    tập</span></td>
                        </tr>
                    </tbody>
                </table>
                <p class="section-content">&nbsp;</p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>2. Nguồn học liệu (Learning resources):</span></strong></p>
                <p class="section-content">&nbsp;</p>
                {{!----}}
                {{!-- 2. Nguồn học liệu (Learning resources): --}}
                {{!----}}

                <table class="table-2-learning-resources">
                    <tbody>
                        <tr>
                            <td class="table-2-learning-header">
                                <p>Giáo trình/Tài liệu học tập chính</p>
                            </td>
                            <td class="table-2-learning-body">
                                <p>[1] Nguyễn Văn Tuấn (2014). <em>Phân tích dữ liệu với R.</em> NXB Tổng
                                    hợp TP Hồ Chí Minh.</p>
                                <p>[2]<em>&nbsp;</em>Danielle Navarro, Ethan Weed (2021). <em>Learning Statistics with
                                        Python</em>. Online:&nbsp;<a
                                        href="https://ethanweed.github.io/pythonbook/landingpage.html">https://ethanweed.github.io/pythonbook/landingpage.html</a>.
                                </p>
                                <p>[3]<em>&nbsp;</em>Peter Bruce, Andrew Bruce, Peter Gedeck (2020). <em>Practical
                                        Statistics for Data Scientists: 50+ Essential Concepts Using R and Python</em>.
                                    O'Reilly Media.</p>
                            </td>
                            <td class="empty"></td>
                        </tr>


                        <tr>
                            <td class="table-2-learning-header">
                                <p>Tài liệu tham khảo thêm</p>
                            </td>
                            <td class="table-2-learning-body">
                                <p>[4] Jake VanderPlas (2017) <em>Python Data Science Handbook: Essential Tools for
                                        Working with Data</em>. O'Reilly Media.</p>
                                <p>[5] Alan Agresti, Christine A. Franklin, Bernhard Klingenberg (2020).
                                    &nbsp;<em>Statistics:</em> <em>The Art and Science of Learning from Data
                                        5<sup>th</sup> edition.&nbsp;</em>Pearson</p>
                            </td>
                            <td class="empty"></td>
                        </tr>


                        <tr>
                            <td class="table-2-learning-header">
                                <p>C&aacute;c loại học liệu kh&aacute;c</p>
                            </td>
                            <td class="table-2-learning-body">
                                <p>[6] Mirko Stojiljković (2022). <em>Python Statistics Fundamentals: How to Describe
                                        Your Data</em></p>
                                <p>[7] FreeCodeCamp. <em>Courses: Data Analysis with
                                        Python</em><em><span>&nbsp;</span></em><span>[</span><a
                                        href="https://www.freecodecamp.org/learn/data-analysis-with-python"><span>https://www.freecodecamp.org/learn/data-analysis-with-python</span></a><span>].&nbsp;</span>
                                </p>
                                <p>[8] Dionysia Lemonaki (2022). <em>What is Data Analysis?</em></p>
                                <p>[9] Colaboratory-team, Craig Citro (2020). <em>Using Google Colab with GitHub</em>
                                    [</span><a
                                        href="https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb"><span>https://colab.research.google.com/github/<br>&nbsp;googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb</span></a><span>]</span>
                                </p>
                            </td>
                            <td class="empty"></td>
                        </tr>
                    </tbody>
                </table>

                {{!----}}
                {{!-- 3. Mô tả học phần (Course description): --}}
                {{!----}}

                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>3. Mô tả học phần (Course description):</span></strong></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">
                        Học phần giúp trang bị cho sinh viên cá c kiến thức cơ bản về xác suất và thống kê để phân tích
                        dữ liệu trong nghiê n cứu. Sinh viên sẽ được học cách biê n tập dữ liệu, cách mô tả dữ liệu bằng
                        biểu đồ và bằng các đặc trưng thống kê, cách thu thập dữ liệu, thiết kế nghiên cứu và kiểm định
                        cá c giả thuyết thống kê trên ngôn ngữ Python/R. Nhờ đó sinh viên có thể ứng dụng các kiến thức
                        của môn học để thực hiện các nghiên cứu khoa học và học các môn học có ứng dụng kiến thức thống
                        kê như Trí tuệ nhân tạo, Khai phá dữ liệu… Đồng thời, kỹ năng sử dụng ngôn ngữ Python/R giúp
                        sinh viên có thể dễ dàng tham gia các cộng đồng phân tích số liệu để có thể tự học và nghiên cứu
                        sâu hơn. Học phần cũng giúp sinh viên hình thành thái độ và nhận thức đúng đắn về vai trò của
                        thống kê và khoa học dữ liệu trong bối cảnh hiện đại.</span></p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>4. Chuẩn đầu ra của học phần (Course learning
                            outcomes):</span></strong></p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content">Sau khi hoàn thành học phần, sinh viên có thể:</p>

                {{!-- Course learning outcomes --}}
                {{!-- 4. Chuẩn đầu ra của học phần (Course learning outcomes): --}}
                {{!-- Course learning outcomes --}}

                <table class="table-4-learning-outcomes">
                    <tbody>
                        {{!-- header-learning-outcomes --}}
                        <tr>
                            <td class="header-4-learning-outcomes-1">
                                <p><span>&nbsp;</span></p>
                            </td>
                            <td class="header-4-learning-outcomes-2">
                                <p><strong>Chuẩn đầu ra của học phần</strong></p>
                            </td>
                            <td class="header-4-learning-outcomes-3">
                                <p><strong>Đáp ứng CĐR của CTĐT</strong></p>
                            </td>
                            <td class="header-4-learning-outcomes-4">
                                <p><strong>Trình độ năng lực</strong></p>
                            </td>
                            <td class="header-4-learning-outcomes-5">
                                <p><strong>TUA</strong></p>
                            </td>
                        </tr>
                        {{!-- <tr> tieu de 1 --}}
                        <tr>
                            <td colspan="5" class="body-4-learning-outcomes">
                                <div class="body-4-learning-outcomes-tital">
                                    <p class="decimal-list"><strong><em><span class="strong-text">❖ Về kiến
                                                    thức:</span></em></strong></p>
                                </div>
                            </td>
                        </tr>
                        {{!-- <tr> noi dung --}}
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left"><span contenteditable="true">1.</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">
                                    <span contenteditable="true">
                                        Trình bày các khái niệm cơ bản về xác suất
                                    </span>
                                </p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph"> <span contenteditable="true">PLO1</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center"><span contenteditable="true">2</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph"><span contenteditable="true">TUA</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left"><span contenteditable="true">2.</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">
                                    <span contenteditable="true">
                                        Trình bày vai trò của thống kê trong nghiên cứu khoa học
                                    </span>
                                </p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph"> <span contenteditable="true">PLO1</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center"><span contenteditable="true">3</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph"><span contenteditable="true">TUA</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left"><span contenteditable="true">3.</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">
                                    <span contenteditable="true">
                                        Phân tích dữ liệu biểu đồ bằng ngôn ngữ Python/R
                                    </span>
                                </p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph"> <span contenteditable="true">PLO3</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center"><span contenteditable="true">4</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph"><span contenteditable="true">TUA</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left"><span contenteditable="true">4.</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">
                                    <span contenteditable="true">
                                        Thực hiện các bài toán kiểm định giả thuyết thống kê
                                    </span>
                                </p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph"> <span contenteditable="true">PLO4</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center"><span contenteditable="true">3</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph"><span contenteditable="true">TUA</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left"><span contenteditable="true">5.</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">
                                    <span contenteditable="true">
                                        Thực hiện phân tích phương sai, tương quan, hồi quy, dữ liệu chuỗi thời gian
                                    </span>
                                </p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph"> <span contenteditable="true">PLO4</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center"><span contenteditable="true">3</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph"><span contenteditable="true">TUA</span></p>
                            </td>
                        </tr>
                        {{!-- <tr> tieu de 2 --}}
                        <tr>
                            <td colspan="5" class="body-4-learning-outcomes">
                                <div class="body-4-learning-outcomes-tital">
                                    <p class="decimal-list"><strong><em><span class="strong-text">❖ Về kỹ năng (bao gồm
                                                    kỹ năng chuyên môn và kỹ năng mềm)</span></em></strong></p>
                                </div>
                            </td>
                        </tr>
                        {{!-- <tr> noi dung --}}
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left"><span contenteditable="true">6.</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">
                                    <span contenteditable="true">
                                        Vận dụng các kiến thức chuyên ngành trong thiết kế nghiên cứu
                                    </span>
                                </p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph"> <span contenteditable="true">PLO2</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center"><span contenteditable="true">3</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph"><span contenteditable="true">UA</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left"><span contenteditable="true">7.</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">
                                    <span contenteditable="true">
                                        Ước lượng và phân tích định tính vấn đề
                                    </span>
                                </p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph"> <span contenteditable="true">PLO1</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center"><span contenteditable="true">3</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph"><span contenteditable="true">TUA</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left"><span contenteditable="true">8.</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">
                                    <span contenteditable="true">
                                        Kiểm tra và bảo vệ giả thuyết
                                    </span>
                                </p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph"> <span contenteditable="true">PLO4</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center"><span contenteditable="true">4</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph"><span contenteditable="true">TUA</span></p>
                            </td>
                        </tr>
                        {{!-- <tr> tieu de 3 --}}
                        <tr>
                            <td colspan="5" class="body-4-learning-outcomes">
                                <div class="body-4-learning-outcomes-tital">
                                    <p class="decimal-list"><strong><em>
                                                <span class="strong-text">❖ Về thái độ:
                                                </span></em></strong></p>
                                </div>
                            </td>
                        </tr>
                        {{!-- <tr> noi dung --}}
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left"><span contenteditable="true">1.</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">
                                    <span contenteditable="true">
                                        Tôn trọng đạo đức nghiên cứu và học tập suốt đời
                                    </span>
                                </p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph"> <span contenteditable="true">PLO9, PLO10</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center"><span contenteditable="true">3</span></p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph"><span contenteditable="true">TA</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="section-content">&nbsp;</p>
                {{!----}}
                {{!-- 5. Nội dung học phần (Course content) --}}
                {{!----}}
                <p class="section-content break"><strong><span>5. Nội dung học phần (Course content)</span></strong></p>

                <table class="table-5-course-content">
                    <tbody>
                        {{!-- header --}}
                        <tr>
                            <td rowspan="2" class="header-5-course-content-255_55pt">
                                <p style='header-5-course-content-p'><strong><span>Nội dung</span></strong></p>
                            </td>
                            <td rowspan="2" class="header-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span>CĐR học phần</span></strong></p>
                            </td>
                            <td colspan="2" class="header-5-course-content-85_25pt">
                                <p style='header-5-course-content-p'><strong><span>Số giờ</span></strong></p>
                            </td>
                            <td class="header-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span>Giờ tự học và giờ học khác
                                        </span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="header-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span>LT</span></strong></p>
                            </td>
                            <td class="header-5-course-content-55_85pt-2">
                                <p style='header-5-course-content-p'><strong><span>TH</span></strong></p>
                            </td>
                            <td class="header-5-course-content-55_85pt-2">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        {{!-- body - tital --}}
                        <tr>
                            <td class="body-5-course-content-255_55pt">
                                <p class="table-5-course-content-p">
                                    <strong><span contenteditable="true">
                                        Chương 1. Các khái niệm cơ bản về xác suất
                                        </span></strong></p>
                            </td>
                            <td class="body-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">1</span></strong></p>
                            </td>
                            <td class="body-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-40_4pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">5</span></strong></p>
                            </td>
                        </tr>
                        {{!-- body - content --}}
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">1.1. Bổ túc về giải tích tổ hợp</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">1.2. Biến cố và quan hệ giữa các biến cố
                                    </span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">1.3. Xác suất và một số công thức tính xác
                                        suất</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">1.4. Dãy phép thử Bernoulli</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">1.5. Biến ngẫu nhiên và hàm phân phối</span>
                                </p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">1.6. Một số phân phối thông dụng (phân phối
                                        nhị thức, phân phối Poisson, phân phối chuẩn, phân phối Student, phân phối F và
                                        phân phối χ2)</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">1.7. Giới thiệu ngôn ngữ Python/R và lập trình
                                        trong Python/R</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        {{!-- footer - content --}}
                        <tr>
                            <td class="footer-5-course-content-255_55pt">
                                <p class="text-justify"><em><span>Kỹ năng mềm và thái độ</span></em></p>
                            </td>
                            <td colspan="4" class="footer-5-course-content-212_9pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">9</span></p>
                            </td>
                        </tr>
                        {{!-- body - tital --}}
                        <tr>
                            <td class="body-5-course-content-255_55pt">
                                <p class="table-5-course-content-p">
                                    <strong><span contenteditable="true">
                                            Chương 2. Phân tích thống kê mô tả
                                        </span></strong>
                                </p>
                            </td>
                            <td class="body-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">1</span></strong></p>
                            </td>
                            <td class="body-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-40_4pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">5</span></strong></p>
                            </td>
                        </tr>
                        {{!-- body - content --}}
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">2.1. Tổng thể và mẫu</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">2.2. Biến phân loại, biến nhị phân và biến
                                        liên tục</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        {{!-- footer - content --}}
                        <tr>
                            <td class="footer-5-course-content-255_55pt">
                                <p class="text-justify"><em><span>Kỹ năng mềm và thái độ</span></em></p>
                            </td>
                            <td colspan="4" class="footer-5-course-content-212_9pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">9</span></p>
                            </td>
                        </tr>
                        {{!-- body - tital --}}
                        <tr>
                            <td class="body-5-course-content-255_55pt">
                                <p class="table-5-course-content-p">
                                    <strong><span contenteditable="true">
                                            Chương 3. Phân tích dữ liệu bằng biểu đồ
                                        </span></strong>
                                </p>
                            </td>
                            <td class="body-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">3</span></strong></p>
                            </td>
                            <td class="body-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-40_4pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">3</span></strong></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span contenteditable="true">5</span></strong></p>
                            </td>
                        </tr>
                        {{!-- body - content --}}
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">3.1. Cửa sổ biểu đồ trong Python/R</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-content--course-content-40_4pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class="table-5-course-content-p"><span>&nbsp;</span></p>
                            </td>
                        </tr>
                        {{!-- footer - content --}}
                        <tr>
                            <td class="footer-5-course-content-255_55pt">
                                <p class="text-justify"><em><span>Kỹ năng mềm và thái độ</span></em></p>
                            </td>
                            <td colspan="4" class="footer-5-course-content-212_9pt">
                                <p class="table-5-course-content-p"><span contenteditable="true">9</span></p>
                            </td>
                        </tr>


                    </tbody>
                </table>
                {{!----}}
                {{!-- 6. Phương pháp dạy và học (Teaching and learning methods): --}}
                {{!----}}
                <p class="section-content"><strong><span>6. Phương pháp dạy và học (Teaching and learning
                            methods):</span></strong></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">- Diễn giảng </span></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">- Vấn đáp (Questions –
                        Answers)</span></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">- Hoạt động nhóm (Group-based
                        Learning)</span></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">- Học dựa trên dự án
                        (Project-based Learning)</span></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">- Thao tác mẫu (Demo)</span></p>
                {{!----}}
                {{!-- 7. Đánh giá học phần (Course assessment): --}}
                {{!----}}
                <p class="section-content"><strong><span>7. Đánh giá học phần (Course assessment):</span></strong></p>
                <table class="table-7-course-assessment">
                    <tbody>
                        {{!-- header-course-assessment --}}
                        <tr>
                            <td class="header-7-course-assessment-60_75pt">
                                <p><span>&nbsp;</span></p>
                            </td>
                            <td class="header-7-course-assessment-95_25pt">
                                <p><strong><span>Hình thức đánh giá/thời gian</span></strong></p>
                            </td>
                            <td class="header-7-course-assessment-99_0pt">
                                <p><strong><span>Nội dung &nbsp;</span></strong></p>
                                <p><strong><span>đánh giá</span></strong></p>
                            </td>
                            <td class="header-7-course-assessment-72_0pt">
                                <p><strong><span>CĐR của học phần</span></strong></p>
                            </td>
                            <td class="header-7-course-assessment-79_5pt">
                                <p><strong><span>Tiêu chí đánh giá</span></strong></p>
                            </td>
                            <td class="header-7-course-assessment-46_5pt">
                                <p><strong><span>Tỷ lệ %</span></strong></p>
                            </td>
                        </tr>
                        {{!-- body-course-assessment --}}
                        <tr>
                            <td rowspan="2" class="body-7-course-assessment-60_75pt">
                                <p><strong><span>Đánh giá quá trình</span></strong></p>
                            </td>
                            <td class="body-7-course-assessment-95_25pt">
                                <p><span contenteditable="true">Kiểm tra lý thuyết hoặc</span></p>
                                <p><span contenteditable="true">Kiểm tra thực hành</span></p>
                            </td>
                            <td class="body-7-course-assessment-99_0pt">
                                <p><span contenteditable="true">Từ Chương 1 đến Chương 4</span></p>
                            </td>
                            <td class="body-7-course-assessment-72_0pt">
                                <p><span contenteditable="true">Từ 1 đến 4</span></p>
                            </td>
                            <td class="body-7-course-assessment-79_5pt">
                                <p><span contenteditable="true">Theo đáp án</span></p>
                            </td>
                            <td class="body-7-course-assessment-46_5pt">
                                <p><span contenteditable="true">25%</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-7-course-assessment-95_25pt">
                                <p><span contenteditable="true">Bài tập lớn</span></p>
                            </td>
                            <td class="body-7-course-assessment-99_0pt">
                                <p><span contenteditable="true">Từ Chương 4 đến Chương 8</span></p>
                            </td>
                            <td class="body-7-course-assessment-72_0pt">
                                <p><span contenteditable="true">Từ 3 đến 8</span></p>
                            </td>
                            <td class="body-7-course-assessment-79_5pt">
                                <p><span contenteditable="true">Theo đáp án</span></p>
                            </td>
                            <td class="body-7-course-assessment-46_5pt">
                                <p><span contenteditable="true">25%</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="body-7-course-assessment-60_75pt height-10_0pt">
                                <p><strong><span contenteditable="true">Đánh giá kết thúc học phần</span></strong></p>
                                <p><em><span contenteditable="true">(Chọn 1 trong 2)</span></em></p>
                            </td>
                            <td class="body-7-course-assessment-95_25pt height-10_0pt">
                                <p><span contenteditable="true">Đồ án (nhóm)</span></p>
                            </td>
                            <td class="body-7-course-assessment-99_0pt height-10_0pt">
                                <p><span contenteditable="true">Từ Chương 1 đến Chương 6</span></p>
                            </td>
                            <td class="body-7-course-assessment-72_0pt height-10_0pt">
                                <p><span contenteditable="true">Từ 1 đến 9</span></p>
                            </td>
                            <td class="body-7-course-assessment-79_5pt height-10_0pt">
                                <p><span contenteditable="true">Theo đáp án</span></p>
                            </td>
                            <td class="body-7-course-assessment-46_5pt height-10_0pt">
                                <p><span contenteditable="true">50%</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-7-course-assessment-95_25pt height-10_0pt">
                                <p><span contenteditable="true">Thi thực hành</span></p>
                            </td>
                            <td class="body-7-course-assessment-99_0pt height-10_0pt">
                                <p><span contenteditable="true">Từ Chương 1 đến Chương 6</span></p>
                            </td>
                            <td class="body-7-course-assessment-72_0pt height-10_0pt">
                                <p><span contenteditable="true">Từ 1 đến 8</span></p>
                            </td>
                            <td class="body-7-course-assessment-79_5pt height-10_0pt">
                                <p><span contenteditable="true">Theo đáp án</span></p>
                            </td>
                            <td class="body-7-course-assessment-46_5pt height-10_0pt">
                                <p><span contenteditable="true">50%</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{!----}}
                {{!-- 8. Các quy định (Course requirements and expectation): --}}
                {{!----}}
                <p class="section-content"><strong><span>8. Các quy định (Course requirements and
                            expectation):</span></strong></p>
                <p class="section-content"><strong><span>8.1. Quy định về tham dự lớp học</span></strong></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">● Sinh viên có trách nhiệm tham dự đầy đủ các buổi học.
                        Trong trường hợp phải nghỉ học vì lý do bất khả kháng thì phải có giấy tờ chứng minh đầy đủ và
                        hợp lý.</span></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">● Sinh viên vắng quá 20% số giờ dự giảng của học phần bị
                        xem như không hoàn thành học phần và phải đăng ký học lại vào học kỳ sau. Những trường hợp khác
                        phải do Ban Giám hiệu hoặc Trưởng khoa quyết định</span></p>

                <p class="section-content"><strong><span>8.2. Quy định về hành vi trong lớp học</span></strong></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">● Sinh viên có trách nhiệm tham dự đầy đủ các buổi học.
                        Trong trường hợp phải nghỉ học vì lý do bất khả kháng thì phải có giấy tờ chứng minh đầy đủ và
                        hợp lý.</span></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">● Sinh viên vắng quá 20% số giờ dự giảng của học phần bị
                        xem như không hoàn thành học phần và phải đăng ký học lại vào học kỳ sau. Những trường hợp khác
                        phải do Ban Giám hiệu hoặc Trưởng khoa quyết định</span></p>
                <p class="section-content"><strong><span>8.3. Quy định về học vụ</span></strong></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">● Sinh viên có trách nhiệm tham dự đầy đủ các buổi học.
                        Trong trường hợp phải nghỉ học vì lý do bất khả kháng thì phải có giấy tờ chứng minh đầy đủ và
                        hợp lý.</span></p>
                <p class="section-content Thut-dau-dong"><span contenteditable="true">● Sinh viên vắng quá 20% số giờ dự giảng của học phần bị
                        xem như không hoàn thành học phần và phải đăng ký học lại vào học kỳ sau. Những trường hợp khác
                        phải do Ban Giám hiệu hoặc Trưởng khoa quyết định</span></p>

                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>9. Dự kiến danh sách cán bộ tham gia giảng dạy</span></strong>
                </p>
                <p class="section-content">&nbsp;</p>
                {{!----}}
                {{!-- 9.Dự kiến danh sách cán bộ tham gia giảng dạy --}}
                {{!----}}
                <p class="section-content" contenteditable="true">TS. Nguyễn Bảo Ân</p>
                <p class="section-content" contenteditable="true">Ths. Phạm Thị Trúc Mai</p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content"><span>Ngày phê duyệt: ....../......./ .......<em>&nbsp;
                            &nbsp;</em></span></p>

                <table class="table-9-list-teacher">
                    <tbody>
                        <tr>
                            <td class="header-9-list-teacher-140_5pt">
                                <p class="margin-top-bottom-3pt text-center"><strong><span>TRƯỞNG KHOA</span></strong>
                                </p>
                                <p class="margin-top-bottom-3pt text-center"><em><span>(Ký và ghi rõ họ tên)</span></em>
                                </p>
                            </td>
                            <td class="header-9-list-teacher-176_35pt">
                                <p class="margin-top-bottom-3pt text-center"><strong><span>TRƯỞNG BỘ MÔN
                                        </span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><em><span>(Ký và ghi rõ họ tên)</span></em>
                                </p>
                            </td>
                            <td class="header-9-list-teacher-153_4pt">
                                <p class="margin-top-bottom-3pt text-center"><strong><span>GIẢNG VIÊN </span></strong>
                                </p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>BIÊN SOẠN</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center" contenteditable="true"><strong><span>Nguyễn Bảo Ân</span></strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-9-list-teacher-140_5pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong>
                                </p>
                            </td>
                            <td class="body-9-list-teacher-176_35pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong>
                                </p>
                            </td>
                            <td class="body-9-list-teacher-153_4pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-9-list-teacher-140_5pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong>
                                </p>
                            </td>
                            <td class="body-9-list-teacher-176_35pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong>
                                </p>
                            </td>
                            <td class="body-9-list-teacher-153_4pt">
                                <p class="margin-top-bottom-3pt text-center"><strong><span>GIẢNG VIÊN </span></strong>
                                </p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>PHẢN BIỆN</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center" contenteditable="true"><strong><span>Phạm Thị Trúc
                                            Mai</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="section-content"><span>&nbsp;</span></p>
                <p class="section-content">&nbsp;</p>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function sendA4Content() {
        // Lấy nội dung của phần tử a4
        var a4Content = document.getElementById('formInput_monHoc').innerHTML;

        // Gửi nội dung lên server bằng Axios
        axios.post('/pdf', { a4Content })
            .then(function (response) {
                console.log(response.data);
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    }
</script>

<script>
    function checkboxChanged(checkboxId) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            if (checkbox.id !== checkboxId) {
                checkbox.checked = false;
            }
        });
    }
</script>