<div class="formInput">
    <div class="formInput_monHoc" id="formInput_monHoc">

        <div class="formInput_baseA4" id="formInput_baseA4">
            <div class="formInput_print">
                <button class="btn" onclick="CleanUp_AllTaiLieuThamKhao()">CleanUp_AllTaiLieuThamKhao</button>
                <button class="btn" onclick="CleanUp_AllTB4()">CleanUp_AllTB4</button>
                <button class="btn" onclick="CleanUp_AllTB5()">CleanUp_AllTB5</button>
                <button class="btn" onclick="CleaUp_6()">CleaUp_6</button>
                <button class="btn" onclick="CleaUp_7()">CleaUp_7()</button>
                {{>CleanUpDataPost}}
                <div class="width16_cm">
                    <p class="section-content text-right"><strong>PHỤ LỤC&nbsp;<span contenteditable="true"
                                id="PhuLuc"></span></strong></p>
                    <p class="section-content text-center"><strong><span>ĐỀ CƯƠNG CHI TIẾT HỌC PHẦN</span></strong></p>
                    <p class="section-content text-center"><strong><span contenteditable="true" id="TenMon">THỐNG KÊ VÀ
                                PHÂN
                                TÍCH DỮ
                                LIỆU</span></strong></p>
                    <p class="section-content text-center"><strong>MSHP:<span contenteditable="true"
                                id="MaMon">320045</span></strong>
                    </p>
                    <p class="section-content">&nbsp;</p>
                </div>
                <p class="section-content"><strong><span contenteditable="false">1. Thông tin chung (General
                            information):</span></strong></p>
                <p class="section-content">&nbsp;</p>
                {{!-- table general-information --}}
                {{!-- 1. Thông tin c"class="body-course-content" (General information): --}}
                {{!-- table-1-general-information --}}
                <table class="table-1-general-information-1 section-content">
                    <tbody>
                        {{!-- header-general-information-1 --}}
                        <tr>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Loại học phần</em></strong></p>
                            </td>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Số tín chỉ</em></strong></p>
                            </td>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Số giờ dự giảng</em></strong></p>
                            </td>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Giờ tự học và giờ học khác</em></strong></p>
                            </td>
                        </tr>
                        {{!-- body-general-information-1 --}}
                        <tr>
                            <td class="body-1-general-information-1">
                                <p class="flex-row">
                                    <span>
                                        <label for="LoaiHocPhan1">Đại cương</label>
                                    </span>

                                    <span class="test">

                                        <input class="test" type="checkbox" value="Đại cương" id="LoaiHocPhan1"
                                            onclick="checkboxChanged('LoaiHocPhan1')">

                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span>
                                        <label for="LoaiHocPhan2">Cơ sở</label>
                                    </span>

                                    <span class="test">
                                        <input type="checkbox" value="Cơ sở" id="LoaiHocPhan2"
                                            onclick="checkboxChanged('LoaiHocPhan2')">

                                    </span>
                                </p>
                                <p class="flex-row">
                                    <span>
                                        <label for="LoaiHocPhan3">Chuyên ngành</label>
                                    </span>

                                    <span class="test">

                                        <input type="checkbox" value="Chuyên ngành" id="LoaiHocPhan3"
                                            onclick="checkboxChanged('LoaiHocPhan3')">
                                    </span>
                                </p>
                            </td>
                            <td class="body-1-general-information-1">
                                <p>Lý thuyết: &nbsp; &nbsp;&nbsp;<span contenteditable="true" id="SoTC_LT">2</span></p>
                                <p>Thực hành: &nbsp; &nbsp;<span contenteditable="true" id="SoTC_TH">1</span></p>
                            </td>
                            <td class="body-1-general-information-1">
                                <p>Lý thuyết:&nbsp;<span contenteditable="true" id="LT">30</span></p>
                                <p>Thực hành:&nbsp;<span contenteditable="true" id="TH">30</span></p>
                            </td>
                            <td class="body-1-general-information-1">
                                <p><span contenteditable="true" id="SoGioTuHoc">90</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p><strong><em><span>Đối tượng học</span></em><span>: &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></p>
                <p>Trình độ đào tạo:&nbsp;<span contenteditable="true" id="TrinhDo_DT">Đại học</span></p>
                <p>Ngành:&nbsp;<span contenteditable="true" id="Nganh">Công nghệ Thông tin</span></p>
                <p><span>Chuyên ngành:&nbsp;<span contenteditable="true" id="ChuyenNganh">
                            &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.
                        </span>(nếu có)</span></p>
                <p>Học kỳ:&nbsp;<span contenteditable="true" id="HocKy">5</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;
                    &nbsp;
                    Năm thứ:&nbsp;<span contenteditable="true" id="NamHoc">3</span>
                </p>
                <p><strong><em><span>Điều kiện tham gia học phần:</span></em></strong></p>
                <table class="table-1-general-information-2">
                    <tbody>
                        <tr>
                            <td class="header-1-general-information-2">Học phần tiên quyết</td>
                            <td colspan="2" class="body-1-general-colspan-2">
                                <span contenteditable="true" id="Ten_HocPhan_TQ">Vi tích phân
                                    A1</span> &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;MSHP:
                                <span contenteditable="true" id="MSHP_TQ">110042</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-1-general-left-2">Học phần song hành</td>
                            <td colspan="2" class="body-1-general-right-2"><span contenteditable="true"
                                    id="HocPhan_SH">Không</span>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="body-1-general-left-2">Các yêu cầu khác</td>
                            <td class="header-1-general-information-2">Về kiến thức:</td>
                            <td class="body-1-general-colspan-2" id="KienThuc" contenteditable="true">

                                <p><span contenteditable="true" id="KienThuc-1">&nbsp;-&nbsp;Kiến thức toán học phổ
                                        thông</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="header-1-general-information-2">Về kỹ năng:</td>

                            <td class="body-1-general-colspan-2 section-content text-justify" id="KyNang"
                                contenteditable="true">
                                <p><span id="KyNang-1">&nbsp;-&nbsp;Kỹ năng phân tích, giải quyết vấn đề</span></p>
                                <p><span id="KyNang-2">&nbsp;-&nbsp;Kỹ năng tập trung, ghi nhớ, tính toán, biến
                                        đổi</span></p>
                            </td>
                            {{!-- <p><span contenteditable="true">

                                    - Kỹ năng tập trung, ghi nhớ, tính toán, biến đổi

                                </span></p> --}}
                        </tr>
                        <tr>
                            <td class="header-1-general-information-2">Về thái độ:</td>
                            <td class="body-1-general-colspan-2 text-justify" id="ThaiDo" contenteditable="true">
                                <p contenteditable="true" id="ThaiDo=1">
                                    &nbsp;-&nbsp;Chủ động trong học tập
                                </p>


                            </td>

                        </tr>
                    </tbody>
                </table>
                <p class="section-content">&nbsp;</p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content break"><strong><span>2. Nguồn học liệu (Learning resources):</span></strong>
                </p>
                <p class="section-content">&nbsp;</p>
                {{!----}}
                {{!-- 2. Nguồn học liệu (Learning resources): --}}
                {{!----}}
                <p class="section-content">[STT] 'Tên tác giả 1,Tên tác giả 2'('Năm'). 'Tên tài liệu'. ['Nguồn']</p>
                <p class="section-content">&nbsp;</p>
                <div class="table-2-display-row">
                    <table class="table-2-learning-resources">
                        <tbody>
                            <tr>
                                <td class="table-2-learning-header">
                                    <p><span id="loaiHocLieu">Giáo trình/Tài liệu học tập chính</span></p>
                                </td>
                                <td class="table-2-learning-body">
                                    <div id="giaotrinh">
                                        <p id="GT1" class="allowDeletion2 giaotrinh">
                                            [<span id="STT_GT_1" class="STT_TB2"
                                                onclick="hiddenAndShow(1,GT)"
                                                contenteditable="true">1</span>]
                                            <span id="TG_GT_1" onclick="hiddenAndShow(1,'GT')"
                                                contenteditable="true">Nguyễn
                                                Văn
                                                Tuấn</span>
                                            (<span id="NXB_GT_1" onclick="hiddenAndShow(1,'GT')"
                                                contenteditable="true">2014</span>).&nbsp;
                                            <span id="Ten_GT_1" onclick="hiddenAndShow(1,'GT')"
                                                contenteditable="true" class="text-nghien">Phân tích dữ liệu với
                                                R</span>
                                            [<span id="NGUON_GT_1" onclick="hiddenAndShow(1,'GT')"
                                                contenteditable="true">NXB Tổng hợp TP
                                                Hồ Chí Minh</span>]
                                            <span contenteditable="true"
                                                id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </p>
                                        <div id="GT1div" class="hidden_GT1 hidden">
                                            <p><strong>STT:</strong>&nbsp;[<span id="STT_GT_DSpan_1"></span>]</p>
                                            <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_GT_DSpan_1"
                                                    contenteditable="true"></span>
                                            </p>
                                            <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_GT_DSpan_1"
                                                    contenteditable="true"></span>
                                            </p>
                                            <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_GT_DSpan_1"
                                                    contenteditable="true" class="text-nghien"></span></p>
                                            <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_GT_DSpan_1"
                                                    contenteditable="true"></span></p>
                                        </div>

                                        <p id="GT2" class="allowDeletion2 giaotrinh">
                                            [<span id="STT_GT_2" class="STT_TB2"
                                                onclick="hiddenAndShow(2,'GT')"
                                                contenteditable="true">2</span>]
                                            <span id="TG_GT_2" onclick="hiddenAndShow(2,'GT')"
                                                contenteditable="true">Danielle Navarro, Ethan Weed</span>
                                            (<span id="NXB_GT_2" onclick="hiddenAndShow(2,'GT')"
                                                contenteditable="true">2021</span>).&nbsp;
                                            <span id="Ten_GT_2" onclick="hiddenAndShow(2,'GT')"
                                                contenteditable="true" class="text-nghien">Learning Statistics with
                                                Python</span>
                                            [<span id="NGUON_GT_2" onclick="hiddenAndShow(2,'GT')"
                                                contenteditable="true">https://ethanweed.github.io/pythonbook/landingpage.html</span>]
                                            .<span contenteditable="true"
                                                id="No">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </p>

                                        <div id="GT2div" class="hidden_GT2 hidden">
                                            <p><strong>STT:</strong>&nbsp;[<span id="STT_GT_DSpan_2"></span>]</p>
                                            <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_GT_DSpan_2"
                                                    contenteditable="true"></span>
                                            </p>
                                            <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_GT_DSpan_2"
                                                    contenteditable="true"></span>
                                            </p>
                                            <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_GT_DSpan_2"
                                                    contenteditable="true" class="text-nghien"></span></p>
                                            <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_GT_DSpan_2"
                                                    contenteditable="true"></span></p>
                                        </div>

                                        <p id="GT3" class="allowDeletion2 giaotrinh">
                                            [<span id="STT_GT_3" class="STT_TB2"
                                                onclick="hiddenAndShow(3,GT)"
                                                contenteditable="true">3</span>]
                                            <span id="TG_GT_3" onclick="hiddenAndShow(3,'GT')"
                                                contenteditable="true">Peter
                                                Bruce, Andrew Bruce,
                                                Peter</span>
                                            (<span id="NXB_GT_3" onclick="hiddenAndShow(3,'GT')"
                                                contenteditable="true">2020</span>).&nbsp;
                                            <span id="Ten_GT_3" onclick="hiddenAndShow(3,'GT')"
                                                contenteditable="true" class="text-nghien">Phân tích dữ liệu với
                                                R</span>
                                            [<span id="NGUON_GT_3" onclick="hiddenAndShow(3,'GT')"
                                                contenteditable="true">
                                                O'Reilly Media</span>]
                                            <span contenteditable="true"
                                                id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </p>

                                        <div id="GT3div" class="hidden_GT3 hidden">
                                            <p><strong>STT:</strong>&nbsp;[<span id="STT_GT_DSpan_3"></span>]</p>
                                            <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_GT_DSpan_3"
                                                    contenteditable="true"></span>
                                            </p>
                                            <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_GT_DSpan_3"
                                                    contenteditable="true"></span>
                                            </p>
                                            <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_GT_DSpan_3"
                                                    contenteditable="true" class="text-nghien"></span></p>
                                            <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_GT_DSpan_3"
                                                    contenteditable="true"></span></p>
                                        </div>
                                    </div>
                                </td>
                                <td class="empty"></td>
                            </tr>
                            <tr>
                                <td class="table-2-learning-header">
                                    <p><span id="loaiHocLieu">Tài liệu tham khảo thêm</span></p>
                                </td>
                                <td class="table-2-learning-body">
                                    <div id="TaiLieuThamKhao">
                                        <p id="TL1" class="allowDeletion2 TaiLieuThamKhao">
                                            [<span id="STT_TL_1" class="STT_TB2"
                                                onclick="hiddenAndShow(1,TL)"
                                                contenteditable="true">4</span>]
                                            <span id="TG_TL_1" onclick="hiddenAndShow(1,'TL')"
                                                contenteditable="true">Jake VanderPlas</span>
                                            (<span id="NXB_TL_1" onclick="hiddenAndShow(1,'TL')"
                                                contenteditable="true">2017</span>).&nbsp;
                                            <span id="Ten_TL_1" onclick="hiddenAndShow(1,'TL')"
                                                contenteditable="true" class="text-nghien">Python Data
                                                Science
                                                Handbook: Essential Tools for
                                                Working with Data</span>
                                            [<span id="NGUON_TL_1" onclick="hiddenAndShow(1,'TL')"
                                                contenteditable="true">O'Reilly Media</span>]
                                            <span contenteditable="true"
                                                id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </p>

                                        <div id="TLdiv" class="hidden_TL1 hidden">
                                            <p><strong>STT:</strong>&nbsp;[<span id="STT_TL_DSpan_1"></span>]</p>
                                            <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_TL_DSpan_1"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_TL_DSpan_1"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_TL_DSpan_1"
                                                    contenteditable="true" class="text-nghien"></span></p>
                                            <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_TL_DSpan_1"
                                                    contenteditable="true"></span></p>
                                        </div>

                                        <p id="TL2" class="allowDeletion2 TaiLieuThamKhao">
                                            [<span id="STT_TL_2" class="STT_TB2"
                                                onclick="hiddenAndShow(2,TL)"
                                                contenteditable="true">5</span>]
                                            <span id="TG_TL_2" onclick="hiddenAndShow(2,'TL')"
                                                contenteditable="true">Jake VanderPlas</span>
                                            (<span id="NXB_TL_2" onclick="hiddenAndShow(2,'TL')"
                                                contenteditable="true">2017</span>).&nbsp;
                                            <span id="Ten_TL_2" onclick="hiddenAndShow(2,'TL')"
                                                contenteditable="true" class="text-nghien">Python Data
                                                Science
                                                Handbook: Essential Tools for
                                                Working with Data</span>
                                            [<span id="NGUON_TL_2" onclick="hiddenAndShow(2,'TL')"
                                                contenteditable="true">O'Reilly Media</span>]
                                            <span contenteditable="true"
                                                id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </p>

                                        <div id="TL2div" class="hidden_TL2 hidden">
                                            <p><strong>STT:</strong>&nbsp;[<span id="STT_TL_DSpan_2"></span>]</p>
                                            <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_TL_DSpan_2"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_TL_DSpan_2"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_TL_DSpan_2"
                                                    contenteditable="true" class="text-nghien"></span></p>
                                            <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_TL_DSpan_2"
                                                    contenteditable="true"></span></p>
                                        </div>
                                    </div>
                                </td>
                                <td class="empty"></td>
                            </tr>
                            <tr>
                                <td class="table-2-learning-header">
                                    <p><span id="loaiHocLieu">Các loại học liệu khác</span></p>
                                </td>
                                <td class="table-2-learning-body">
                                    <div id="HocLieu">
                                        <p id="HL1" class="allowDeletion2 HocLieu">
                                            [<span id="STT_HL_1" class="STT_TB2" onclick="hiddenAndShow(1,HL)"
                                                contenteditable="true">5</span>]
                                            <span id="TG_HL_1" onclick="hiddenAndShow(1,'HL')"
                                                contenteditable="true">Mirko Stojiljković</span>
                                            (<span id="NXB_HL_1" onclick="hiddenAndShow(1,'HL')"
                                                contenteditable="true">2022</span>).&nbsp;
                                            <span id="Ten_HL_1" onclick="hiddenAndShow(1,'HL')"
                                                contenteditable="true" class="text-nghien">Python Data
                                                Science
                                                Handbook: Essential Tools for
                                                Working with Data</span>
                                            [<span id="NGUON_HL_1" onclick="hiddenAndShow(1,'HL')"
                                                contenteditable="true">O'Reilly Media</span>]
                                            <span contenteditable="true"
                                                id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </p>
                                        <div id="HL1div" class="hidden_HL1 hidden">
                                            <p><strong>STT:</strong>&nbsp;[<span id="STT_HL_DSpan_1"></span>]</p>
                                            <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_HL_DSpan_1"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_HL_DSpan_1"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_HL_DSpan_1"
                                                    contenteditable="true" class="text-nghien"></span></p>
                                            <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_HL_DSpan_1"
                                                    contenteditable="true"></span></p>
                                        </div>

                                        <p id="HL2" class="allowDeletion2 HocLieu">
                                            [<span id="STT_HL_2" class="STT_TB2" onclick="hiddenAndShow(2,HL)"
                                                contenteditable="true">6</span>]
                                            <span id="TG_HL_2" onclick="hiddenAndShow(2,'HL')"
                                                contenteditable="true">Mirko Stojiljković</span>
                                            (<span id="NXB_HL_2" onclick="hiddenAndShow(2,'HL')"
                                                contenteditable="true">2022</span>).&nbsp;
                                            <span id="Ten_HL_2" onclick="hiddenAndShow(2,'HL')"
                                                contenteditable="true" class="text-nghien">ython
                                                Statistics Fundamentals: How to Describe
                                                Your Data</span>
                                            [<span id="NGUON_HL_2" onclick="hiddenAndShow(2,'HL')"
                                                contenteditable="true">O'Reilly Media</span>]
                                            <span contenteditable="true"
                                                id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </p>
                                        <div id="HL2div" class="hidden_HL2 hidden">
                                            <p><strong>STT:</strong>&nbsp;[<span id="STT_HL_DSpan_2"></span>]</p>
                                            <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_HL_DSpan_2"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_HL_DSpan_2"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_HL_DSpan_2"
                                                    contenteditable="true" class="text-nghien"></span></p>
                                            <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_HL_DSpan_2"
                                                    contenteditable="true"></span></p>
                                        </div>

                                        <p id="HL3" class="allowDeletion2 HocLieu">
                                            [<span id="STT_HL_3" class="STT_TB2" onclick="hiddenAndShow(3,HL)"
                                                contenteditable="true">7</span>]
                                            <span id="TG_HL_3" onclick="hiddenAndShow(3,'HL')"
                                                contenteditable="true">FreeCodeCamp</span>
                                            (<span id="NXB_HL_3" onclick="hiddenAndShow(3,'HL')"
                                                contenteditable="true"></span>).&nbsp;
                                            <span id="Ten_HL_3" onclick="hiddenAndShow(3,'HL')"
                                                contenteditable="true" class="text-nghien">Courses: Data Analysis
                                                with
                                                Python</span>
                                            [<span id="NGUON_HL_3" onclick="hiddenAndShow(3,'HL')"
                                                contenteditable="true">https://www.freecodecamp.org/learn/data-analysis-with-python</span>]
                                            <span contenteditable="true"
                                                id="No">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </p>
                                        <div id="HL3div" class="hidden_HL3 hidden">
                                            <p><strong>STT:</strong>&nbsp;[<span id="STT_HL_DSpan_3"></span>]</p>
                                            <p><strong>Tên tác giả:</strong>&nbsp;<span id="TG_HL_DSpan_3"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Năm Xuất bảng:</strong>&nbsp;<span id="NXB_HL_DSpan_3"
                                                    contenteditable="true"></span></p>
                                            <p><strong>Tên tài liệu tham khảo:</strong>&nbsp;<span id="TEN_HL_DSpan_3"
                                                    contenteditable="true" class="text-nghien"></span></p>
                                            <p><strong>Nguồn:</strong>&nbsp;<span id="NGUON_HL_DSpan_3"
                                                    contenteditable="true"></span></p>
                                        </div>
                                    </div>
                                </td>
                                <td class="empty"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="instructionForm-table2" id="instructionForm-table2">
                        <h3>Bảng Chương phần 2</h3>

                        <button id="addButton" onclick="CreateCDR('GT','giaotrinh')" class="btn btn-secondary ctc1">
                            + thêm 1 giaotrinh
                        </button>

                        <button id="addButton" onclick="CreateCDR('TL','TaiLieuThamKhao')"
                            class="btn btn-secondary ctc1">
                            + thêm 1 TaiLieuThamKhao
                        </button>
                        <button id="addButton" onclick="CreateCDR('GT', 'HocLieu')" class="btn btn-secondary ctc1">
                            + thêm 1 HocLieu
                        </button>

                        <button id="button_delete_tb2" class="btn btn-secondary ctc1">
                            + xóa
                        </button>
                    </div>

                </div>
                {{!----}}
                {{!-- 3. Mô tả học phần (Course description): --}}
                {{!----}}

                <p class="section-content">&nbsp;</p>
                <div class="width16_cm">
                    <p class="section-content"><strong><span>3. Mô tả học phần (Course description):</span></strong></p>
                    <p class="section-content Thut-dau-dong"><span contenteditable="true" id="MoTa">
                            Học phần giúp trang bị cho sinh viên các kiến thức cơ bản về xác suất và thống kê để phân
                            tích
                            dữ liệu trong nghiên cứu. Sinh viên sẽ được học cách biên tập dữ liệu, cách mô tả dữ liệu
                            bằng
                            biểu đồ và bằng các đặc trưng thống kê, cách thu thập dữ liệu, thiết kế nghiên cứu và kiểm
                            định
                            các giả thuyết thống kê trên ngôn ngữ Python/R. Nhờ đó sinh viên có thể ứng dụng các kiến
                            thức
                            của môn học để thực hiện các nghiên cứu khoa học và học các môn học có ứng dụng kiến thức
                            thống
                            kê như Trí tuệ nhân tạo, Khai phá dữ liệu… Đồng thời, kỹ năng sử dụng ngôn ngữ Python/R giúp
                            sinh viên có thể dễ dàng tham gia các cộng đồng phân tích số liệu để có thể tự học và nghiên
                            cứu
                            sâu hơn. Học phần cũng giúp sinh viên hình thành thái độ và nhận thức đúng đắn về vai trò
                            của
                            thống kê và khoa học dữ liệu trong bối cảnh hiện đại.</span></p>
                    <p class="section-content">&nbsp;</p>
                </div>
                <p class="section-content"><strong><span>4. Chuẩn đầu ra của học phần (Course learning
                            outcomes):</span></strong></p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content">Sau khi hoàn thành học phần, sinh viên có thể:</p>

                {{!-- Course learning outcomes --}}
                {{!-- 4. Chuẩn đầu ra của học phần (Course learning outcomes): --}}
                {{!-- Course learning outcomes --}}

                <div class="table-4-display-row">
                    <table class="table-4-learning-outcomes">
                        <thead>
                            {{!-- header-learning-outcomes --}}
                            <tr>
                                <td class="header-4-learning-outcomes-1">
                                    <p><span>&nbsp;</span></p>
                                </td>
                                <td class="header-4-learning-outcomes-2">
                                    <p><strong>Chuẩn đầu ra của học phần</strong></p>
                                </td>
                                <td class="header-4-learning-outcomes-3">
                                    <p><strong>Đáp ứng CĐR của CTĐT</strong></p>
                                </td>
                                <td class="header-4-learning-outcomes-4">
                                    <p><strong>Trình độ năng lực</strong></p>
                                </td>
                                <td class="header-4-learning-outcomes-5">
                                    <p><strong>TUA</strong></p>
                                </td>
                            </tr>
                        </thead>
                        <tbody id="table-4-learning-outcomes">
                            {{!-- <tr> tieu de 1 --}}
                            <tr id="KyNangKT" class="LoaiKN">
                                <td colspan="5" class="body-4-learning-outcomes">
                                    <div class="body-4-learning-outcomes-tital">
                                        <p class="decimal-list"><strong><em><span class="strong-text">❖ <span
                                                            >Về kiến thức</span>:</span></em></strong>
                                        </p>
                                    </div>
                                </td>

                            </tr>
                            {{!-- <tr> tieu de 1 --}}

                            <tr class="allowDeletion_4 KyNang KyNangKT" id="KyNangKT1">
                                <th class="content-4-learning-outcomes-1 section-content text-left stt"
                                    contenteditable="true">
                                    1
                                </th>
                                <td class="content-4-learning-outcomes-2">
                                    <p class="section-content">
                                        <span contenteditable="true" id="KT_ND_1" class="KT">
                                            Trình bày các khái niệm cơ bản về xác suất
                                        </span>
                                    </p>
                                </td>
                                <td class="content-4-learning-outcomes-3">
                                    <p class="section-content"> <span contenteditable="true"
                                            id="KT_DUPO_1" class="KT">PLO1</span></p>
                                </td>
                                <td class="content-4-learning-outcomes-4">
                                    <p class="section-content text-center"><span contenteditable="true"
                                            id="KT_TD_1" class="KT">2</span></p>
                                </td>
                                <td class="content-4-learning-outcomes-5">
                                    <p class="section-content"><span contenteditable="true"
                                            id="KT_TUA_1" class="KT">TUA</span>
                                    </p>
                                </td>
                            </tr>

                            {{!-- <tr> tieu de 1 --}}
                            <tr id="KyNangKN" class="LoaiKN">
                                <td colspan="5" class="body-4-learning-outcomes">
                                    <div class="body-4-learning-outcomes-tital">
                                        <p class="decimal-list"><strong><em><span class="strong-text">❖ Về kỹ năng (bao
                                                        gồm
                                                        kỹ năng chuyên môn và kỹ năng mềm)</span></em></strong></p>
                                    </div>
                                </td>

                            </tr>

                            {{!-- <tr> tieu de 1 --}}
                            <tr class="KyNang KyNangKN" id="KyNangKN1">
                                <th class="content-4-learning-outcomes-1 section-content text-left"
                                    contenteditable="true">
                                    2
                                </th>
                                <td class="content-4-learning-outcomes-2">
                                    <p class="section-content">
                                        <span contenteditable="true" id="KN_ND_1" class="KN">
                                            Trình bày các khái niệm cơ bản về xác suất
                                        </span>
                                    </p>
                                </td>
                                <td class="content-4-learning-outcomes-3">
                                    <p class="section-content"> <span contenteditable="true"
                                            id="KN_DUPO_1" class="KN">PLO1</span></p>
                                </td>
                                <td class="content-4-learning-outcomes-4">
                                    <p class="section-content text-center"><span contenteditable="true"
                                            id="KN_TD_1" class="KN">2</span></p>
                                </td>
                                <td class="content-4-learning-outcomes-5">
                                    <p class="section-content"><span contenteditable="true"
                                            id="KN_TUA_1" class="KN">TUA</span>
                                    </p>
                                </td>
                            </tr>


                            {{!-- <tr> tieu de 1 --}}
                            <tr id="KyNangTD" class="LoaiKN">
                                <td colspan="5" class="body-4-learning-outcomes">
                                    <div class="body-4-learning-outcomes-tital">
                                        <p class="decimal-list"><strong><em>
                                                    <span class="strong-text">❖ Về thái độ:
                                                    </span></em></strong></p>
                                    </div>
                                </td>

                            </tr>
                            {{!-- <tr> tieu de 1 --}}
                            <tr class="KyNang KyNangTD" id="KyNangTD1">
                                <th class="content-4-learning-outcomes-1 section-content text-left"
                                    contenteditable="true">
                                    3
                                </th>
                                <td class="content-4-learning-outcomes-2">
                                    <p class="section-content">
                                        <span contenteditable="true" id="TD_ND_1"  class="TD">
                                            Trình bày các khái niệm cơ bản về xác suất
                                        </span>
                                    </p>
                                </td>

                                <td class="content-4-learning-outcomes-3">
                                    <p class="section-content"> <span contenteditable="true"
                                            id="TD_DUPO_1"  class="TD">PLO1</span></p>
                                </td>
                                <td class="content-4-learning-outcomes-4">
                                    <p class="section-content text-center"><span contenteditable="true"
                                            {{!-- tự do trình độ --}}
                                            id="TD_TD_1"  class="TD">2</span></p>
                                </td>
                                <td class="content-4-learning-outcomes-5">
                                    <p class="section-content"><span contenteditable="true"
                                            id="TD_TUA_1"  class="TD">TUA</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="instructionForm-table4" id="instructionForm-table4">
                        <h3>Bảng Chương phần 4</h3>
                        <div>

                        </div>
                        <button onclick="ThemCDRLoaiKT(1)" class="btn btn-secondary ctc1">

                            + Thêm CDR KT
                        </button>
                        <button onclick="ThemCDRLoaiKT(2)" class="btn btn-secondary ctc1">

                            + Thêm CDR KN
                        </button>
                        <button onclick="ThemCDRLoaiKT(3)" class="btn btn-secondary ctc1">

                            + Thêm CDR TD
                        </button>
                        <h3>Quy tắc xóa</h3>
                        <p>Click vào CDR cần xóa</p>
                        <button id="button_delete_tb4" class="btn btn-secondary">Xóa 1 CDR</button>
                    </div>

                    {{>table-4}}

                </div>


                {{!-- f
                </tr>
                <tr>
                    <td class="content-4-learning-outcomes-1">
                        <p class="text-left"><span contenteditable="true">2.</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-2">
                        <p class="section-content">
                            <span contenteditable="true">
                                Trình bày vai trò của thống kê trong nghiên cứu khoa học
                            </span>
                        </p>
                    </td>
                    <td class="content-4-learning-outcomes-3">
                        <p class="paragraph"> <span contenteditable="true">PLO1</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-4">
                        <p class="text-center"><span contenteditable="true">3</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-5">
                        <p class="paragraph"><span contenteditable="true">TUA</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="content-4-learning-outcomes-1">
                        <p class="text-left"><span contenteditable="true">3.</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-2">
                        <p class="section-content">
                            <span contenteditable="true">
                                Phân tích dữ liệu biểu đồ bằng ngôn ngữ Python/R
                            </span>
                        </p>
                    </td>
                    <td class="content-4-learning-outcomes-3">
                        <p class="paragraph"> <span contenteditable="true">PLO3</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-4">
                        <p class="text-center"><span contenteditable="true">4</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-5">
                        <p class="paragraph"><span contenteditable="true">TUA</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="content-4-learning-outcomes-1">
                        <p class="text-left"><span contenteditable="true">4.</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-2">
                        <p class="section-content">
                            <span contenteditable="true">
                                Thực hiện các bài toán kiểm định giả thuyết thống kê
                            </span>
                        </p>
                    </td>
                    <td class="content-4-learning-outcomes-3">
                        <p class="paragraph"> <span contenteditable="true">PLO4</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-4">
                        <p class="text-center"><span contenteditable="true">3</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-5">
                        <p class="paragraph"><span contenteditable="true">TUA</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="content-4-learning-outcomes-1">
                        <p class="text-left"><span contenteditable="true">5.</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-2">
                        <p class="section-content">
                            <span contenteditable="true">
                                Thực hiện phân tích phương sai, tương quan, hồi quy, dữ liệu chuỗi thời gian
                            </span>
                        </p>
                    </td>
                    <td class="content-4-learning-outcomes-3">
                        <p class="paragraph"> <span contenteditable="true">PLO4</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-4">
                        <p class="text-center"><span contenteditable="true">3</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-5">
                        <p class="paragraph"><span contenteditable="true">TUA</span></p>
                    </td>
                </tr> --}}
                {{!-- <tr> noi dung --}}
                    {{!--
                <tr>
                    <td class="content-4-learning-outcomes-1">
                        <p class="text-left"><span contenteditable="true">6.</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-2">
                        <p class="section-content">
                            <span contenteditable="true">
                                Vận dụng các kiến thức chuyên ngành trong thiết kế nghiên cứu
                            </span>
                        </p>
                    </td>
                    <td class="content-4-learning-outcomes-3">
                        <p class="paragraph"> <span contenteditable="true">PLO2</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-4">
                        <p class="text-center"><span contenteditable="true">3</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-5">
                        <p class="paragraph"><span contenteditable="true">UA</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="content-4-learning-outcomes-1">
                        <p class="text-left"><span contenteditable="true">7.</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-2">
                        <p class="section-content">
                            <span contenteditable="true">
                                Ước lượng và phân tích định tính vấn đề
                            </span>
                        </p>
                    </td>
                    <td class="content-4-learning-outcomes-3">
                        <p class="paragraph"> <span contenteditable="true">PLO1</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-4">
                        <p class="text-center"><span contenteditable="true">3</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-5">
                        <p class="paragraph"><span contenteditable="true">TUA</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="content-4-learning-outcomes-1">
                        <p class="text-left"><span contenteditable="true">8.</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-2">
                        <p class="section-content">
                            <span contenteditable="true">
                                Kiểm tra và bảo vệ giả thuyết
                            </span>
                        </p>
                    </td>
                    <td class="content-4-learning-outcomes-3">
                        <p class="paragraph"> <span contenteditable="true">PLO4</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-4">
                        <p class="text-center"><span contenteditable="true">4</span></p>
                    </td>
                    <td class="content-4-learning-outcomes-5">
                        <p class="paragraph"><span contenteditable="true">TUA</span></p>
                    </td>
                </tr>
                h--}}
                <p class="section-content">&nbsp;</p>

                {{!----}}
                {{!-- 5. Nội dung học phần (Course content) --}}
                {{!----}}
                <p class="section-content break"><strong><span>5. Nội dung học phần (Course content)</span></strong></p>

                {{> table-5}}
                <div class="table-5-display-row">
                    <table class="table-5-course-content">
                        <thead>
                            {{!-- header --}}
                            <tr>
                                <td rowspan="2" class="header-5-course-content-255_55pt">
                                    <p class="header-5-course-content-p"><strong><span>Nội dung</span></strong></p>
                                </td>
                                <td rowspan="2" class="header-5-course-content-71_8pt">
                                    <p class="header-5-course-content-p"><strong><span>CĐR học phần</span></strong></p>
                                </td>
                                <td colspan="2" class="header-5-course-content-85_25pt">
                                    <p class="header-5-course-content-p"><strong><span>Số giờ</span></strong></p>
                                </td>
                                <td class="header-5-course-content-55_85pt">
                                    <p class="header-5-course-content-p"><strong><span>Giờ tự học và giờ học khác
                                            </span></strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="header-5-course-content-44_85pt">
                                    <p class="header-5-course-content-p"><strong><span>LT</span></strong></p>
                                </td>
                                <td class="header-5-course-content-55_85pt-2">
                                    <p class="header-5-course-content-p"><strong><span>TH</span></strong></p>
                                </td>
                                <td class="header-5-course-content-55_85pt-2">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                            </tr>
                        </thead>
                        <tbody id="table-5-course-content">
                            {{!-- body - tital --}}
                            <tr id="Chuong1" class="Chuong">
                                <td id="Chuong1.1" class="body-5-course-content-255_55pt">
                                    <p class="table-5-course-content-p text-justify">
                                        <span contenteditable="true" class="TenChuong STT_CHUONG">
                                            Các khái niệm cơ bản về xác suất
                                        </span>
                                    </p>
                                </td>
                                <td id="Chuong1.2" class="body-5-course-content-71_8pt">
                                    <p class="header-5-course-content-p"><strong><span
                                                contenteditable="true">1</span></strong></p>
                                </td>
                                <td id="Chuong1.3" class="body-5-course-content-44_85pt">
                                    <p class="header-5-course-content-p"><strong><span contenteditable="true"
                                                class="GioLyThuyet">5</span></strong></p>
                                </td>
                                <td id="Chuong1.4" class="body-5-course-content-40_4pt">
                                    <p class="header-5-course-content-p"><strong><span contenteditable="true"
                                                class="GiothucHanh">5</span></strong></p>
                                </td>
                                <td id="Chuong1.5" class="body-5-course-content-55_85pt">
                                    <p class="header-5-course-content-p"><strong><span contenteditable="true"
                                                class="SoGioTuHoc">5</span></strong></p>
                                </td>
                            </tr>
                            <tr class="ChiTietChuong1" id="allowDeletion">
                                <td class="body-5-content-course-content-255_55pt">
                                    <p class="table-5-course-content-p text-justify"><span contenteditable="true"
                                            id="CTC1.1" class="STT_CTC1">1.1.&nbsp;Bổ túc về giải tích tổ hợp</span></p>
                                </td>
                                <td class="body-5-content-course-content-71_8pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-content-course-content-44_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-content--course-content-40_4pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-course-content-55_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>

                            </tr>
                            <tr class="ChiTietChuong1" id="allowDeletion">
                                <td class="body-5-content-course-content-255_55pt">
                                    <p class="table-5-course-content-p text-justify"><span contenteditable="true"
                                            id="CTC1.2" class="STT_CTC1">1.2.&nbsp;Biến cố và quan hệ giữa các biến cố
                                        </span></p>
                                </td>
                                <td class="body-5-content-course-content-71_8pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-content-course-content-44_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-content--course-content-40_4pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-course-content-55_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>

                            </tr>

                            <tr class="ChiTietChuong1" id="allowDeletion">
                                <td class="body-5-content-course-content-255_55pt">
                                    <p class="table-5-course-content-p text-justify"><span contenteditable="true"
                                            id="CTC1.3" class="STT_CTC1">1.3.&nbsp;Xác suất và một số công thức tính xác
                                            suất</span></p>
                                </td>
                                <td class="body-5-content-course-content-71_8pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-content-course-content-44_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-content--course-content-40_4pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-course-content-55_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr class="ChiTietChuong1" id="allowDeletion">
                                <td class="body-5-content-course-content-255_55pt">
                                    <p class="table-5-course-content-p text-justify"><span contenteditable="true"
                                            id="CTC1.4" class="STT_CTC1">1.4.&nbsp;Dãy phép thử Bernoulli</span></p>
                                </td>
                                <td class="body-5-content-course-content-71_8pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-content-course-content-44_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-content--course-content-40_4pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-course-content-55_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr class="ChiTietChuong1" id="allowDeletion">
                                <td class="body-5-content-course-content-255_55pt">
                                    <p class="table-5-course-content-p text-justify"><span contenteditable="true"
                                            id="CTC1.5" class="STT_CTC1">1.5.&nbsp;Biến ngẫu nhiên và hàm phân
                                            phối</span>
                                    </p>
                                </td>
                                <td class="body-5-content-course-content-71_8pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-content-course-content-44_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-content--course-content-40_4pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-course-content-55_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr class="ChiTietChuong1" id="allowDeletion">
                                <td class="body-5-content-course-content-255_55pt">
                                    <p class="table-5-course-content-p text-justify"><span contenteditable="true"
                                            id="CTC1.6" class="STT_CTC1">1.6.&nbsp;Một số phân phối thông dụng (phân
                                            phối
                                            nhị thức, phân phối Poisson, phân phối chuẩn, phân phối Student, phân phối F
                                            và
                                            phân phối χ2)</span></p>
                                </td>
                                <td class="body-5-content-course-content-71_8pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-content-course-content-44_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-content--course-content-40_4pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-course-content-55_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                            </tr>
                            <tr class="ChiTietChuong1" id="allowDeletion">
                                <td class="body-5-content-course-content-255_55pt">
                                    <p class="table-5-course-content-p text-justify"><span contenteditable="true"
                                            id="CTC1.7" class="STT_CTC1">1.7.&nbsp;Giới thiệu ngôn ngữ Python/R và lập
                                            trình
                                            trong Python/R</span></p>
                                </td>
                                <td class="body-5-content-course-content-71_8pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-content-course-content-44_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-content--course-content-40_4pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                                <td class="body-5-course-content-55_85pt">
                                    <p class="table-5-course-content-p text-justify"><span>&nbsp;</span></p>
                                </td>
                            </tr>

                            <tr id="CuoiChuong1">
                                <td class="footer-5-course-content-255_55pt">
                                    <p class="text-justify"><em><span>Kỹ năng mềm và thái độ</span></em></p>
                                </td>
                                <td colspan="4" class="footer-5-course-content-212_9pt">
                                    <p class="table-5-course-content-p text-justify"><span contenteditable="true"
                                            class="KyNangMem">9</span></p>
                                </td>
                            </tr>
  
                        </tbody>
                    </table>

                    <div class="instructionForm-table5" id="instructionForm-table5">
                        <h2 align="center"> <strong>Bảng Chương phần 5</strong></h2>
                        <div style="display: flex;">
                            <button onclick="themChuong()" class="btn btn-dark">
                                + Thêm chương
                            </button>
                            <button id="test1" onclick="getAllCTCIdsAndValues()">get</button>
                        </div>
                        <div id="instructionForm-table5-CTC" class="ctc">
                            <button type="button" class="btn btn-secondary Chitiet" id="ctc1"
                                onclick="themChiTietChuong(1)">+&nbsp;Thêm chi tiết chương 1</button>
                            </button>

                            <p>Click vào CDR cần xóa</p>
                            <button id="hung" class="btn btn-secondary">Xóa 1 CDR</button>
                        </div>
                    </div>
                </div>

                {{!----}}
                {{!-- 6. Phương pháp dạy và học (Teaching and learning methods): --}}
                {{!----}}
                <div class="width16_cm">
                    <p class="section-content">&nbsp;</p>
                    <p class="section-content"><strong><span>6. Phương pháp dạy và học (Teaching and learning
                                methods):</span></strong></p>
                    <div id="TenPP" contenteditable="true">
                        <p class="section-content DontRemove"><span contenteditable="true"
                                id="TenPP-1">&nbsp;-&nbsp;Diễn giảng</span></p>
                        <p class="section-content"><span contenteditable="true" id="TenPP-2">&nbsp;-&nbsp;Vấn đáp
                                (Questions – Answers)</span></p>
                        <p class="section-content"><span contenteditable="true" id="TenPP-3">&nbsp;-&nbsp;Hoạt động nhóm
                                (Group-based Learning)</span></p>
                        <p class="section-content"><span contenteditable="true" id="TenPP-4">&nbsp;-&nbsp;Học dựa trên
                                dự án (Project-based Learning)</span></p>
                        <p class="section-content"><span contenteditable="true" id="TenPP-5">&nbsp;-&nbsp;Thao tác mẫu
                                (Demo)</span></p>
                    </div>
                    <p class="section-content">&nbsp;</p>
                </div>
                {{!----}}
                {{!-- 7. Đánh giá học phần (Course assessment): --}}
                {{!----}}
                <div class="width16_cm">
                    <p class="section-content"><strong><span>7. Đánh giá học phần (Course assessment):</span></strong>
                    </p>
                    <table class="table-7-course-assessment">
                        <tbody>
                            {{!-- header-course-assessment --}}
                            <tr>
                                <td class="header-7-course-assessment-60_75pt">
                                    <p><span>&nbsp;</span></p>
                                </td>
                                <td class="header-7-course-assessment-95_25pt">
                                    <p><strong><span>Hình thức đánh giá/thời gian</span></strong></p>
                                </td>
                                <td class="header-7-course-assessment-99_0pt">
                                    <p><strong><span>Nội dung &nbsp;</span></strong></p>
                                    <p><strong><span>đánh giá</span></strong></p>
                                </td>
                                <td class="header-7-course-assessment-72_0pt">
                                    <p><strong><span>CĐR của học phần</span></strong></p>
                                </td>
                                <td class="header-7-course-assessment-79_5pt">
                                    <p><strong><span>Tiêu chí đánh giá</span></strong></p>
                                </td>
                                <td class="header-7-course-assessment-46_5pt">
                                    <p><strong><span>Tỷ lệ %</span></strong></p>
                                </td>
                            </tr>
                            {{!-- body-course-assessment --}}
                            <tr>
                                <td rowspan="2" class="body-7-course-assessment-60_75pt">
                                    <p><strong><span>Đánh giá quá trình</span></strong></p>
                                </td>
                                <td class="body-7-course-assessment-95_25pt">
                                    <p><span contenteditable="true">Kiểm tra lý thuyết hoặc</span></p>
                                    <p><span contenteditable="true">Kiểm tra thực hành</span></p>
                                </td>
                                <td class="body-7-course-assessment-99_0pt">
                                    <p><span contenteditable="true">Từ Chương 1 đến Chương 4</span></p>
                                </td>
                                <td class="body-7-course-assessment-72_0pt">
                                    <p><span contenteditable="true">Từ 1 đến 4</span></p>
                                </td>
                                <td class="body-7-course-assessment-79_5pt">
                                    <p><span contenteditable="true">Theo đáp án</span></p>
                                </td>
                                <td class="body-7-course-assessment-46_5pt">
                                    <p><span contenteditable="true">25%</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="body-7-course-assessment-95_25pt">
                                    <p><span contenteditable="true">Bài tập lớn</span></p>
                                </td>
                                <td class="body-7-course-assessment-99_0pt">
                                    <p><span contenteditable="true">Từ Chương 4 đến Chương 8</span></p>
                                </td>
                                <td class="body-7-course-assessment-72_0pt">
                                    <p><span contenteditable="true">Từ 3 đến 8</span></p>
                                </td>
                                <td class="body-7-course-assessment-79_5pt">
                                    <p><span contenteditable="true">Theo đáp án</span></p>
                                </td>
                                <td class="body-7-course-assessment-46_5pt">
                                    <p><span contenteditable="true">25%</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="body-7-course-assessment-60_75pt height-10_0pt">
                                    <p><strong><span contenteditable="true">Đánh giá kết thúc học phần</span></strong>
                                    </p>
                                    <p><em><span contenteditable="true">(Chọn 1 trong 2)</span></em></p>
                                </td>
                                <td class="body-7-course-assessment-95_25pt height-10_0pt">
                                    <p><span contenteditable="true">Đồ án (nhóm)</span></p>
                                </td>
                                <td class="body-7-course-assessment-99_0pt height-10_0pt">
                                    <p><span contenteditable="true">Từ Chương 1 đến Chương 6</span></p>
                                </td>
                                <td class="body-7-course-assessment-72_0pt height-10_0pt">
                                    <p><span contenteditable="true">Từ 1 đến 9</span></p>
                                </td>
                                <td class="body-7-course-assessment-79_5pt height-10_0pt">
                                    <p><span contenteditable="true">Theo đáp án</span></p>
                                </td>
                                <td class="body-7-course-assessment-46_5pt height-10_0pt">
                                    <p><span contenteditable="true">50%</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="body-7-course-assessment-95_25pt height-10_0pt">
                                    <p><span contenteditable="true">Thi thực hành</span></p>
                                </td>
                                <td class="body-7-course-assessment-99_0pt height-10_0pt">
                                    <p><span contenteditable="true">Từ Chương 1 đến Chương 6</span></p>
                                </td>
                                <td class="body-7-course-assessment-72_0pt height-10_0pt">
                                    <p><span contenteditable="true">Từ 1 đến 8</span></p>
                                </td>
                                <td class="body-7-course-assessment-79_5pt height-10_0pt">
                                    <p><span contenteditable="true">Theo đáp án</span></p>
                                </td>
                                <td class="body-7-course-assessment-46_5pt height-10_0pt">
                                    <p><span contenteditable="true">50%</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {{!----}}
                {{!-- 8. Các quy định (Course requirements and expectation): --}}
                {{!----}}
                <div class="width16_cm">
                    <p class="section-content"><strong><span>8. Các quy định (Course requirements and
                                expectation):</span></strong></p>
                    <p class="section-content"><strong><span id="QD_TG">8.1. Quy định về tham dự lớp học</span></strong>
                    </p>
                    <div id="QD_TD" contenteditable="true">
                        <p class="section-content Thut-dau-dong DontRemove"><span contenteditable="true" id="QD_TD-1">
                                &nbsp;●&nbsp;Sinh viên có trách nhiệm tham dự đầy đủ các buổi học.Trong trường hợp phải
                                nghỉ học vì lý do bất khả kháng thì phải có giấy tờ chứng minh đầy đủ và hợp lý.
                            </span></p>
                        <p class="section-content Thut-dau-dong"><span contenteditable="true" id="QD_TD-2">
                                &nbsp;●&nbsp;Sinh viên vắng quá 20% số giờ dự giảng của học phần bị xem như không hoàn
                                thành học phần và phải đăng ký học lại vào học kỳ sau. Những trường hợp khác phải do Ban
                                Giám hiệu hoặc Trưởng khoa quyết định
                            </span></p>
                    </div>

                    <p class="section-content"><strong><span>8.2. Quy định về hành vi trong lớp học</span></strong></p>
                    <div id="QD_HV" contenteditable="true">
                        <p class="section-content Thut-dau-dong DontRemove"><span contenteditable="true" id="QD_HV-1">
                                &nbsp;●&nbsp;Sinh viên có trách nhiệm tham dự đầy đủ các buổi học. Trong trường hợp phải
                                nghỉ học vì lý do bất khả kháng thì phải có giấy tờ chứng minh đầy đủ và hợp lý.</span>
                        </p>
                        <p class="section-content Thut-dau-dong"><span contenteditable="true" id="QD_HV-2">
                                &nbsp;●&nbsp;Sinh viên vắng quá 20% số giờ dự giảng của học phần bị xem như không hoàn
                                thành học phần và phải đăng ký học lại vào học kỳ sau. Những trường hợp khác phải do Ban
                                Giám hiệu hoặc Trưởng khoa quyết định</span></p>
                    </div>

                    <p class="section-content"><strong><span>8.3. Quy định về học vụ</span></strong></p>
                    <div id="QD_HVu" contenteditable="true">
                        <p class="section-content Thut-dau-dong DontRemove"><span contenteditable="true" id="QD_HVu-1">
                                &nbsp;●&nbsp;Sinh viên có trách nhiệm tham dự đầy đủ các buổi học. Trong trường hợp phải
                                nghỉ học vì lý do bất khả kháng thì phải có giấy tờ chứng minh đầy đủ và hợp lý.</span>
                        </p>
                        <p class="section-content Thut-dau-dong"><span contenteditable="true" id="QD_HVu-2">
                                &nbsp;●&nbsp;Sinh viên vắng quá 20% số giờ dự giảng của học phần bị xem như không hoàn
                                thành học phần và phải đăng ký học lại vào học kỳ sau. Những trường hợp khác phải do Ban
                                Giám hiệu hoặc Trưởng khoa quyết định</span></p>
                    </div>
                </div>
                {{>AddElementP}}

                <div class="width16_cm">
                    <p class="section-content">&nbsp;</p>
                    <p class="section-content"><strong><span>9. Dự kiến danh sách cán bộ tham gia giảng
                                dạy</span></strong>
                    </p>
                    <p class="section-content">&nbsp;</p>
                    {{!----}}
                    {{!-- 9.Dự kiến danh sách cán bộ tham gia giảng dạy --}}
                    {{!----}}
                    <p class="section-content" contenteditable="true"><span id="HoTen"></span>TS. Nguyễn Bảo Ân</span>
                    </p>
                    <p class="section-content" contenteditable="true"><span id="HoTen"></span>Ths. Phạm Thị Trúc
                        Mai</span>
                    </p>
                    <p class="section-content">&nbsp;</p>
                    <p class="section-content"><span>Ngày phê duyệt: ....../......./ .......<em>&nbsp;
                                &nbsp;</em></span></p>

                    <table class="table-9-list-teacher">
                        <tbody>
                            <tr>
                                <td class="header-9-list-teacher-140_5pt">
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>TRƯỞNG
                                                KHOA</span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center"><em><span>(Ký và ghi rõ họ
                                                tên)</span></em>
                                    </p>
                                </td>
                                <td class="header-9-list-teacher-176_35pt">
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>TRƯỞNG BỘ MÔN
                                            </span></strong></p>
                                    <p class="margin-top-bottom-3pt text-center"><em><span>(Ký và ghi rõ họ
                                                tên)</span></em>
                                    </p>
                                </td>
                                <td class="header-9-list-teacher-153_4pt">
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>GIẢNG VIÊN
                                            </span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>BIÊN SOẠN</span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center" contenteditable="true">
                                        <strong><span>Nguyễn
                                                Bảo Ân</span></strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="body-9-list-teacher-140_5pt">
                                    <p class="section-content margin-top-bottom-3pt">
                                        <strong><span>&nbsp;</span></strong>
                                    </p>
                                </td>
                                <td class="body-9-list-teacher-176_35pt">
                                    <p class="section-content margin-top-bottom-3pt">
                                        <strong><span>&nbsp;</span></strong>
                                    </p>
                                </td>
                                <td class="body-9-list-teacher-153_4pt">
                                    <p class="section-content margin-top-bottom-3pt">
                                        <strong><span>&nbsp;</span></strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="body-9-list-teacher-140_5pt">
                                    <p class="section-content margin-top-bottom-3pt">
                                        <strong><span>&nbsp;</span></strong>
                                    </p>
                                </td>
                                <td class="body-9-list-teacher-176_35pt">
                                    <p class="section-content margin-top-bottom-3pt">
                                        <strong><span>&nbsp;</span></strong>
                                    </p>
                                </td>
                                <td class="body-9-list-teacher-153_4pt">
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>GIẢNG VIÊN
                                            </span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>PHẢN BIỆN</span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center" contenteditable="true">
                                        <strong><span>Phạm
                                                Thị Trúc
                                                Mai</span></strong>
                                    </p>
                                    <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="section-content"><span>&nbsp;</span></p>
                    <p class="section-content">&nbsp;</p>
                </div>
                {{>createFocus}}
            </div>
        </div>


    </div>
</div>
{{>table-2}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function sendA4Content() {
        // Lấy nội dung của phần tử a4
        var a4Content = document.getElementById('formInput_monHoc').innerHTML;

        // Gửi nội dung lên server bằng Axios
        axios.post('/pdf', { a4Content })
            .then(function (response) {
                console.log(response.data);
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    }
</script>
<script>
    function checkboxChanged(checkboxId) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]')
        checkboxes.forEach(function (checkbox) {
            if (checkbox.id !== checkboxId) {
                checkbox.checked = false
            }
        })
    }
</script>

<script>
    const MaMon = document.getElementById('MaMon');
    const PhuLuc = document.getElementById('PhuLuc');
    const TenMon = document.getElementById('TenMon');
    const SoGioTuHoc = document.getElementById('SoGioTuHoc');
    const TH = document.getElementById('TH');
    const LT = document.getElementById('LT');
    const MoTa = document.getElementById('MoTa');

    const LoaiHocPhan = document.getElementsByClassName("test");
    const SoTC_LT = document.getElementById('SoTC_LT');
    const SoTC_TH = document.getElementById('SoTC_TH');
    const TrinhDo_DT = document.getElementById('TrinhDo_DT');
    const ChuyenNganh = document.getElementById('ChuyenNganh');
    const HocKy = document.getElementById('HocKy');
    const NamHoc = document.getElementById('NamHoc');







    function getSkills() {
        var skillsContent = document.getElementById('KyNang').textContent;

        // Split the content into an array of skills
        {
            var skillsArray = skillsContent.split('\n').map(skill => skill.trim()).filter(skill => skill !== '');

            return skillsArray;
        }
    }

    // Function to display skills when the button is clicked
    function showSkills() {
        // Get the skills
        var skillsContent = document.getElementById('KyNang').textContent;

        // Display the skills (you can modify this part based on your application's needs)
        alert('Kỹ năng:', skillsContent);
    }
</script>