<div class="formInput">
    <form action="" class="formInput_monHoc">
        <div class="formInput_baseA4" id="formInput_baseA4">
           <div class="formInput_print">
            {{!-- <p class="section-content">&nbsp;</p>--}}
            {{! enter xuống dòng}}
                <p class="section-content text-right"><strong><span>PHỤ LỤC F </span></strong></p>
                <p class="section-content text-center"><strong><span>ĐỀ CƯƠNG CHI TIẾT HỌC PHẦN</span></strong></p>
                <p class="section-content text-center"><strong><span>THỐNG KÊ VÀ PHÂN TÍCH DỮ LIỆU</span></strong></p>
                <p class="section-content text-center"><strong><span>MSHP: 320045</span></strong></p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>1. Thông tin chung (General information):</span></strong></p>
               


                {{!-- table general-information --}}
                <table class="table-general-information-1 section-content">
                    <tbody>
                        <tr>
                            <td class="table-general-cell-1">
                                <p><strong><em>Loại học phần</em></strong></p>
                            </td>
                            <td class="table-general-cell-1">
                                <p><strong><em>Số tín chỉ</em></strong></p>
                            </td>
                            <td class="table-general-cell-1">
                                <p><strong><em>Số giờ dự giảng</em></strong></p>
                            </td>
                            <td class="table-general-cell-1">
                                <p><strong><em>Giờ tự học và giờ học khác</em></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-general-cell-1">
                                <p>Đại cương &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-family:Wingdings;">o</span></p>
                                <p>Cơ sở &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 🗹</p>
                                <p>Chuyên ngành &nbsp;&nbsp;<span style="font-family:  Wingdings;">o</span></p>
                            </td>
                            <td class="table-general-cell-1">
                                <p>Lý thuyết: &nbsp; &nbsp;&nbsp;2</p>
                                <p>Thực hành: &nbsp; &nbsp;1</p>
                            </td>
                            <td class="table-general-cell-1">
                                <p>Lý thuyết: &nbsp; &nbsp;&nbsp;30</p>
                                <p>Thực hành: &nbsp; &nbsp;30</p>
                            </td>
                            <td class="table-general-cell-1">
                                <p>90</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><strong><em><span>Đối tượng học</span></em><span>: &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></p>
                <p><span>Tr&igrave;nh độ đ&agrave;o tạo: Đại học</span></p>
                <p><span>Ng&agrave;nh: C&ocirc;ng nghệ Th&ocirc;ng tin</span></p>
                <p><span>Chuy&ecirc;n ng&agrave;nh: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;. (nếu c&oacute;)</span></p>
                <p><span>Học kỳ: V&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Năm thứ: 3</span></p>
                <p><strong><em><span>Điều kiện tham gia học phần:</span></em></strong></p>
           
           
                <table class="table-general-information-2">
                    <tbody>
                        <tr>
                            <td class="table-general-cell-2">Học phần ti&ecirc;n quyết</td>
                            <td colspan="2" class="table-general-colspan-2">Vi t&iacute;ch ph&acirc;n A1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;MSHP: 110042</td>
                        </tr>
                        <tr>
                            <td class="table-general-left-2">Học phần song h&agrave;nh</td>
                            <td colspan="2" class="table-general-right-2">Kh&ocirc;ng</td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="table-general-left-2">C&aacute;c y&ecirc;u cầu kh&aacute;c</td>
                            <td class="table-general-cell-2">Về kiến thức:</td>
                            <td class="table-general-colspan-2">kiến thức to&aacute;n học phổ th&ocirc;ng</td>
                        </tr>
                        <tr>
                            <td class="table-general-cell-2">Về kỹ năng:&nbsp;</td>
                            <td class="table-general-colspan-2">
                                <p>- Kỹ năng ph&acirc;n t&iacute;ch, giải quyết vấn đề</p>
                                <p>- Kỹ năng tập trung, ghi nhớ, t&iacute;nh to&aacute;n, biến đổi</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-general-cell-2">Về th&aacute;i độ:</td>
                            <td class="table-general-colspan-2">Chủ động trong học tập</td>
                        </tr>
                    </tbody>
                </table>

                <p class="section-content">&nbsp;</p>
                <p class="section-content">&nbsp;</p>
           
                <p class="section-content"><strong><span>2. Nguồn học liệu (Learning resources):</span></strong></p>
                
                <p class="section-content">&nbsp;</p>
                <table class="table_learning_resources">
                    <tbody>
                        {{!-- <tr>
                            <td class="table-learning-left">
                                <p><span>Gi&aacute;o tr&igrave;nh/T&agrave;i liệu học tập ch&iacute;nh</span></p>
                            </td>
                            <td class="table-learning-right">
                                <p class="table-learning-p">
                                    <span style="color:black;">
                                        [1] Nguyễn Văn Tuấn (2014). <em>Ph&acirc;n t&iacute;ch dữ liệu với R.</em> NXB Tổng hợp TP Hồ Ch&iacute; Minh.</span></p>
                                <p class="table-learning-p">
                                    <span style="color:black;">
                                        [2]<em>&nbsp;</em>Danielle Navarro, Ethan Weed (2021). <em>Learning Statistics with Python</em>. Online:&nbsp;
                                        </span><a href="https://ethanweed.github.io/pythonbook/landingpage.html">
                                <p class="table-learning-p">
                                    <span style="color:black;">
                                        [3]<em>&nbsp;</em>Peter Bruce, Andrew Bruce, Peter Gedeck (2020). <em>Practical Statistics for Data Scientists: 50+ Essential Concepts Using R and Python</em>. O&apos;Reilly Media.
                                        </span></p>
                                            </td>
                                            <td class="empty"></td>
                        </tr> --}}
                        <tr>
                            <td class="table-learning-left">
                                <p>Gi&aacute;o tr&igrave;nh/T&agrave;i liệu học tập ch&iacute;nh</p>
                            </td>
                            <td class="table-learning-right">
                                <p>[1] Nguyễn Văn Tuấn (2014). <em>Ph&acirc;n t&iacute;ch dữ liệu với R.</em> NXB Tổng hợp TP Hồ Ch&iacute; Minh.</p>
                                <p>[2]<em>&nbsp;</em>Danielle Navarro, Ethan Weed (2021). <em>Learning Statistics with Python</em>. Online:&nbsp;<a href="https://ethanweed.github.io/pythonbook/landingpage.html">https://ethanweed.github.io/pythonbook/landingpage.html</a>.</p>
                                <p>[3]<em>&nbsp;</em>Peter Bruce, Andrew Bruce, Peter Gedeck (2020). <em>Practical Statistics for Data Scientists: 50+ Essential Concepts Using R and Python</em>. O&apos;Reilly Media.</p>
                            </td>
                            <td class="empty"></td>
                        </tr>
                        <tr>
                            <td class="table-learning-left">
                                <p>T&agrave;i liệu tham khảo th&ecirc;m</p>
                            </td>
                            <td class="table-learning-right">
                                <p>[4] Jake VanderPlas (2017) <em>Python Data Science Handbook: Essential Tools for Working with Data</em>. O&apos;Reilly Media.</p>
                                <p>[5] Alan Agresti, Christine A. Franklin, Bernhard Klingenberg (2020). &nbsp;<em>Statistics:</em> <em>The Art and Science of Learning from Data 5<sup>th</sup> edition.&nbsp;</em>Pearson</p>
                            </td>
                            <td class="empty"></td>
                        </tr>
                        <tr>
                            <td class="cell">
                                <p>C&aacute;c loại học liệu kh&aacute;c</p>
                            </td>
                            <td class="content">
                                <p>[6] Mirko Stojiljković (2022). <em>Python Statistics Fundamentals: How to Describe Your Data</em></p>
                                <p>[7] FreeCodeCamp. <em>Courses: Data Analysis with Python</em><em><span style="font-size:16px;line-height:115%;color:black;">&nbsp;</span></em><span style="font-size:16px;line-height:115%;color:black;">[</span><a href="https://www.freecodecamp.org/learn/data-analysis-with-python"><span style="color:black;">https://www.freecodecamp.org/learn/data-analysis-with-python</span></a><span style="color:black;">].&nbsp;</span></p>
                                <p>[8] Dionysia Lemonaki (2022). <em>What is Data Analysis?</em></p>
                                <p>[9] Colaboratory-team, Craig Citro (2020). <em>Using Google Colab with GitHub</em> [</span><a href="https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb"><span style="color:black;">https://colab.research.google.com/github/<br>&nbsp;googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb</span></a><span style="color:black;">]</span></p>
                            </td>
                            <td class="empty"></td>
                        </tr>
                    </tbody>
                </table>
                <p class="section-content"><strong><span>3. Mô tả học phần (Course description):</span></strong></p>
           
                <p class="section-content Thut-dau-dong"><span style="color:black;">Học phần gi&uacute;p trang bị cho sinh vi&ecirc;n c&aacute;c kiến thức cơ bản về x&aacute;c suất v&agrave; thống k&ecirc; để ph&acirc;n t&iacute;ch dữ liệu trong nghi&ecirc;n cứu. Sinh vi&ecirc;n sẽ được học c&aacute;ch bi&ecirc;n tập dữ liệu, c&aacute;ch m&ocirc; tả dữ liệu bằng biểu đồ v&agrave; bằng c&aacute;c đặc trưng thống k&ecirc;, c&aacute;ch thu thập dữ liệu, thiết kế nghi&ecirc;n cứu v&agrave; kiểm định c&aacute;c giả thuyết thống k&ecirc; tr&ecirc;n ng&ocirc;n ngữ Python/R. Nhờ đ&oacute; sinh vi&ecirc;n c&oacute; thể ứng dụng c&aacute;c kiến thức của m&ocirc;n học để thực hiện c&aacute;c nghi&ecirc;n cứu khoa học v&agrave; học c&aacute;c m&ocirc;n học c&oacute; ứng dụng kiến thức thống k&ecirc; như Tr&iacute; tuệ nh&acirc;n tạo, Khai ph&aacute; dữ liệu&hellip; Đồng thời, kỹ năng sử dụng ng&ocirc;n ngữ Python/R gi&uacute;p sinh vi&ecirc;n c&oacute; thể dễ d&agrave;ng tham gia c&aacute;c cộng đồng ph&acirc;n t&iacute;ch số liệu để c&oacute; thể tự học v&agrave; nghi&ecirc;n cứu s&acirc;u hơn. Học phần cũng gi&uacute;p sinh vi&ecirc;n h&igrave;nh th&agrave;nh th&aacute;i độ v&agrave; nhận thức đ&uacute;ng đắn về vai tr&ograve; của thống k&ecirc; v&agrave; khoa học dữ liệu trong bối cảnh hiện đại.</span></p>
           
           </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function sendA4Content() {
      // Lấy nội dung của phần tử a4
      var a4Content = document.getElementById('formInput_baseA4').innerHTML;

      // Gửi nội dung lên server bằng Axios
      axios.post('/updateA4Content', { a4Content })
        .then(function (response) {
          console.log(response.data);
        })
        .catch(function (error) {
          console.error('Error:', error);
        });
    }
  </script>