<div class="formInput">
    <div class="formInput_monHoc"  id="formInput_monHoc"> 
        <div class="formInput_baseA4" id="formInput_baseA4">
           <div class="formInput_print" contenteditable="true">
    {{!-- <p class="section-content">&nbsp;</p>--}}
    {{! enter xuống dòng}}
    {{!----}}
                <p class="section-content text-right" contenteditable="true"><strong><span>PHỤ LỤC</span></strong></p>
                <p class="section-content text-center"><strong><span>ĐỀ CƯƠNG CHI TIẾT HỌC PHẦN</span></strong></p>
                <p class="section-content text-center"><strong><span>THỐNG KÊ VÀ PHÂN TÍCH DỮ LIỆU</span></strong></p>
                <p class="section-content text-center"><strong><span>MSHP: 320045</span></strong></p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>1. Thông tin chung (General information):</span></strong></p>
                <p class="section-content">&nbsp;</p>
    {{!-- table general-information --}}
        {{!-- 1. Thông tin c"class="body-course-content" (General information): --}}
    {{!-- table-1-general-information --}}
                <table class="table-1-general-information-1 section-content">
                    <tbody>
    {{!-- header-general-information-1 --}}
                        <tr>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Loại học phần</em></strong></p>
                            </td>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Số tín chỉ</em></strong></p>
                            </td>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Số giờ dự giảng</em></strong></p>
                            </td>
                            <td class="header-1-general-information-1">
                                <p><strong><em>Giờ tự học và giờ học khác</em></strong></p>
                            </td>
                        </tr>
    {{!-- body-general-information-1 --}}
                        <tr>
                            <td class="body-1-general-information-1">
                                <p>Đại cương &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-family:Wingdings;">o</span></p>
                                <p>Cơ sở &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 🗹</p>
                                <p>Chuyên ngành &nbsp;&nbsp;<span style="font-family:  Wingdings;">o</span></p>
                            </td>
                            <td class="body-1-general-information-1">
                                <p>Lý thuyết: &nbsp; &nbsp;&nbsp;2</p>
                                <p>Thực hành: &nbsp; &nbsp;1</p>
                            </td>
                            <td class="body-1-general-information-1">
                                <p>Lý thuyết: &nbsp; &nbsp;&nbsp;30</p>
                                <p>Thực hành: &nbsp; &nbsp;30</p>
                            </td>
                            <td class="body-1-general-information-1">
                                <p>90</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><strong><em><span>Đối tượng học</span></em><span>: &nbsp; &nbsp; &nbsp;&nbsp;</span></strong></p>
                <p><span>Tr&igrave;nh độ đ&agrave;o tạo: Đại học</span></p>
                <p><span>Ng&agrave;nh: C&ocirc;ng nghệ Th&ocirc;ng tin</span></p>
                <p><span>Chuy&ecirc;n ng&agrave;nh: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;. (nếu c&oacute;)</span></p>
                <p><span>Học kỳ: V&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Năm thứ: 3</span></p>
                <p><strong><em><span>Điều kiện tham gia học phần:</span></em></strong></p>
                <table class="table-1-general-information-2">
                    <tbody>
                        <tr>
                            <td class="header-1-general-information-2">Học phần ti&ecirc;n quyết</td>
                            <td colspan="2" class="body-1-general-colspan-2">Vi t&iacute;ch ph&acirc;n A1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;MSHP: 110042</td>
                        </tr>
                        <tr>
                            <td class="body-1-general-left-2">Học phần song h&agrave;nh</td>
                            <td colspan="2" class="body-1-general-right-2">Kh&ocirc;ng</td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="body-1-general-left-2">C&aacute;c y&ecirc;u cầu kh&aacute;c</td>
                            <td class="header-1-general-information-2">Về kiến thức:</td>
                            <td class="body-1-general-colspan-2">kiến thức to&aacute;n học phổ th&ocirc;ng</td>
                        </tr>
                        <tr>
                            <td class="header-1-general-information-2">Về kỹ năng:&nbsp;</td>
                            <td class="body-1-general-colspan-2">
                                <p>- Kỹ năng ph&acirc;n t&iacute;ch, giải quyết vấn đề</p>
                                <p>- Kỹ năng tập trung, ghi nhớ, t&iacute;nh to&aacute;n, biến đổi</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="header-1-general-information-2">Về th&aacute;i độ:</td>
                            <td class="body-1-general-colspan-2">Chủ động trong học tập</td>
                        </tr>
                    </tbody>
                </table>
                <p class="section-content">&nbsp;</p>
                <p class="section-content">&nbsp;</p>  
                <p class="section-content"><strong><span>2. Nguồn học liệu (Learning resources):</span></strong></p>      
                <p class="section-content">&nbsp;</p>
    {{!----}}
        {{!-- 2. Nguồn học liệu (Learning resources): --}}
    {{!----}}

                <table class="table-2-learning-resources"> 
                    <tbody>
                        <tr>
                            <td class="table-2-learning-header">
                                <p>Gi&aacute;o tr&igrave;nh/T&agrave;i liệu học tập ch&iacute;nh</p>
                            </td>
                            <td class="table-2-learning-body">
                                <p>[1] Nguyễn Văn Tuấn (2014). <em>Ph&acirc;n t&iacute;ch dữ liệu với R.</em> NXB Tổng hợp TP Hồ Ch&iacute; Minh.</p>
                                <p>[2]<em>&nbsp;</em>Danielle Navarro, Ethan Weed (2021). <em>Learning Statistics with Python</em>. Online:&nbsp;<a href="https://ethanweed.github.io/pythonbook/landingpage.html">https://ethanweed.github.io/pythonbook/landingpage.html</a>.</p>
                                <p>[3]<em>&nbsp;</em>Peter Bruce, Andrew Bruce, Peter Gedeck (2020). <em>Practical Statistics for Data Scientists: 50+ Essential Concepts Using R and Python</em>. O&apos;Reilly Media.</p>
                            </td>
                            <td class="empty"></td>
                        </tr>
                        
                       
                        <tr>
                            <td class="table-2-learning-header">
                                <p>T&agrave;i liệu tham khảo th&ecirc;m</p>
                            </td>
                            <td class="table-2-learning-body">
                                <p>[4] Jake VanderPlas (2017) <em>Python Data Science Handbook: Essential Tools for Working with Data</em>. O&apos;Reilly Media.</p>
                                <p>[5] Alan Agresti, Christine A. Franklin, Bernhard Klingenberg (2020). &nbsp;<em>Statistics:</em> <em>The Art and Science of Learning from Data 5<sup>th</sup> edition.&nbsp;</em>Pearson</p>
                            </td>
                            <td class="empty"></td>
                        </tr>
                        
                        
                        <tr>
                            <td class="table-2-learning-header">
                                <p>C&aacute;c loại học liệu kh&aacute;c</p>
                            </td>
                            <td class="table-2-learning-body">
                                <p>[6] Mirko Stojiljković (2022). <em>Python Statistics Fundamentals: How to Describe Your Data</em></p>
                                <p>[7] FreeCodeCamp. <em>Courses: Data Analysis with Python</em><em><span>&nbsp;</span></em><span>[</span><a href="https://www.freecodecamp.org/learn/data-analysis-with-python"><span >https://www.freecodecamp.org/learn/data-analysis-with-python</span></a><span >].&nbsp;</span></p>
                                <p>[8] Dionysia Lemonaki (2022). <em>What is Data Analysis?</em></p>
                                <p>[9] Colaboratory-team, Craig Citro (2020). <em>Using Google Colab with GitHub</em> [</span><a href="https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb"><span >https://colab.research.google.com/github/<br>&nbsp;googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb</span></a><span >]</span></p>
                            </td>
                            <td class="empty"></td>
                        </tr>
                    </tbody>  
                </table>

    {{!----}}
        {{!-- 3. Mô tả học phần (Course description): --}}
    {{!----}}

                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>3. Mô tả học phần (Course description):</span></strong></p> 
                <p class="section-content Thut-dau-dong"><span>
                    Học phần gi&uacute;p trang bị cho sinh vi&ecirc;n c&aacute;
                    c kiến thức cơ bản về x&aacute;c suất v&agrave; thống k&ecirc; 
                    để ph&acirc;n t&iacute;ch dữ liệu trong nghi&ecirc;
                    n cứu. Sinh vi&ecirc;n sẽ được học c&aacute;ch bi&ecirc;
                    n tập dữ liệu, c&aacute;ch m&ocirc; tả dữ liệu bằng biểu đồ v&agrave; 
                    bằng c&aacute;c đặc trưng thống k&ecirc;, c&aacute;ch thu thập dữ liệu, 
                    thiết kế nghi&ecirc;n cứu v&agrave; kiểm định c&aacute;
                    c giả thuyết thống k&ecirc; tr&ecirc;n ng&ocirc;n ngữ Python/R. 
                    Nhờ đ&oacute; sinh vi&ecirc;n c&oacute; thể ứng dụng c&aacute;c 
                    kiến thức của m&ocirc;n học để thực hiện c&aacute;c nghi&ecirc;n 
                    cứu khoa học v&agrave; học c&aacute;c m&ocirc;n học c&oacute; 
                    ứng dụng kiến thức thống k&ecirc; như Tr&iacute; tuệ nh&acirc;n tạo, 
                    Khai ph&aacute; dữ liệu&hellip; Đồng thời, kỹ năng sử dụng ng&ocirc;n 
                    ngữ Python/R gi&uacute;p sinh vi&ecirc;n c&oacute; thể dễ d&agrave;ng 
                    tham gia c&aacute;c cộng đồng ph&acirc;n t&iacute;ch số liệu để c&oacute; 
                    thể tự học v&agrave; nghi&ecirc;n cứu s&acirc;u hơn. 
                    Học phần cũng gi&uacute;p sinh vi&ecirc;n h&igrave;nh th&agrave;nh 
                    th&aacute;i độ v&agrave; nhận thức đ&uacute;ng đắn về vai tr&ograve; 
                    của thống k&ecirc; v&agrave; khoa học dữ liệu trong bối cảnh hiện đại.</span></p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>4. Chuẩn đầu ra của học phần (Course learning outcomes):</span></strong></p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content">Sau khi hoàn thành học phần, sinh viên có thể:</p>

    {{!-- Course learning outcomes --}}
        {{!-- 4. Chuẩn đầu ra của học phần (Course learning outcomes): --}}
    {{!-- Course learning outcomes --}}
                
                <table class="table-4-learning-outcomes">
                    <tbody>
    {{!-- header-learning-outcomes --}}
                        <tr>
                            <td class="header-4-learning-outcomes-1"><p><span>&nbsp;</span></p></td>
                            <td class="header-4-learning-outcomes-2"><p><strong>Chuẩn đầu ra của học phần</strong></p></td>
                            <td class="header-4-learning-outcomes-3"><p><strong>Đ&aacute;p ứng CĐR của CTĐT</strong></p></td>
                            <td class="header-4-learning-outcomes-4"><p><strong>Tr&igrave;nh độ năng lực</strong></p></td>
                            <td class="header-4-learning-outcomes-5"><p><strong>TUA</strong></p></td>
                        </tr>
                        
                        {{!-- <tr> tieu de 1 --}}
                        <tr>
                            <td colspan="5" class="body-4-learning-outcomes">
                                <div class="body-4-learning-outcomes-tital">
                                    <p class="decimal-list"><strong><em><span class="strong-text">❖	Về kiến thức:</span></em></strong></p>
                                </div>
                            </td>
                        </tr>
                        {{!-- <tr> noi dung --}}
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left">1.</p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">Trình bày các khái niệm cơ bản về xác suất</p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph">PLO1</p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center">2</p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph">TUA</p>
                            </td>
                        </tr>
                        {{!-- <tr> tieu de 2 --}}
                        <tr>
                            <td colspan="5" class="body-4-learning-outcomes">
                                <div class="body-4-learning-outcomes-tital">
                                    <p class="decimal-list"><strong><em><span class="strong-text">❖ Về kỹ năng (bao gồm kỹ năng chuyên môn và kỹ năng mềm)</span></em></strong></p>
                                </div>
                            </td>
                        </tr>
                        {{!-- <tr> noi dung --}}
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left">2.</p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">Trình bày các khái niệm cơ bản về xác suất</p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph">PLO1</p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center">2</p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph">TUA</p>
                            </td>
                        </tr>
                        {{!-- <tr> tieu de 3 --}}
                        <tr>
                            <td colspan="5" class="body-4-learning-outcomes">
                                <div class="body-4-learning-outcomes-tital">
                                    <p class="decimal-list"><strong><em><span class="strong-text">❖	Về thái độ:</span></em></strong></p>
                                </div>
                            </td>
                        </tr>
                        {{!-- <tr> noi dung --}}
                        <tr>
                            <td class="content-4-learning-outcomes-1">
                                <p class="text-left">3.</p>
                            </td>
                            <td class="content-4-learning-outcomes-2">
                                <p class="section-content">Trình bày các khái niệm cơ bản về xác suất</p>
                            </td>
                            <td class="content-4-learning-outcomes-3">
                                <p class="paragraph">PLO1</p>
                            </td>
                            <td class="content-4-learning-outcomes-4">
                                <p class="text-center">2</p>
                            </td>
                            <td class="content-4-learning-outcomes-5">
                                <p class="paragraph">TUA</p>
                            </td>
                        </tr>
                    </tbody>      
                </table>
                <p class="section-content">&nbsp;</p>
    {{!----}}
        {{!-- 5. Nội dung học phần (Course content) --}}
    {{!----}}
                <p class="section-content break"><strong><span>5. Nội dung học phần (Course content)</span></strong></p>
                
                <table class="table-5-course-content">
                    <tbody>
                    {{!-- header --}}
                        <tr>
                            <td rowspan="2" class="header-5-course-content-255_55pt">
                                <p style='header-5-course-content-p'><strong><span >Nội dung</span></strong></p>
                            </td>
                            <td rowspan="2" class="header-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span >CĐR học phần</span></strong></p>
                            </td>
                            <td colspan="2" class="header-5-course-content-85_25pt">
                                <p style='header-5-course-content-p'><strong><span >Số giờ</span></strong></p>
                            </td>
                            <td class="header-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span >Giờ tự học v&agrave; giờ học kh&aacute;c</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="header-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span >LT</span></strong></p>
                            </td>
                            <td class="header-5-course-content-55_85pt-2">
                                <p style='header-5-course-content-p'><strong><span >TH</span></strong></p>
                            </td>
                            <td class="header-5-course-content-55_85pt-2">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                        </tr>
                    {{!-- body - tital --}}
                        <tr>
                            <td class="body-5-course-content-255_55pt">
                                <p class = "table-5-course-content-p"><strong><span>Chương 1. C&aacute;c kh&aacute;i niệm cơ bản về x&aacute;c suất</span></strong></p>
                            </td>
                            <td class="body-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span >1</span></strong></p>
                            </td>
                            <td class="body-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-40_4pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                        </tr>
                    {{!-- body - content --}}
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class = "table-5-course-content-p"><span >1.1. Bổ t&uacute;c về giải t&iacute;ch tổ hợp</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td  class="body-content--course-content-40_4pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                        </tr>
                    {{!-- footer - content --}}    
                        <tr>
                            <td class="footer-5-course-content-255_55pt">
                                <p class="text-justify"><em><span >Kỹ năng mềm v&agrave; th&aacute;i độ</span></em></p>
                            </td>
                            <td colspan="4" class="footer-5-course-content-212_9pt">
                                <p class = "table-5-course-content-p"><span >9</span></p>
                            </td>
                        </tr>
                        {{!-- body - tital --}}
                        <tr>
                            <td class="body-5-course-content-255_55pt">
                                <p class = "table-5-course-content-p"><strong><span>Chương 1. C&aacute;c kh&aacute;i niệm cơ bản về x&aacute;c suất</span></strong></p>
                            </td>
                            <td class="body-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span >1</span></strong></p>
                            </td>
                            <td class="body-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-40_4pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                        </tr>
                    {{!-- body - content --}}
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class = "table-5-course-content-p"><span >1.1. Bổ t&uacute;c về giải t&iacute;ch tổ hợp</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td  class="body-content--course-content-40_4pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                        </tr>
                    {{!-- footer - content --}}    
                        <tr>
                            <td class="footer-5-course-content-255_55pt">
                                <p class="text-justify"><em><span >Kỹ năng mềm v&agrave; th&aacute;i độ</span></em></p>
                            </td>
                            <td colspan="4" class="footer-5-course-content-212_9pt">
                                <p class = "table-5-course-content-p"><span >9</span></p>
                            </td>
                        </tr>
                        {{!-- body - tital --}}
                        <tr>
                            <td class="body-5-course-content-255_55pt">
                                <p class = "table-5-course-content-p"><strong><span>Chương 1. C&aacute;c kh&aacute;i niệm cơ bản về x&aacute;c suất</span></strong></p>
                            </td>
                            <td class="body-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span >1</span></strong></p>
                            </td>
                            <td class="body-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-40_4pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                        </tr>
                    {{!-- body - content --}}
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class = "table-5-course-content-p"><span >1.1. Bổ t&uacute;c về giải t&iacute;ch tổ hợp</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td  class="body-content--course-content-40_4pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                        </tr>
                    {{!-- footer - content --}}    
                        <tr>
                            <td class="footer-5-course-content-255_55pt">
                                <p class="text-justify"><em><span >Kỹ năng mềm v&agrave; th&aacute;i độ</span></em></p>
                            </td>
                            <td colspan="4" class="footer-5-course-content-212_9pt">
                                <p class = "table-5-course-content-p"><span >9</span></p>
                            </td>
                        </tr>
                        {{!-- body - tital --}}
                        <tr>
                            <td class="body-5-course-content-255_55pt">
                                <p class = "table-5-course-content-p"><strong><span>Chương 1. C&aacute;c kh&aacute;i niệm cơ bản về x&aacute;c suất</span></strong></p>
                            </td>
                            <td class="body-5-course-content-71_8pt">
                                <p style='header-5-course-content-p'><strong><span >1</span></strong></p>
                            </td>
                            <td class="body-5-course-content-44_85pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-40_4pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p style='header-5-course-content-p'><strong><span >5</span></strong></p>
                            </td>
                        </tr>
                    {{!-- body - content --}}
                        <tr>
                            <td class="body-5-content-course-content-255_55pt">
                                <p class = "table-5-course-content-p"><span >1.1. Bổ t&uacute;c về giải t&iacute;ch tổ hợp</span></p>
                            </td>
                            <td class="body-5-content-course-content-71_8pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td class="body-5-content-course-content-44_85pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td  class="body-content--course-content-40_4pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                            <td class="body-5-course-content-55_85pt">
                                <p class = "table-5-course-content-p"><span >&nbsp;</span></p>
                            </td>
                        </tr>
                    {{!-- footer - content --}}    
                        <tr>
                            <td class="footer-5-course-content-255_55pt">
                                <p class="text-justify"><em><span >Kỹ năng mềm v&agrave; th&aacute;i độ</span></em></p>
                            </td>
                            <td colspan="4" class="footer-5-course-content-212_9pt">
                                <p class = "table-5-course-content-p"><span >9</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
    {{!----}}
        {{!-- 6. Phương pháp dạy và học (Teaching and learning methods): --}}
    {{!----}}            
                <p class="section-content"><strong><span>6. Phương pháp dạy và học (Teaching and learning methods):</span></strong></p>
                <p class="section-content Thut-dau-dong"><span>- Diễn giảng </span></p>
                <p class="section-content Thut-dau-dong"><span>- Vấn đáp (Questions – Answers)</span></p>
                <p class="section-content Thut-dau-dong"><span>- Hoạt động nhóm (Group-based Learning)</span></p>
                <p class="section-content Thut-dau-dong"><span>- Học dựa trên dự án (Project-based Learning)</span></p>
                <p class="section-content Thut-dau-dong"><span>- Thao tác mẫu (Demo)</span></p>
                <p class="section-content"><strong><span>7. Đánh giá học phần (Course assessment):</span></strong></p>
    {{!----}}
        {{!-- 7. Đánh giá học phần (Course assessment): --}}
    {{!----}}  
                <table class="table-7-course-assessment">
                    <tbody>
                {{!-- header-course-assessment --}}
                        <tr>
                            <td class="header-7-course-assessment-60_75pt">
                                <p><span>&nbsp;</span></p>
                            </td>
                            <td class="header-7-course-assessment-95_25pt">
                                <p><strong><span>H&igrave;nh thức đ&aacute;nh gi&aacute;/thời gian</span></strong></p>
                            </td>
                            <td class="header-7-course-assessment-99_0pt">
                                <p><strong><span>Nội dung&nbsp;</span></strong></p>
                                <p><strong><span>đ&aacute;nh gi&aacute;</span></strong></p>
                            </td>
                            <td class="header-7-course-assessment-72_0pt">
                                <p><strong><span>CĐR của học phần</span></strong></p>
                            </td>
                            <td class="header-7-course-assessment-79_5pt">
                                <p><strong><span>Ti&ecirc;u ch&iacute; đ&aacute;nh gi&aacute;</span></strong></p>
                            </td>
                            <td class="header-7-course-assessment-46_5pt">
                                <p><strong><span>Tỷ lệ %</span></strong></p>
                            </td>
                        </tr>
                {{!-- body-course-assessment --}}
                        <tr>
                            <td rowspan="2" class="body-7-course-assessment-60_75pt">
                                <p><strong><span>Đ&aacute;nh gi&aacute; qu&aacute; tr&igrave;nh</span></strong></p>
                            </td>
                            <td class="body-7-course-assessment-95_25pt">
                                <p><span>Kiểm tra l&yacute; thuyết hoặc</span></p>
                                <p><span>Kiểm tra thực h&agrave;nh</span></p>
                            </td>
                            <td class="body-7-course-assessment-99_0pt">
                                <p><span>Từ Chương 1 đến Chương 4</span></p>
                            </td>
                            <td class="body-7-course-assessment-72_0pt">
                                <p><span>Từ 1 đến 4</span></p>
                            </td>
                            <td class="body-7-course-assessment-79_5pt">
                                <p><span>Theo đ&aacute;p &aacute;n</span></p>
                            </td>
                            <td class="body-7-course-assessment-46_5pt">
                                <p><span>25%</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-7-course-assessment-95_25pt">
                                <p><span>B&agrave;i tập lớn</span></p>
                            </td>
                            <td class="body-7-course-assessment-99_0pt">
                                <p><span>Từ Chương 4 đến Chương 8</span></p>
                            </td>
                            <td class="body-7-course-assessment-72_0pt">
                                <p><span>Từ 3 đến 8</span></p>
                            </td>
                            <td class="body-7-course-assessment-79_5pt">
                                <p><span>Theo đ&aacute;p &aacute;n</span></p>
                            </td>
                            <td class="body-7-course-assessment-46_5pt">
                                <p><span>25%</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="body-7-course-assessment-60_75pt height-10_0pt">
                                <p><strong><span>Đ&aacute;nh gi&aacute; kết th&uacute;c học phần</span></strong></p>
                                <p><em><span>(Chọn 1 trong 2)</span></em></p>
                            </td>
                            <td class="body-7-course-assessment-95_25pt height-10_0pt">
                                <p><span>Đồ &aacute;n (nh&oacute;m)</span></p>
                            </td>
                            <td class="body-7-course-assessment-99_0pt height-10_0pt">
                                <p><span>Từ Chương 1 đến Chương 6</span></p>
                            </td>
                            <td class="body-7-course-assessment-72_0pt height-10_0pt"  >
                                <p><span>Từ 1 đến 9</span></p>
                            </td>
                            <td class="body-7-course-assessment-79_5pt height-10_0pt">
                                <p><span>Theo đ&aacute;p &aacute;n</span></p>
                            </td>
                            <td class="body-7-course-assessment-46_5pt height-10_0pt">
                                <p><span>50%</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-7-course-assessment-95_25pt" stype="height:10.0pt;">
                                <p><span>Thi thực h&agrave;nh</span></p>
                            </td>
                            <td class="body-7-course-assessment-99_0pt height-10_0pt">
                                <p><span>Từ Chương 1 đến Chương 6</span></p>
                            </td>
                            <td class="body-7-course-assessment-72_0pt height-10_0pt">
                                <p><span>Từ 1 đến 8</span></p>
                            </td>
                            <td class="body-7-course-assessment-79_5pt height-10_0pt">
                                <p><span>Theo đ&aacute;p &aacute;n</span></p>
                            </td>
                            <td class="body-7-course-assessment-46_5pt height-10_0pt">
                                <p><span>50%</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
    {{!----}}
        {{!-- 8. Các quy định (Course requirements and expectation): --}}
    {{!----}}    
                <p class="section-content"><strong><span>8. Các quy định (Course requirements and expectation):</span></strong></p>  
                <p class="section-content"><strong><span>8.1. Quy định về tham dự lớp học</span></strong></p>  
                <p class="section-content Thut-dau-dong"><span>●	Sinh viên có trách nhiệm tham dự đầy đủ các buổi học. Trong trường hợp phải nghỉ học vì lý do bất khả kháng thì phải có giấy tờ chứng minh đầy đủ và hợp lý.</span></p>
                <p class="section-content Thut-dau-dong"><span>●	Sinh viên vắng quá 20% số giờ dự giảng của học phần bị xem như không hoàn thành học phần và phải đăng ký học lại vào học kỳ sau. Những trường hợp khác phải do Ban Giám hiệu hoặc Trưởng khoa quyết định</span></p>
                
                <p class="section-content"><strong><span>8.2. Quy định về hành vi trong lớp học</span></strong></p>  
                <p class="section-content Thut-dau-dong"><span>●	Sinh viên có trách nhiệm tham dự đầy đủ các buổi học. Trong trường hợp phải nghỉ học vì lý do bất khả kháng thì phải có giấy tờ chứng minh đầy đủ và hợp lý.</span></p>
                <p class="section-content Thut-dau-dong"><span>●	Sinh viên vắng quá 20% số giờ dự giảng của học phần bị xem như không hoàn thành học phần và phải đăng ký học lại vào học kỳ sau. Những trường hợp khác phải do Ban Giám hiệu hoặc Trưởng khoa quyết định</span></p>
                <p class="section-content"><strong><span>8.3. Quy định về học vụ</span></strong></p>       
                <p class="section-content Thut-dau-dong"><span>●	Sinh viên có trách nhiệm tham dự đầy đủ các buổi học. Trong trường hợp phải nghỉ học vì lý do bất khả kháng thì phải có giấy tờ chứng minh đầy đủ và hợp lý.</span></p>
                <p class="section-content Thut-dau-dong"><span>●	Sinh viên vắng quá 20% số giờ dự giảng của học phần bị xem như không hoàn thành học phần và phải đăng ký học lại vào học kỳ sau. Những trường hợp khác phải do Ban Giám hiệu hoặc Trưởng khoa quyết định</span></p>
                
                <p class="section-content">&nbsp;</p>
                <p class="section-content"><strong><span>9. Dự kiến danh sách cán bộ tham gia giảng dạy</span></strong></p> 
                <p class="section-content">&nbsp;</p>
    {{!----}}
        {{!-- 9.Dự kiến danh sách cán bộ tham gia giảng dạy --}}
    {{!----}}  
                <p class="section-content">TS. Nguyễn Bảo Ân</p>
                <p class="section-content">Ths. Phạm Thị Trúc Mai</p>
                <p class="section-content">&nbsp;</p>
                <p class="section-content"><span>Ng&agrave;y ph&ecirc; duyệt: ....../......./ .......<em>&nbsp; &nbsp;</em></span></p>
              
                <table class="table-9-list-teacher">
                    <tbody>
                        <tr>
                            <td style="width: 140.5pt;border: 1pt solid white;padding: 0cm 5.4pt;vertical-align: top;">
                                <p class="margin-top-bottom-3pt text-center"><strong><span>TRƯỞNG KHOA</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><em><span>(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</span></em></p>
                            </td>
                            <td style="width: 176.35pt;border-top: 1pt solid white;border-right: 1pt solid white;border-bottom: 1pt solid white;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;">
                                <p class="margin-top-bottom-3pt text-center"><strong><span>TRƯỞNG BỘ M&Ocirc;N&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><em><span>(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</span></em></p>
                            </td>
                            <td style="width: 153.4pt;border-top: 1pt solid white;border-right: 1pt solid white;border-bottom: 1pt solid white;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;">
                                <p class="margin-top-bottom-3pt text-center"><strong><span>GIẢNG VI&Ecirc;N&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>BI&Ecirc;N SOẠN</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>Nguyễn Bảo &Acirc;n</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-9-list-teacher-140_5pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong></p>
                            </td>
                            <td class ="body-9-list-teacher-176_35pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong></p>
                            </td>
                            <td class ="body-9-list-teacher-153_4pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="body-9-list-teacher-140_5pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong></p>
                            </td>
                            <td class ="body-9-list-teacher-176_35pt">
                                <p class="section-content margin-top-bottom-3pt"><strong><span>&nbsp;</span></strong></p>
                            </td>
                            <td class ="body-9-list-teacher-153_4pt">
                                <p class="margin-top-bottom-3pt text-center"><strong><span>GIẢNG VI&Ecirc;N&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>PHẢN BIỆN</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>Phạm Thị Tr&uacute;c Mai</span></strong></p>
                                <p class="margin-top-bottom-3pt text-center"><strong><span>&nbsp;</span></strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="section-content"><span>&nbsp;</span></p>
                <p class="section-content">&nbsp;</p>
           </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function sendA4Content() {
      // Lấy nội dung của phần tử a4
      var a4Content = document.getElementById('formInput_monHoc').innerHTML;

      // Gửi nội dung lên server bằng Axios
      axios.post('/pdf', { a4Content })
        .then(function (response) {
          console.log(response.data);
        })
        .catch(function (error) {
          console.error('Error:', error);
        });
    }
</script>