<div class="layout_Admin">
  <div class="Admin_Nav">
    
  </div>

  <div class="Admin_product">
    <div class="Admin_product_list">
        {{{templates}}}
    </div>
  </div>
</div>
</div>
<script>
  {{!-- document.getElementById('modify__admin_hidden').style.display = 'block';
  document.getElementById('modify__user_hidden').style.display = 'none';
  document.getElementById('modify__project_hidden').style.display = 'none'; --}}
  document.getElementById('modify__SaveP_hidden').style.display = 'none';
  document.getElementById('modify__PDF_hidden').style.display = 'none';
  document.getElementById('modify__listProject_hidden').style.display = 'none';
</script>