<div class="formInput">
    <div class="formInput_monHoc" id="formInput_monHoc">

        <div class="formInput_baseA4" id="formInput_baseA4">
            <div class="PLO">
                <table>
                    {{#each processedPLOs}}
                    {{#if newGroup}}
                    <!-- Chỉ hiển thị tiêu đề này khi bắt đầu một nhóm PLO mới -->
                    <tr>
                        <th colspan="2">{{LoaiCDR_CT}}</th>
                    </tr>
                    {{/if}}
                    <tr>
                        <td class="ValuePLO">{{Ten_CDR}}</td>
                        <td style="text-align: justify;">{{NoiDung}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div class="formInput_print" spellcheck="false">
                <button class="btn" id="buttonSave">Save</button>
                {{{templates}}}
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        UpdateSTT_TB2();
        UpdateSTTskill_TB4()
    });
</script>
<script>
    
    function sendA4Content() {
        var a4Content = document.getElementById('formInput_monHoc').innerHTML;
        axios.post('/pdf', { a4Content })
            .then(function (response) {
                window.location.href = response.data.pdfPath;
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    }
    const buttonSave = document.getElementById('buttonSave');
    buttonSave.addEventListener('click', async function () {
        const userConfirmation = window.confirm('Bạn có chắc chắn muốn lưu dữ liệu không?');
        if (userConfirmation) {
            Save_Project();
            const urlParams = new URLSearchParams(window.location.search);
            const filename = urlParams.get('filename');
            var Datafilename = filename.toString();
           
            alert("Đã save")
            window.location.href = `../project/update/?filename=${Datafilename}`;

            //window.location.href = '../user/listProject'
        } else {
            console.log('Người dùng không đồng ý lưu dữ liệu.');
        }
    });

</script>
{{>table-4}}
{{> table-5}}
{{>createFocus}}
{{>CheckBox}}
{{>table-2}}
{{>CheckBox}}
{{>PostUpdate}}
{{>all_Autocomplete}}
{{>Autocomplete}}
{{>ChangeDropdownText}}
{{>CleanUpDataPost}}
{{>PostUpdate}}