.editor {
    position: relative;
}

.page {
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.15;
    text-align: justify;
    box-sizing: border-box;
    height: 297mm;
    width: 210mm;
    padding: 20mm 20mm 20mm 30mm;
    margin: 0 auto 5mm;
    border: 1px solid #d3d3d3;
    background: white;
    page-break-before: always; 
    page-break-after: always; 
    overflow: hidden;
}
.editor-table {
    width: 100%;
    border-collapse: collapse;
}

.editor-table td {
    border: 1px solid #d3d3d3;
    min-height: 20mm; /* Minimum height for a table row */
}

.textdiv {
    height: 16pt;
    background-color: white;
    text-align: center;
    color: brown;
}
.textflex {
    background-color: bisque;
    justify-content: center;
    display: flex;
}