.editor {
    position: relative;
}

.page {
    box-sizing: border-box;
    height: 297mm;
    width: 210mm;
    padding: 20mm 20mm 20mm 30mm;
    margin: 0 auto 5mm;
    border: 1px solid #d3d3d3;
    background: white;
    page-break-after: always;
    overflow: hidden;
}

.editor-table {
    width: 100%;
    border-collapse: collapse;
}

.editor-table td {
    border: 1px solid #d3d3d3;
    min-height: 20mm; /* Minimum height for a table row */
}