.section-content {
    margin: 0cm;
    color: black;
    text-align: justify;
}

.section-content strong {
    color: black; /* Màu cho các đoạn in đậm */
}

.section-content span {
    color: black; /* Màu cho các phần trong thẻ span */
}

.section-content.text-right {
    text-align: right; /* Căn chỉnh văn bản sang phải */
}

.section-content.text-center {
    text-align: center; /* Căn chỉnh văn bản giữa trang */
}