.table-course-assessment {
    width: 4.5e+2pt;
    margin-left:.5pt;
    border-collapse:collapse;
    border:none;
}
.header-course-assessment-60_75pt {
    width:60.75pt;
    border-top:none;
    border-left:none;
    border-bottom:solid black 1.0pt;
    border-right:solid black 1.0pt;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.header-course-assessment-95_25pt {
    width:95.25pt;
    border:solid black 1.0pt;
    border-left:none;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.header-course-assessment-99_0pt {
    width:99.0pt;
    border:solid black 1.0pt;
    border-left:none;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.header-course-assessment-72_0pt {
    width:72.0pt;
    border:solid black 1.0pt;
    border-left:none;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.header-course-assessment-79_5pt {
    width:79.5pt;
    border:solid black 1.0pt;
    border-left:none;
    padding:0cm 5.4pt 0cm 5.4pt;
}

.header-course-assessment-46_5pt {
    width:46.5pt;
    border:solid black 1.0pt;
    border-left:none;
    padding:0cm 5.4pt 0cm 5.4pt;
}


.body-course-assessment-95_25pt {
    width:95.25pt;
    border-top:none;
    border-left:none;
    border-bottom:solid black 1.0pt;
    border-right:solid black 1.0pt;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.body-course-assessment-99_0pt {
    width:99.0pt;
    border-top:none;
    border-left:none;
    border-bottom:solid black 1.0pt;
    border-right:solid black 1.0pt;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.body-course-assessment-72_0pt {
    width:72.0pt;
    border-top:none;
    border-left:none;
    border-bottom: solid black 1.0pt;
    border-right:solid black 1.0pt;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.body-course-assessment-79_5pt {
    width:79.5pt;
    border-top:none;
    border-left:none;
    border-bottom:solid black 1.0pt;
    border-right:solid black 1.0pt;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.body-course-assessment-46_5pt {
    width:46.5pt;
    border-top:none;
    border-left:none;
    border-bottom: solid black 1.0pt;
    border-right:solid black 1.0pt;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.body-course-assessment-60_75pt {
    width:60.75pt;
    border:solid black 1.0pt;
    border-top:none;
    padding:0cm 5.4pt 0cm 5.4pt;
}
.height-10_0pt {
    height: 10.0pt ;
}