/* header table-learning-outcomes */

.table-4-learning-outcomes {
    width: 4.7e+2pt;
    border-collapse: collapse;
    border: none;
}
.table-4-learning-outcomes .header-learning-outcomes-1{
    width: 26.75pt;
    border: solid black 1.0pt;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}
.table-4-learning-outcomes .header-learning-outcomes-2{
    width: 231.15pt;
    border: solid black 1.0pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}
.table-4-learning-outcomes .header-learning-outcomes-3{
    width: 69.15pt;
    border: solid black 1.0pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}
.table-4-learning-outcomes .header-learning-outcomes-4{
    width: 78.45pt;
    border: solid black 1.0pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}
.table-4-learning-outcomes .header-learning-outcomes-5{
    width: 55.35pt;
    border: solid black 1.0pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}

/* header table-body-outcomes */
.table-body-outcomes {
    width: 460.85pt;
    border: solid black 1.0pt;
    padding: 0cm 5.4pt;
    height: 17.5pt; 
}
.table-body-outcomes-tital{
    margin-bottom: 5px;
    list-style-type: undefined;
    margin-left: 26px;    
}
.table-body-outcomes-tital li {
    margin-bottom: 0cm;
    list-style-type: decimal;
    margin-left: -2.75px;   
}
/* table-content-outcomes */

.table-content-outcomes-1,
.table-content-outcomes-2,
.table-content-outcomes-3,
.table-content-outcomes-4,
.table-content-outcomes-5 {
    width: 26.75pt;
    border: solid black 1.0pt;
    border-top: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 34.45pt;
}
