.table-9-list-teacher { width: 4.7e+2pt;border-collapse:collapse;border:none; }
.header-9-list-teacher-140_5pt {
    width: 140.5pt;
    border: 1pt solid white;
    padding: 0cm 5.4pt;
    vertical-align: top;
}
.header-9-list-teacher-176_35pt,
.header-9-list-teacher-153_4pt {
    border-top: 1pt solid white;
    border-right: 1pt solid white;
    border-bottom: 1pt solid white;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.4pt;
    vertical-align: top;
}
.header-9-list-teacher-176_35pt {
    width: 176.35pt;
}

.header-9-list-teacher-153_4pt {
    width: 153.4pt;
}

.body-9-list-teacher-176_35pt,
.body-9-list-teacher-153_4pt,
.body-9-list-teacher-140_5pt {
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid white;
    border-right: 1pt solid white;
    padding: 0cm 5.4pt;
    vertical-align: top;
}
.body-9-list-teacher-153_4pt {
    width: 153.4pt;
}
.body-9-list-teacher-176_35pt {
    width: 176.35pt;
}
.body-9-list-teacher-140_5pt {
    border-image: initial;
    border-left: 1pt solid white;
}




