.table-9-list-teacher {
    width: 4.7e+2pt;border-collapse:collapse;border:none;
}
.table-9-list-teacher-p {
    margin:0cm;
    margin-top:3.0pt;
    margin-right:0cm;
    margin-bottom:3.0pt;
    margin-left:0cm;
    text-align:center;
    line-height:115%;
}

.header-9-list-teacher-140_5pt {
    width: 140.5pt;
    border: 1pt solid white;
    padding: 0cm 5.4pt;
    vertical-align: top;
    
}
.header-9-list-teacher-176_35pt {
    width: 176.35pt;
    border-top: 1pt solid white;
    border-right: 1pt solid white;
    border-bottom: 1pt solid white;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.4pt;
    vertical-align: top;
}
.header-9-list-teacher-153_4pt {
    width: 153.4pt;
    border-top: 1pt solid white;
    border-right: 1pt solid white;
    border-bottom: 1pt solid white;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.4pt;
    vertical-align: top;
}