.table-learning-resources {
    width: 4.7e+2pt;
    border-collapse:collapse;
    border:none;
}

.table-learning-left {
    width: 116.75pt;
    border: 1pt solid black;
    padding: 0cm 5.4pt;
    vertical-align: top;
}
/* style="width:351.0pt;border:solid black 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;" */
.table-learning-right {
    width: 351pt;
    border:1px solid black;
    padding:0cm 5.4pt 0cm 5.4pt;
    vertical-align: top;
    
}
.table-learning-p {
    margin:6pt 0cm 6pt 15.1pt;
    text-align:justify;
    text-indent:-17.6pt;
    border:none;
}



.table_learning_resources {
    width: 4.7e+2pt;
    border-collapse: collapse;
    border: none;
}

.section-content {
    margin: 0cm;
    color: black;
    text-align: justify;
}

.section-content strong {
    color: black; 
}

.section-content span {
    color: black; 
}

.section-content.text-right {
    text-align: right; 
}

.section-content.text-center {
    text-align: center; 
}
.Thut-dau-dong {
    text-indent:36.0pt;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right; 
}
.text-left {
    text-align: left; 
}
.text-justify {
    text-align: justify;
}