/* table */
.table-course-content {
    width: 4.7e+2pt;
    border-collapse:collapse;
    border:none;

}

/* header*/

.header-course-content-255_55pt {
    width: 255.55pt;
    border: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 70.6pt;vertical-align: top;
}
.header-course-content-71_8pt {
    width: 71.8pt;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.75pt;
    height: 70.6pt;
    vertical-align: top;
}
.header-course-content-85_25pt {
    width: 85.25pt;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.75pt;
    height: 70.6pt;
    vertical-align: top;
}
.header-course-content-55_85pt {
    width: 55.85pt;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.75pt;
    height: 70.6pt;vertical-align: top;
}

.header-course-content-44_85pt {
    width: 44.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 6.6pt;
    vertical-align: top;
}
.header-course-content-40_4pt {
    width: 40.4pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 6.6pt;
    vertical-align: top;
}
.header-course-content-55_85pt-2 {
    width: 40.4pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 6.6pt;
    vertical-align: top;
}
.body-course-content-255_55pt {
    width: 255.55pt;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-left: 1pt solid black;
    border-image: initial;
    border-top: none;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-course-content-71_8pt {
    width: 71.8pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-course-content-44_85pt {
    width: 44.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-course-content-40_4pt {
    width: 40.4pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top; 
}
.body-course-content-55_85pt {
    width: 55.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-content-course-content-255_55pt {
    width: 255.55pt;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-left: 1pt solid black;
    border-image: initial;border-top: none;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}

.body-content-course-content-71_8pt {
    width: 71.8pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-content-course-content-44_85pt {
    width: 44.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-content--course-content-40_4pt {
    width: 40.4pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-course-content-55_85pt {
    width: 55.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.footer-course-content-255_55pt { 
    width: 255.55pt;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-left: 1pt solid black;
    border-image: initial;
    border-top: none;
    padding: 0cm 5.75pt;
    height: 29.3pt;
    vertical-align: top;
}
.footer-course-content-212_9pt {
    width: 212.9pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 29.3pt;
    vertical-align: top;
}
.table-course-content-p {
    margin-top:3.0pt;
    margin-right:0cm;
    margin-bottom:7.2pt;
    margin-left:0cm;
    line-height:115%;
}
.header-course-content-p {
    margin-top:3.0pt;
    margin-right:0cm;
    margin-bottom:7.2pt;
    margin-left:0cm;
    text-align:center;
}