/* table 1 */
.table-general-information-1 {
    width: 4.7e+2pt;
    border-collapse: collapse;
    border: none;
}

.table-general-cell-1 {
    width: 95.25pt;
    border: 1px solid black;
    border-image: initial;
    background: white;
    padding: 0cm 5.4pt;
    vertical-align: top;
}

.table-general-cell-1 p {
    margin: 0cm;
}


/* table 2 */

    /* width: 625px; */
 
.table-general-information-2 {
    width: 625px;
    border-collapse: collapse;
    border: none;
}

.table-general-cell-2 {
    width: 131.35pt;
    border: solid black 1.0pt;
    padding: 0cm 5.4pt;
    height: 16.8pt;
}

.table-general-colspan-2 {
    width: 336pt;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 16.8pt;
    vertical-align: top;
}

.table-general-left-2 {
    width: 131.35pt;
    border-top: none;
    border-left: solid black 1.0pt;
    border-bottom: solid black 1.0pt;
    border-right: solid windowtext 1.0pt;
    padding: 0cm 5.4pt;
    height: 17.4pt;
}

.table-general-right-2 {
    width: 336pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid windowtext;
    padding: 0cm 5.4pt;
    height: 17.4pt;
    vertical-align: top;
}
