.list_project {
    background-color: white; /* Light grey background */
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Slight shadow for depth */
    max-width: 800px; /* Set a max-width for the container */
    margin: 20px auto; /* Center the container */
    font-family: Arial, sans-serif; 
}

.LP-stital h1 {
    text-align: center;
    color: #333; /* Dark grey text */
    margin-bottom: 20px;
}

.LP-product-item {
    background-color: #ffffff; /* White background for items */
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.LP-product-item p {
    margin: 0 0 10px; /* Space out the paragraphs */
    color: #666; /* Slightly darker text for readability */
}

.LP-product-item button {
    background-color: #4CAF50; /* A pleasant green color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.LP-product-item button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

/* Additional style for delete button if needed */
.LP-product-item button:nth-child(3) {
    background-color: #f44336; /* Red color for delete */
}

.LP-product-item button:nth-child(3):hover {
    background-color: #d73833; /* Slightly darker red on hover */
}

.hidden {
    display: none; /* Hide elements with this class */
}