.list_project {
    background-color: #e2e6e9;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-family: Arial, sans-serif; 
    height: 100vh;
    min-height: 100vh;
}

.LP-stital h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.LP-product-item {
    background-color: #ffffff; 
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.LP-product-item p {
    margin: 0 0 10px; 
    color: #666;
}

.LP-product-item button {
    background-color: #4CAF50; /* A pleasant green color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.LP-product-item button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

/* Additional style for delete button if needed */
.LP-product-item button:nth-child(3) {
    background-color: #f44336; /* Red color for delete */
}

.LP-product-item button:nth-child(3):hover {
    background-color: #d73833; /* Slightly darker red on hover */
}

.hidden {
    display: none; /* Hide elements with this class */
}