/* page table page-breaks */
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }

body{ font-size: 13pt;line-height: 1.15;font-family: 'Times New Roman', Times, serif;}
/* table_general_information */
/* table 1 */
.table-general-information-1 {
    width: 625px;
    border-collapse: collapse;
    border: none;
}

.table-general-cell-1 {
    width: 95.25pt;
    border: 1px solid black;
    border-image: initial;
    background: white;
    padding: 0cm 5.4pt;
    vertical-align: top;
}

.table-general-cell-1 p {
    margin: 0cm;
}


/* table 2 */

    /* width: 625px; */
 
.table-general-information-2 {
    width: 625px;
    border-collapse: collapse;
    border: none;
}

.table-general-cell-2 {
    width: 131.35pt;
    border: solid black 1.0pt;
    padding: 0cm 5.4pt;
    height: 16.8pt;
}

.table-general-colspan-2 {
    width: 336pt;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 16.8pt;
    vertical-align: top;
}

.table-general-left-2 {
    width: 131.35pt;
    border-top: none;
    border-left: solid black 1.0pt;
    border-bottom: solid black 1.0pt;
    border-right: solid windowtext 1.0pt;
    padding: 0cm 5.4pt;
    height: 17.4pt;
}

.table-general-right-2 {
    width: 336pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid windowtext;
    padding: 0cm 5.4pt;
    height: 17.4pt;
    vertical-align: top;
}









/* table_learning_resources */
.table-learning-resources {
    width: 4.7e+2pt;
    border-collapse:collapse;
    border:none;
}

.table-learning-left {
    width: 116.75pt;
    border: 1pt solid black;
    padding: 0cm 5.4pt;
    vertical-align: top;
}
/* style="width:351.0pt;border:solid black 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;" */
.table-learning-right {
    width: 351pt;
    border:1px solid black;
    padding:0cm 5.4pt 0cm 5.4pt;
    vertical-align: top;
    
}
.table-learning-p {
    margin:6pt 0cm 6pt 15.1pt;
    text-align:justify;
    text-indent:-17.6pt;
    border:none;
}



.table_learning_resources {
    width: 4.7e+2pt;
    border-collapse: collapse;
    border: none;
}

.section-content {
    margin: 0cm;
    color: black;
    text-align: justify;
}

.section-content strong {
    color: black; /* Màu cho các đoạn in đậm */
}

.section-content span {
    color: black; /* Màu cho các phần trong thẻ span */
}

.section-content.text-right {
    text-align: right; /* Căn chỉnh văn bản sang phải */
}

.section-content.text-center {
    text-align: center; /* Căn chỉnh văn bản giữa trang */
}
.Thut-dau-dong {
    text-indent:36.0pt;
}

/* header table-learning-outcomes */

.table-learning-outcomes {
    width: 625px;
    border-collapse: collapse;
    border: none;
}
.table-learning-outcomes .table-header-outcomes-1{
    width: 26.75pt;
    border: solid black 1.0pt;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}
.table-learning-outcomes .table-header-outcomes-2{
    width: 231.15pt;
    border: solid black 1.0pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}
.table-learning-outcomes .table-header-outcomes-3{
    width: 69.15pt;
    border: solid black 1.0pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}
.table-learning-outcomes .table-header-outcomes-4{
    width: 78.45pt;
    border: solid black 1.0pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}
.table-learning-outcomes .table-header-outcomes-5{
    width: 55.35pt;
    border: solid black 1.0pt;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 51.4pt;
    text-align: center;
}

/* header table-body-outcomes */
.table-body-outcomes {
    width: 460.85pt;
    border: solid black 1.0pt;
    padding: 0cm 5.4pt;
    height: 17.5pt; 
}
.table-body-outcomes-tital{
    margin-bottom: 5px;
    list-style-type: undefined;
    margin-left: 26px;    
}
.table-body-outcomes-tital li {
    margin-bottom: 0cm;
    list-style-type: decimal;
    margin-left: -2.75px;   
}
/* table-content-outcomes */

.table-content-outcomes-1,
.table-content-outcomes-2,
.table-content-outcomes-3,
.table-content-outcomes-4,
.table-content-outcomes-5 {
    width: 26.75pt;
    border: solid black 1.0pt;
    border-top: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    height: 34.45pt;
}
.break {
    page-break-before: always !important;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right; 
}
.text-left {
    text-align: left; 
}
.text-justify {
    text-align: justify;
}


/* table */
.table-course-content {
    width: 4.7e+2pt;
    border-collapse:collapse;
    border:none;

}

/* header*/

.header-course-content-255_55pt {
    width: 255.55pt;
    border: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 70.6pt;vertical-align: top;
}
.header-course-content-71_8pt {
    width: 71.8pt;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.75pt;
    height: 70.6pt;
    vertical-align: top;
}
.header-course-content-85_25pt {
    width: 85.25pt;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.75pt;
    height: 70.6pt;
    vertical-align: top;
}
.header-course-content-55_85pt {
    width: 55.85pt;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.75pt;
    height: 70.6pt;vertical-align: top;
}

.header-course-content-44_85pt {
    width: 44.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 6.6pt;
    vertical-align: top;
}
.header-course-content-40_4pt {
    width: 40.4pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 6.6pt;
    vertical-align: top;
}
.header-course-content-55_85pt-2 {
    width: 40.4pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 6.6pt;
    vertical-align: top;
}
.body-course-content-255_55pt {
    width: 255.55pt;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-left: 1pt solid black;
    border-image: initial;
    border-top: none;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-course-content-71_8pt {
    width: 71.8pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-course-content-44_85pt {
    width: 44.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-course-content-40_4pt {
    width: 40.4pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top; 
}
.body-course-content-55_85pt {
    width: 55.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-content-course-content-255_55pt {
    width: 255.55pt;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-left: 1pt solid black;
    border-image: initial;border-top: none;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}

.body-content-course-content-71_8pt {
    width: 71.8pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-content-course-content-44_85pt {
    width: 44.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-content--course-content-40_4pt {
    width: 40.4pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.body-course-content-55_85pt {
    width: 55.85pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 14.35pt;
    vertical-align: top;
}
.footer-course-content-255_55pt { 
    width: 255.55pt;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-left: 1pt solid black;
    border-image: initial;
    border-top: none;
    padding: 0cm 5.75pt;
    height: 29.3pt;
    vertical-align: top;
}
.footer-course-content-212_9pt {
    width: 212.9pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
    padding: 0cm 5.75pt;
    height: 29.3pt;
    vertical-align: top;
}
.table-course-content-p {
    margin-top:3.0pt;
    margin-right:0cm;
    margin-bottom:7.2pt;
    margin-left:0cm;
    line-height:115%;
}
.header-course-content-p {
    margin-top:3.0pt;
    margin-right:0cm;
    margin-bottom:7.2pt;
    margin-left:0cm;
    text-align:center;
}