/* page table page-breaks */
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }

body{ font-size: 13pt;line-height: 1.15;font-family: 'Times New Roman', Times, serif;}
/* table_general_information */
/* table 1 */
.table-general-information-1 {
    width: 625px;
    border-collapse: collapse;
    border: none;
}

.table-general-cell-1 {
    width: 95.25pt;
    border: 1px solid black;
    border-image: initial;
    background: white;
    padding: 0cm 5.4pt;
    vertical-align: top;
}

.table-general-cell-1 p {
    margin: 0cm;
}


/* table 2 */

    /* width: 625px; */
 
.table-general-information-2 {
    width: 625px;
    border-collapse: collapse;
    border: none;
}

.table-general-cell-2 {
    width: 131.35pt;
    border: solid black 1.0pt;
    padding: 0cm 5.4pt;
    height: 16.8pt;
}

.table-general-colspan-2 {
    width: 336pt;
    border-top: 1pt solid black;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    border-image: initial;
    border-left: none;
    padding: 0cm 5.4pt;
    height: 16.8pt;
    vertical-align: top;
}

.table-general-left-2 {
    width: 131.35pt;
    border-top: none;
    border-left: solid black 1.0pt;
    border-bottom: solid black 1.0pt;
    border-right: solid windowtext 1.0pt;
    padding: 0cm 5.4pt;
    height: 17.4pt;
}

.table-general-right-2 {
    width: 336pt;
    border-top: none;
    border-left: none;
    border-bottom: 1pt solid black;
    border-right: 1pt solid windowtext;
    padding: 0cm 5.4pt;
    height: 17.4pt;
    vertical-align: top;
}









/* table_learning_resources */
.table-learning-resources {
    width: 4.7e+2pt;
    border-collapse:collapse;
    border:none;
}

.table-learning-left {
    width: 116.75pt;
    border: 1pt solid black;
    padding: 0cm 5.4pt;
    vertical-align: top;
}
/* style="width:351.0pt;border:solid black 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;" */
.table-learning-right {
    width: 351pt;
    border:1px solid black;
    padding:0cm 5.4pt 0cm 5.4pt;
    vertical-align: top;
    
}
.table-learning-p {
    margin:6pt 0cm 6pt 15.1pt;
    text-align:justify;
    text-indent:-17.6pt;
    border:none;
}



.table_learning_resources {
    width: 4.7e+2pt;
    border-collapse: collapse;
    border: none;
}

.section-content {
    margin: 0cm;
    color: black;
    text-align: justify;
}

.section-content strong {
    color: black; /* Màu cho các đoạn in đậm */
}

.section-content span {
    color: black; /* Màu cho các phần trong thẻ span */
}

.section-content.text-right {
    text-align: right; /* Căn chỉnh văn bản sang phải */
}

.section-content.text-center {
    text-align: center; /* Căn chỉnh văn bản giữa trang */
}
.Thut-dau-dong {
    text-indent:36.0pt;
}