:root {
    --background-main: #f5f5f5;
    --text-Black:black;
    --font-size: 1.05em;
    --line-height: 1.4;
    --font-family: 'Times New Roman', Times, serif;
    --color-white: #ffffff;
}
.Thut-dau-dong {
    text-indent:36.0pt;
}