:root {
    --background-main: #f5f5f5;
    --text-Black: black;
    --font-size: 1.05em;
    --line-height: 1.4;
    --font-family: 'Times New Roman', Times, serif;
    --color-white: #ffffff;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
width: 8px;
height: 8px;
}

::-webkit-scrollbar-thumb{
background-color: rgb(202, 202, 202);
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
background-color: rgb(168, 168, 168);
}

::-webkit-scrollbar-track{
background-color: transparent;
}

/* viết như word */
[contenteditable] {
    outline: 0px solid transparent;
    
}
/* thụt đầu dòng */
.Thut-dau-dong {
    text-indent: 36.0pt;
}
.padding-top-bottom-5_4pt {
    padding:0cm 5.4pt;
}
.margin-top-bottom-3pt {
    margin: 3pt 0cm;
}

.section-content {
    font-size: 13pt;
    font-family: calc(--font-family);
    margin: 0cm;
    color: black;
    text-align: justify;
}
strong,
span {
    color: black;
}
/* căng phải */
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
/* căng giữa */
.text-center {
    text-align: center;
}
/* chiều cao 10pt */
.height-10_0pt {
    height: 10.0pt;
}
/* căng đều */
.text-justify {
    text-align: justify;
}    
.display-flex {
    display: flex;
    flex-direction: row;
   
}

.PLO {
    border: 1px solid #d4d4d4;
    background-color: burlywood;
    color: black; 
    width: 450px;
    text-align: justify;
    height: 100vh; 
    max-height: 700px; 
    position: sticky;
    top: 5px; 
    padding: 20px; 
    margin-right: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow-y: auto; 
    font-family: 'Arial', sans-serif;
    align-items: flex-start; 
}
@media (max-width: 1100px) {
    .PLO {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
    }
}
.PLO th {
    text-align: left; 
    padding-bottom: 10px; 
    border-bottom: 1px solid #FFF; 
}

.PLO tr {
    margin-bottom: 10px; 
    border-bottom: 1px solid #FFF;
}

.hungtext {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
}
.flex-row-text {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.test input[type="checkbox"] {
    width: 18pt;
    text-align: center;
    margin-bottom: 6px;
    background-color: #FA9E57;
}
.text-nghien{
    font-style: italic;
}
.hidden {
    display: none;
}
#giaotrinh1Div {
    width: 100%;
    border-bottom: 1px dashed  #FA9E57;
    padding: 0 5,4pt;
}
.width16_cm,
.FormQuyDinh,
.NameContent_width16_cm,
.FormGeneral_information,
.formLearningResources,
.CourseLearningOutcomes,
.FormQuyDinh,
.TeachingAndLearningMethods,
.Print__pdf-CDR
{
    width: 16cm;
}
.FormQuyDinh {
    text-align: justify;
}
.strong {
    font-weight: bold;
}
#modify__admin_hidden { 
    font-size: 20px;
}
.instructionForm-table5,
.instructionForm-table4,
.instructionForm-table2
 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 350px;
  min-width:  300px;
  
  border: 1px solid black;
  margin-left: 10px;
  padding: 7pt;
  background-color: burlywood;
  .modyfi__flex {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items:flex-start;
    i {
        margin-left: 15px;
        height: 20px;
        width: 20px;
        background-color: #6C757D;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
  }
  button {
    width: 100%;
    margin: 3px 0;
  }
}

.Stick__4 {
    margin-top: 15px;
        border-radius: 5px;
        margin-left: 15px;
        height: 20px;
        width: 20px;
        font-size: x-large;
        color: #6C757D;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
}
.instructionForm-table5 {
    max-width: 300px;
}

p {
    line-height: 13pt; /* Set the line height to the same value as the minimum height */

    padding: 2px;
}

.dropdown-list {
  display: none;
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 99;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-list div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}

.dropdown-list div:last-child {
  border-bottom: none;
}
.HocLieu,
.TaiLieuThamKhao,
.giaotrinh {
    font-size: 13pt;
    line-height: 1.15;
}

.dropdown-list div:hover {
  background-color: #e9e9e9;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    span {
        width: 100%;
        text-align: center;
    }
}

.dropdown-content,
.dropdown-content-5,
.dropdown-content-5-last,
.dropdown-content-KT7,
.dropdown-content-chuong {
    overflow-y: auto;
    height: auto;
    max-height: 150px;
    width: 150px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    right: 0;
    min-width: 40pt;
    text-align: center;
}

.dropdown-content li,
.dropdown-content-5 li,
.dropdown-content-5-last li,
.dropdown-content-KT7 li,
.dropdown-content-chuong li{
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown-content li:hover ,
.dropdown-content-5 li:hover,
.dropdown-content-5-last li:hover,
.dropdown-content-KT7 li:hover,
.dropdown-content-chuong li:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content-5,
.dropdown:hover .dropdown-content-5-last,
.dropdown:hover .dropdown-content-KT7,
.dropdown:hover .dropdown-content-chuong{
    display: block;
}
.ModifyTB2 {
    display: flex;
    justify-content: space-between;
}
.autocomplete,
.autocompletetext,
.Autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  
}
.Autocomplete {
   
}
.with400px {
    width: 400px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.autocomplete-items {
  width: 400px;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.modify__button_save{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    position: fixed;
    z-index: 5;
    right: 60px;
    top: 150px;
    gap: 10px;
}
.modify__button_program{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    position: fixed;
    z-index: 5;
    right: 60px;
    top: 120px;
    gap: 10px;
}