.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-family);
    background-color:white;
    height: 100%;
    min-height: 100vh;
    z-index: -999;
}
.header {
    width: 100%;
    background-color: var(--color-white);
    z-index: 2;

}
.body { 

    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid #ccc;

}
