
.container-card {
  width: 100%;
  min-height: 100vh;
  display: grid;
    grid-template-columns: repeat( auto-fit, minmax(800px, 1fr) );
    gap: 30px;
}

.card {
  margin: auto;


  width: 900px;
  max-width: 900px;
}

.card:hover {

}

.card-body {
  padding: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

#_id {
  background-color: #e9ecef;
  color: #495057;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}