
  .container {
  max-width: 900px; /* or your preferred width */
  width: 900px;
  margin: 10px auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 900px;
  max-width: 900px
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

#_id {
  background-color: #e9ecef;
  color: #495057;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}